<!doctype html>
<html ng-app="app" ng-controller="mainCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="fragment" content="!" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="keywords" content="YipTV,TV,Online TV,IP TV">
    <meta name="description" content="YipTV">
    <base href="/">
    <link rel=”alternate” href=”http://yiptv.com{{currentRoute}}?lang=es” hreflang=”es” />
    <link rel=”alternate” href=”http://yiptv.com{{currentRoute}}” hreflang=”x-default” />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <style>
        .ng-hide {
            display: none !important;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/fonts.css"/>
    <link rel="stylesheet" href="styles/app.css"/>
    <!-- endbuild -->
    <title ng-bind="appConfig.appName">YipTV</title>
</head>
<body ng-cloak>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo"><a href="/"><img src="img/logo.png" alt="YipTV" title="YipTV"></a></div>
            </div>
            <div ng-show="showHeader" class="collapse navbar-collapse pull-right right-box home" id="navbar-collapse-1">
                <div class="right-nav">
                    <div class="language"><span translate="INDEX_SWITCH_TO">Switch to </span><a href="#" ng-click="changeLanguage()" translate="INDEX_OTHER_LANGUAGE">English</a></div>
                    <a href="/refer-a-friend" access-level="accessLevels.public" class="btn-sign" translate="INDEX_REFER_FRIEND">Refer a Friend</a>
                    <a href="/sign-in" access-level="accessLevels.anon" class="btn-sign" translate="INDEX_SIGN_IN">Sign In</a>
                    <a href="/sign-up/paid" access-level="accessLevels.anon" class="btn-sign1" translate="INDEX_JOIN_NOW">Join Now</a>
                    <a href="/sign-up/free" access-level="accessLevels.anon" class="btn-sign2" translate="INDEX_TRY_FREE">Try for 30 Days</a>
                    <a ng-click="openAio()" access-level="accessLevels.user" class="btn-sign" translate="INDEX_WATCH_NOW">Watch Now</a>
                    <a href="/account" access-level="accessLevels.user" class="btn-sign" translate="INDEX_ACCOUNT">Account</a>
                    <!--<a href="/sign-out" access-level="accessLevels.user" class="btn-sign" translate="INDEX_SIGN_OUT">Sign Out</a>-->
                    <div class="welcome-user" access-level="accessLevels.user"><span translate="INDEX_WELCOME">Welcome</span> <span ng-bind-template="{{user.firstName}} {{user.lastName}}!"></span></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div ng-view autoscroll="true"></div>
<footer>
    <section class="f-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-3  col-sm-12 f-logo"><img src="img/f-logo.png" alt="YipTV"></div>
                <div class="col-lg-8  col-md-9  col-sm-12">
                    <div class="f-nav">
                        <h2 translate="INDEX_OUR_COMPANY">Our Company</h2>
                        <ul>
                            <li><a href="/about-us" translate="INDEX_ABOUT_US">About Us</a></li>
                            <li><a href="/leadership" translate="INDEX_LEADERSHIP">Leadership</a></li>
                        </ul>
                    </div>
                    <div class="f-nav">
                        <h2 translate="INDEX_SUPPORT">Support</h2>
                        <ul>
                            <li><a href="/contact-us" translate="INDEX_CONTACT_US">Contact Us</a></li>
                            <li><a href="/terms-of-use" translate="INDEX_TERMS_OF_USE">Terms of Use</a></li>
                            <li><a href="/privacy-policy" translate="INDEX_PRIVACY_POLICY">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="f-nav social">
                        <h2 translate="INDEX_CONNECT_WITH_US">Connect With Us</h2>
                        <a href="https://www.facebook.com/pages/Yiptv/670093559720356" target="_blank"><img src="img/ico-fb.png" alt="Facebook" title="Facebook"></a>
                        <a href="https://twitter.com/yiptv" target="_blank"><img src="img/ico-tw.png" alt="Twitter" title="Twitter"></a>
                        <br>
                        <div class="phone" ng-bind="appConfig.customerCareNumber"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="f-btm">
        <span translate="INDEX_DISCLAIMER">Use of the YipTV service and this Web site constitutes acceptance of our </span>
        <span><a href="/terms-of-use" translate="INDEX_TERMS_OF_USE">Terms of Use</a> <span translate="INDEX_AND">and</span> <a href="/privacy-policy" translate="INDEX_PRIVACY_POLICY">Privacy Policy</a>.</span><span class="copyright" translate="INDEX_COPYRIGHT">&copy; 2013-2015 YipTV</span>
    </section>
</footer>
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-webstorage/angular-webstorage.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<script src="bower_components/ng-clip/src/ngClip.js"></script>

<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/scripts.js -->
<!-- due to bugs in angular-payments modified version is used -->
<script src="scripts/lib/angular-payments.js"></script>
<script src="scripts/config/app.js"></script>
<script src="scripts/config/routing.js"></script>
<script src="scripts/config/config.js"></script>
<script src="scripts/config/routes.js"></script>
<script src="scripts/directives/access-level.js"></script>
<script src="scripts/directives/autofocus.js"></script>
<script src="scripts/directives/is-email.js"></script>
<script src="scripts/directives/is-email-unique.js"></script>
<script src="scripts/directives/save-visitor.js"></script>
<script src="scripts/directives/complex-password.js"></script>
<script src="scripts/directives/same-as.js"></script>
<script src="scripts/directives/not-same-as.js"></script>
<script src="scripts/directives/bootstrap-carousel.js"></script>
<script src="scripts/directives/goto.js"></script>
<script src="scripts/translate/en.js"></script>
<script src="scripts/translate/es.js"></script>
<script src="scripts/config/translate.js"></script>
<script src="scripts/services/app-service.js"></script>
<script src="scripts/services/user-service.js"></script>
<script src="scripts/services/logger-service.js"></script>
<script src="scripts/services/token-service.js"></script>
<script src="scripts/controllers/main-controller.js"></script>
<script src="scripts/controllers/home-controller.js"></script>
<script src="scripts/controllers/sign-up-controller.js"></script>
<script src="scripts/controllers/free-sign-up-controller.js"></script>
<script src="scripts/controllers/sign-in-controller.js"></script>
<script src="scripts/controllers/forgot-password-controller.js"></script>
<script src="scripts/controllers/reset-password-controller.js"></script>
<script src="scripts/controllers/user-home-controller.js"></script>
<script src="scripts/controllers/account-controller.js"></script>
<script src="scripts/controllers/change-credit-card-controller.js"></script>
<script src="scripts/controllers/common-controller.js"></script>
<script src="scripts/controllers/contact-us-controller.js"></script>
<script src="scripts/controllers/verify-user-controller.js"></script>
<script src="scripts/controllers/change-password-controller.js"></script>
<script src="scripts/controllers/resend-verification-controller.js"></script>
<script src="scripts/controllers/refer-a-friend-controller.js"></script>
<script src="scripts/controllers/invite-controller.js"></script>
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29465199-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
