.jumbotron {
    margin-bottom: 0px !important;
    padding: 0px 0px !important;
}

.jumbotron .container {
    width: 100% !important;
}

#desktopHeader {
    display: none !important;
}

#phoneHeader {
    position: relative;
    z-index: 101;
}

.off {
    display: none !important;
}

.on {
    display: initial !important;
}

.navbar-default {
    background-color: rgba(238, 238, 238, 0.88) !important;
    width: 100%;
}

.open > .dropdown-menu {
    min-width: 100%;
}

.back {
    transform: perspective(1000px) rotateY(180deg);
    backface-visibility: hidden;
    width: 100%;
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    -ms-transform: perspective(1000px) rotateY(180deg);
    -o-transform: perspective(1000px) rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front {
    transform: perspective(1000px) rotateY(0deg);
    backface-visibility: hidden;
    width: 100%;
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media screen and (max-width: 415px) {

    #bannerBox .mobile-banner-landscape {
        display: none !important;
    }

    #bannerBox .mobile-banner-portrait {
        display: block !important;
    }

    header {
        width: auto;
        height: 60px;
        padding: 0px !important;
        background: rgba(229, 229, 231, .91);
        z-index: 9980;
    }

    .logo img {
        width: 50px;
        margin: 10px;
    }

    .logo span {
        display: none;
    }

    .language {
        display: none;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    header {
        background: transparent;
    }

    .navbar-brand {
        padding: 0 5px !important;
    }

    .navbar-brand img {
        height:75%;
		width:auto;
		margin-top:4px;
    }

    .nav-btn {
        float: right;
        padding: 2% 1%;
    }

    [contentEditable=true]:focus {
        background: rgba(90, 90, 90, 0.7);
        border: #999 2px solid;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 1%;
        outline: none;
    }

    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: rgba(155, 155, 155, .94);
        font-weight: bold;
    }

    a:hover {
        color: rgba(254, 254, 254, .89);
    }

    dl {
        font-size: 100%;
    }

    dt {
        color: darkgrey;
        font-size: 1.25em;
        font-family: Arial Narrow, Arial, sans-serif;
        font-weight: bold !important;
        text-transform: capitalize;
    }

    dd {
        color: dimgrey;
        margin-top: 2px;
        font-size: 1.0em;
        white-space: normal;
    }

    dd + dd {
        color: rgba(135, 117, 104, .9);
        margin-bottom: 12px;
    }

    body {
        height: auto;
        font-family: default, Verdana, Arial, Tahoma;
        font-size: 12px;
    }

    .docked {
        background: rgba(227, 62, 66, .85) !important;
    }

    .content-background {
        background: white;
        color: rgba(254, 254, 254, .89);
    }

    .docked {
        background: rgba(227, 227, 227, .85) !important;
    }

    .top-shadow {
        box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    }

    .content-background {
        background: white;
        color: rgba(254, 254, 254, .89);
    }

    header {
        width: auto;
        height: 50px;
        background: rgba(229, 229, 231, .91) !important;
        z-index: 9980;
        padding: 0px !important;
    }

    #brand {
        height: 50px;
        text-transform: uppercase;
        border-bottom: solid 1px lightgrey;
        margin-right: 20px;
        z-index: 50;
    }

    #brand img {
        width: auto;
        height: 70px;
        display: block !important;
        margin: 0 auto;
        position: absolute;
        top: 10px;
        left: 20px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 9999;
    }

    #brand #faq {
        width: auto;
        padding-left: 1%;
        padding-right: 1%;
    }

    .contact-number {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        color: black;
        text-align: center;
        vertical-align: middle;
        border-top: thin solid whitesmoke;
    }

    .image-docked {
        height: 65px !important;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 9999;
    }

    .menu-button {
        width: 10%;
        height: 100%;
        background: rgba(210, 210, 210, 0.9);
        margin-left: 1px;
        padding: 2px;
        float: right;
        padding-top: 17px;
        color: black;
        text-align: center;
        vertical-align: middle;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }

    #navBar {
        width: 100%;
        height: 34px;
        clear: both;
        display: block;
        position: absolute;
        background: rgba(254, 254, 254, .95);
        color: rgba(62, 25, 77, .94);
        border-bottom: solid 1px lightgrey;
    }

    #menu {
        width: 100%;
        font-weight: bold;
    }

    #menuItems {
        margin: 6px auto;
        text-align: center;
        padding-left: 100px;
    }

    #menuItems menuItem {
        padding: 4px 10px;
        text-transform: uppercase;
        margin: 9px auto;
    }

    #menuItems menuItem:hover {
        cursor: pointer;
        color: rgba(254, 254, 254, .89);
        background: rgba(5, 5, 5, .5);
    }

    #menuItems div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3%;
        cursor: pointer;
    }

    #menuItems div > img {
        height: 20px;
        width: auto;
    }

    #socialMedia {
        display: none;
        width: 20%;
        vertical-align: middle;
        text-align: center;
        padding: 0px;
    }

    #socialMedia img {
        width: auto;
        height: 34px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }

    #socialMedia img:hover {
        cursor: pointer;
        filter: none;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
    }

    #topBox {
        top: 40px;
        position: relative;
        width: auto;
        height: auto;
        padding: 0px 0px !important;
    }

    #bannerBox {
        width: 100%;
        height: 346px;
        top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        z-index: 100;
    }

    #bannerBox .carousel-indicators {
        display: none;
    }

    .banner .banner-wrap {
        width: auto !important;
    }

    #showsBox {
        width: 100%;
        height: 100%;
        background: rgba(238, 238, 238, 0.9);
        position: relative;
        color: black;
        margin-bottom: 0px;
        padding: 0px;
        text-align: center;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 100;
    }

    #showsBox .category-title {
        margin: 20px 0px;
    }

    #showsBox .category-name {
        font-size: 1.0em;
        color: darkmagenta;
        text-transform: uppercase;
    }

    #showsBox .category-line-left, #showsBox .category-line-right {
        display: none;
        border-bottom: thin dotted grey;
        border-top: thin dotted grey;
        padding: 0% 12%;
        margin: 0% 2%;
        top: -3px;
    }

    #showsBox .panel, #showsBox .panel-footer {
        border: 0px !important;
        box-shadow: none !important;
    }

    #showsBox .back-image {
        width: 75%;
    }

    #showsBox .panel-footer {
        background-color: transparent;
        padding: 0px 4px !important;
        border: none !important;
        margin-top: 10px;
    }

    #showsBox .jumbotron {
        background-color: white;
    }

    .shows-category {
        position: relative;
        margin-bottom: 25px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .show-channels {
        background: white;
        padding: 3% 1% 7% !important;
    }

    .shows-container {
        text-align: center !important;
        width: 100%;
        padding: 2% 0 !important;
    }

    .shows-container .col-md-2 {
        display: inline-block;
        padding: 0px !important;
        vertical-align: top;
        width: 90% !important;
        margin: 7px !important;
        margin-bottom: 125px !important;
        float: none !important;
    }

    .shows-container img {
        width: 95%;
    }

    .shows-container .panel-body {
        padding: 4px !important;
    }

    .shows-container dl {
        margin-bottom: 0px !important;
    }

    .panel-closed {
        width: 22% !important;
        height: 180px;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    .panel-open {
        width: 22% !important;
        height: 180px;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    .show-panel {
        overflow: hidden;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 1s;
        -webkit-backface-visibility: hidden;
        -webkit-transition: -webkit-transform 1s;
        -moz-backface-visibility: hidden;
        -moz-transition: -moz-transform 1s;
    }

    #networksBox {
        width: 100%;
        height: 400px;
        background: #eee url(../images/networks/logo-background-mobile-portrait.jpg) top center no-repeat fixed;
        background-size: cover;
        position: relative;
        margin-bottom: 0px;
        padding: 0px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 95;
    }

    .box-shadow {
        box-shadow: 0px 1px 3px #666;
        -webkit-box-shadow: 0px 1px 3px #666;
        -moz-box-shadow: 0px 1px 3px #666;
        -ms-box-shadow: 0px 1px 3px #666;
        -o-box-shadow: 0px 1px 3px #666;
        border-radius: 0px !important;
    }

    #droidLogo {
        display: none;
        width: 60px;
        height: 50%;
        position: relative;
        top: 15%;
        left: -26%;
        background: transparent url(../images/droid-logo.png) no-repeat;
        background-size: contain;
        float: right;
    }

    #networkDescription {
        width: auto;
        height: auto;
        padding: 6%;
        position: relative;
        top: 15%;
        color: darkgrey;
        font-size: 90%;
        white-space: nowrap;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #networkDescription p:nth-child(1) {
        font-size: 2.7em;
        position: relative;
        text-indent: 20px;
        color: darkmagenta;
        margin-bottom: 2px !important;
    }

    #networkDescription p {
        font-size: 1.0em;
        color: dimgrey;
        margin-top: 0%;
        padding: 5px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }

    #networkDescription img {
        margin-top: 5%;
        float: left;
        display: none;
    }

    #networkDescription h4 {
        color: darkmagenta;
    }

    #networkDescription {
        width: 90%;
        height: auto;
        padding: 1%;
        margin-left: 5%;
        position: relative;
        top: 20%;
        color: darkgrey;
        font-size: 90%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .network-channels {
        border-bottom: 1px groove aliceblue;
        background: #9578A6 url(../images/banner-swatch.png) left top repeat-x;
        height: 12%;
        padding: 0 !important;
    }

    .network-channels ul {
        width: 100%;
        height: 120%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 3px;
        margin-top: 2%;
    }

    .network-channels li {
        display: inline;
        vertical-align: middle;
    }

    .network-channels li img {
        height: 100%;
        width: auto;
        margin-top: 6px;
    }

    .networks-title {
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 3% 0%;
        position: relative;
        margin-top: 3%;
		font-size:1.5em;
    }

    #aboutBox {
        width: 100%;
        height: auto;
        top: -7px;
        position: relative;
        background-color: rgba(238, 238, 238, 1);
        margin-bottom: 30px;
        padding: 0px;
        color: black;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 95;
    }

    #aboutBox .jumbotron p {
        font-size: 85% !important;
    }

    .about-yiptv {
        background: #9578A6 url(../images/banner-swatch.png) left top repeat-x;
        height: 15%;
        z-index: 6;
    }

    .about-yiptv-title {
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 4% 0 3%;
        position: relative;
    }

    .about-yiptv-left-column, .about-yiptv-right-column {
        height: inherit;
        padding: 2%;
        width: 100%;
    }

    .about-yiptv-right-column article {
        width: 48%;
        display: inline-block;
        padding: 0 1%;
        vertical-align: top;
    }

    .about-yiptv-right-column article img {
        width: 100%;
        height: auto;
        padding: 0 4% 4%;
        margin-bottom: 4%;
    }

    .about-yiptv-right-column h4 {
        margin-bottom: 10% !important;
        color: red;
    }

    .about-yiptv-left-column h3 {
        margin-bottom: 5% !important;
        color: red;
    }

    #downloadBox {
        width: 100%;
        height: 430px;
        top: -25px;
        background: #eee url(../images/app-background.jpg) 50% 9% no-repeat fixed;
        background-size: cover;
        position: relative;
        margin-bottom: 0px;
        padding: 0px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 95;
    }

    #leftContent {
        padding: 3%;
        width: 100%;
    }
	
	#leftContent ol{
	  display: table;
	  margin-left: 5%;
	  padding-left: 0;
	  list-style: none;
  	}

    #leftContent li:before{
      content: counter(table-ol) ".";
      display: table-cell;
      padding-right: 0.4em;
      text-align: right;
    }
	
	#leftContent li {
		font-size: 80%;
		list-style-type:decimal;
		list-style-position:inside;
		line-height:1.5em;
		
	    display: table-row;
	    counter-increment: table-ol;
	}

	#downloadButtons {
		margin-bottom: 4%;
	}

	#finePrint {
		font-size:65%;
		line-height:1.4em;
	}

    #rightContent {
        display: none;
    }

    #leftContent h2 {
        font-size: 26px;
    }

    #leftContent h6 {
        font-size: 15px;
        line-height: inherit;
        padding-top: 3%;
    }

    #leftContent #apple {
        margin-right: 3%;
    }

    #leftContent #splash {
        margin-bottom: 7%;
    }

    #leftContent #downloadButtons img {
        width: 45%;
    }


	#chnlLinks {
		background-color: rgba(48,42,58,0.95);
		width: inherit;
		text-align:	center;
	}

	#chnlLinks dl {
	    margin-bottom: 30px !important;
		text-align: left;
	}

	#chnlLinks dt {
	    color: white;
	    /*font-size: 1.25em;*/
		font-size: 95%;
	    font-weight: bolder !important;
	    text-transform: capitalize;
		margin-bottom: 8px;
	}

	#chnlLinks dd {
	    color: rgb(129,198,255);
	    /*margin-top: 2px;*/
	   /* font-size: 1.0em;*/
	   font-size: 85%;
	   white-space: normal;
	}

	#chnlLinks dd + dd {
	    /*color: rgba(135, 117, 104, .9);*/
		margin-bottom:2px;
	}

	#chnlLinks .posNlne {
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
		padding: 2%;
		width: auto;
	}
	

	#footerBox {
	    width: 100%;
	    height: auto;
	    position: relative;
	    margin-bottom: 30px;
	    padding: 0px;
	    color: black;
	    transition: all 1s ease-in-out;
	    -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    z-index: 95;
	}

	#footerBox a {
	    color: rgb(129,198,255);
	}

	#footerBox a:hover {
		color: rgb(254,254,254);
	}

	#footerBox .jumbotron {
	    background: rgb(61, 51, 75) !important;
	}

	#footerLinks li, #legalLinks li {
	    list-style: none;
	    list-style-type: none;
	    color: white;
	}
	#footerLinks {
	    padding: 2% 5%;
	    text-align: center;
	    text-transform: capitalize;
	}

	#footerLinks ul {
	    /*padding-top: 18px;
	    margin-top:10px;*/
	}

	#footerLinks li {
	    display: inline;
	}

	#footerLinks li:nth-child(n+2)::before{
	    content: '|';
	    margin: 0 2%;
	    color:grey;
	}

    #legalLinks {
        background: white;
        padding: 1% 5%;
        text-align: center;
        text-transform: capitalize;
    }

    #legalLinks li {
        display: inline;
    }

    #legalLinks li:nth-child(n+2)::before {
        content: '|';
        margin: 0 2%;
        color: grey;
    }
	
	#legalLinks a:hover{
		color:dimgrey;
	}

	/*
	#footerBox a {
	    color: rgb(129,198,255);
	}

	#footerBox a:hover {
		color: rgb(254,254,254);
	}

	#footerBox .jumbotron {
	    background: rgb(61, 51, 75) !important;
	}

	#footerLinks li, #legalLinks li {
	    list-style: none;
	    list-style-type: none;
	    color: white;
	}
	#footerLinks {
	    padding: 2% 5%;
	    text-align: center;
	    text-transform: capitalize;
	}

	#footerLinks ul {
	    /*padding-top: 18px;
	    margin-top:10px;
	}

	#footerLinks li {
	    display: inline;
	}

	#footerLinks li:nth-child(n+2)::before{
	    content: '|';
	    margin: 0 2%;
	    color:grey;
	}

    #legalLinks {
        background: white;
        padding: 3% 5%;
        text-align: center;
        text-transform: capitalize;
        font-size: 60%;
    }

    #legalLinks li {
        display: inline;
    }

    #legalLinks li:nth-child(n+2)::before {
        content: '|';
        margin: 0 2%;
        color: grey;
    }

	*/
    .footer-subscription {
        background: rgb(227, 63, 67);
        padding: 1px 0 22px;
        z-index: 6;
        text-align: center;
    }

    .footer-subscription-text {
        color: white;
        position: relative;
        font-size: 1.0em;
        padding-bottom: 2%;
    }

    .footer-subscription-text h4 {
        margin-top: 0px !important;
    }

    .footer-subscription button {
        text-transform: uppercase;
        position: relative;
    }

    .footer-subscription .btn-lg {
        font-size: 12px !important;
    }

    .footer-subscription button:nth-child(even) {
        margin-right: 4px;
    }
	
	/*
    #footerLinks li, #legalLinks li {
        list-style: none;
        list-style-type: none;
        color: white;
    }

    #footerLinks {
        padding: 0% 5% 4%;
        text-align: center;
        text-transform: capitalize;
        font-size: 60%;
    }

    #footerLinks ul {
        padding-top: 15px;
    }

    #footerLinks li {
        display: inline;
    }

    #footerLinks li:nth-child(n+2)::before {
        content: '|';
        margin: 0 2%;
        color: grey;
    }
	*/

    footer {
        width: 100%;
        height: 48px;
        position: fixed;
        bottom: 0px;
        background: rgba(253, 253, 253, .91);
        text-transform: uppercase;
        text-align: center;
        font-size: 7px;
        color: grey;
        border-top: solid 1px lightgrey;
        padding: 10px;
        z-index: 9990;
    }

}

@media screen and (min-width: 416px) and (max-width: 767px) {

    #bannerBox .mobile-banner-portrait {
        display: none !important;
    }

    #bannerBox .mobile-banner-landscape {
        display: block !important;
    }

    .contact-number {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        color: black;
        text-align: center;
        vertical-align: middle;
        border-top: thin solid whitesmoke;
    }

    header {
        width: auto;
        height: 50px;
        padding: 0px !important;
        background: rgba(229, 229, 231, .91);
        z-index: 9980;
    }

    .logo img {
        width: 50px;
        margin: 10px;
    }

    .logo span {
        display: none;
    }

    .language {
        display: none;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    header {
        background: transparent;
    }
	
	#wpNtwrk {
		margin-top:9px;
	}

    .navbar-brand {
        padding: 0 5px !important;
    }

    .navbar-brand img {
        height: 80%;
		width: auto;
		margin-top:4px;
    }

    .nav-btn {
        float: right;
        padding: 2% 1% 0;
        right: 12%;
    }

    [contentEditable=true]:focus {
        background: rgba(90, 90, 90, 0.7);
        border: #999 2px solid;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 1%;
        outline: none;
    }

    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: rgba(155, 155, 155, .94);
        font-weight: bold;
    }

    a:hover {
        color: rgba(254, 254, 254, .89);
    }

    dl {
        font-size: 85%;
    }

    dt {
        color: darkgrey;
        font-size: 1.25em;
        font-family: Arial Narrow, Arial, sans-serif;
        font-weight: bold !important;
        text-transform: capitalize;
    }

    dd {
        color: dimgrey;
        margin-top: 2px;
        font-size: 1.0em;
        white-space: normal;
    }

    dd + dd {
        color: rgba(135, 117, 104, .9);
        margin-bottom: 12px;
    }

    body {
        height: auto;
        font-family: default, Verdana, Arial, Tahoma;
        font-size: 12px;
    }

    .docked {
        background: rgba(227, 62, 66, .85) !important;
    }

    .top-shadow {
        box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    }

    .content-background {
        background: white;
        color: rgba(254, 254, 254, .89);
    }

    .map {
        position: relative;
        width: 100%;
        height: 120px;
        margin-bottom: 10px;
        color: rgba(157, 144, 138, .98);
        text-align: center;
    }

    #navBar {
        width: 100%;
        min-width: 980px;
        height: 34px;
        clear: both;
        display: block;
        position: absolute;
        background: rgba(254, 254, 254, .5);
        color: rgba(62, 25, 77, .94);
        border-bottom: solid 1px lightgrey;
        z-index: 9990;
    }

    #menu {
        width: 75%;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
    }

    #topBox {
        top: 40px;
        position: relative;
        width: auto;
        height: auto;
        padding: 0px 0px !important;
    }

    #bannerBox {
        width: 100%;
        height: 387px;
        top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        z-index: 100;
    }

    #bannerBox .carousel-indicators {
        display: none;
    }

    .banner .banner-wrap {
        width: auto !important;
    }

    #showsBox {
        width: 100%;
        height: 100%;
        background: rgba(238, 238, 238, 0.9);
        position: relative;
        color: black;
        margin-bottom: 0px;
        padding: 0px;
        text-align: center;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 100;
    }

    #showsBox .panel, #showsBox .panel-footer {
        border: 0px !important;
        box-shadow: none !important;
    }

    #showsBox .back-image {
        width: 75%;
    }

    #showsBox .category-title {
        margin: 20px 0px;
    }

    #showsBox .category-name {
        font-size: 1.20em;
        color: darkmagenta;
        text-transform: uppercase;
    }

    #showsBox .category-line-left, #showsBox .category-line-right {
        display: none;
        border-bottom: thin dotted grey;
        border-top: thin dotted grey;
        padding: 0% 12%;
        margin: 0% 2%;
        top: -3px;
    }

    #showsBox .panel-footer {
        background-color: transparent;
        padding: 8px 4px !important;
        border: none !important;
    }

    #showsBox .jumbotron {
        background-color: white;
    }

    .shows-category {
        position: relative;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .show-channels {
        background: white;
        padding: 3% 1% 7% !important;
    }

    .shows-container {
        text-align: center !important;
        width: 100%;
        padding: 2% 0 !important;
    }

    .shows-container .col-md-2 {
        display: inline-block;
        padding: 0px !important;
        vertical-align: top;
        width: 34% !important;
        margin: 7px !important;
        float: none !important;
    }

    .shows-container img {
        width: 95%;
    }

    .shows-container .panel-body {
        padding: 0px !important;
    }

    .shows-container dl {
        margin-bottom: 0px !important;
    }

    .panel-closed {
        width: 22% !important;
        height: 210px;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    .panel-open {
        width: 22% !important;
        height: 210px;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    .show-panel {
        overflow: hidden;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 1s;
        -webkit-backface-visibility: hidden;
        -webkit-transition: -webkit-transform 1s;
        -moz-backface-visibility: hidden;
        -moz-transition: -moz-transform 1s;
    }

    #networksBox {
        width: 100%;
        height: 400px;
        background: #eee url(../images/networks/logo-background-mobile-landscape.jpg) 50% 9% no-repeat fixed;
        background-size: cover;
        position: relative;
        margin-bottom: 0px;
        padding: 0px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 95;
    }

    .box-shadow {
        box-shadow: 0px 1px 3px #666;
        -webkit-box-shadow: 0px 1px 3px #666;
        -moz-box-shadow: 0px 1px 3px #666;
        -ms-box-shadow: 0px 1px 3px #666;
        -o-box-shadow: 0px 1px 3px #666;
        border-radius: 0px !important;
    }

    #droidLogo {
        display: none;
        width: 60px;
        height: 50%;
        position: relative;
        top: 15%;
        left: -26%;
        background: transparent url(../images/droid-logo.png) no-repeat;
        background-size: contain;
        float: right;
    }

    #networkDescription {
        width: 75%;
        height: auto;
        padding: 1%;
        margin-left: 5%;
        position: relative;
        top: 20%;
        color: darkgrey;
        font-size: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    #networkDescription p:nth-child(1) {
        width: 100%;
        font-size: 2.7em;
        position: relative;
        text-indent: 20px;
        color: darkmagenta;
        margin-bottom: 2px !important;
    }

    #networkDescription p {
        width: 100%;
        font-size: 1.0em;
        color: dimgrey;
        margin-top: 0%;
        padding: 5px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }

    #networkDescription img {
        margin-top: 5%;
        float: left;
        display: none;
    }

    #networkDescription h4 {
        color: darkmagenta;
    }

    .network-channels {
        border-bottom: 1px groove aliceblue;
        background: #9578A6 url(../images/banner-swatch.png) left top repeat-x;
        height: 16%;
        padding: 1px 0 !important;
    }

    .network-channels ul {
        width: 100%;
        height: 110%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 3px;
        margin-top: 4%;
    }

    .network-channels li {
        display: inline;
        vertical-align: middle;
    }

    .network-channels li img {
        height: 100%;
        width: auto;
        margin-top: 6px;
    }

    .networks-title {
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 0%;
        position: relative;
        margin-top: 3%;
    }

    #aboutBox {
        width: 100%;
        height: auto;
        top: -7px;
        position: relative;
        background-color: rgba(238, 238, 238, 1);
        margin-bottom: 30px;
        padding: 0px;
        color: black;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 95;
    }

    #aboutBox .jumbotron p {
        font-size: 85% !important;
    }

    .about-yiptv {
        background: #9578A6 url(../images/banner-swatch.png) left top repeat-x;
        height: 15%;
        z-index: 6;
    }

    .about-yiptv-title {
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 4% 0 3%;
        position: relative;
    }

    .about-yiptv-left-column, .about-yiptv-right-column {
        height: inherit;
        padding: 2%;
        width: 100%;
    }

    .about-yiptv-right-column article {
        width: 48%;
        display: inline-block;
        padding: 0 1%;
        vertical-align: top;
    }

    .about-yiptv-right-column article img {
        width: 100%;
        height: auto;
        padding: 0 4% 4%;
        margin-bottom: 4%;
    }

    .about-yiptv-right-column h4 {
        margin-bottom: 10% !important;
        color: red;
    }

    .about-yiptv-left-column h3 {
        margin-bottom: 5% !important;
        color: red;
    }

    #downloadBox {
        width: 100%;
        height: 420px;
        top: -25px;
        background: #eee url(../images/app-background.jpg) 50% 9% no-repeat fixed;
        background-size: cover;
        position: relative;
        margin-bottom: 0px;
        padding: 0px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 95;
    }

    #leftContent, #rightContent {
        display: inline-block;
        vertical-align: middle;
    }

    #leftContent {
        padding: 2%;
        width: 55%;
    }

    #leftContent {
        padding: 3%;
        width: 100%;
    }
	
	#leftContent ol{
	  display: table;
	  margin-left: 5%;
	  padding-left: 0;
	  list-style: none;
  	}

    #leftContent li:before{
      content: counter(table-ol) ".";
      display: table-cell;
      padding-right: 0.4em;
      text-align: right;
    }
	
	#leftContent li {
		font-size: 80%;
		list-style-type:decimal;
		list-style-position:inside;
		line-height:1.5em;
		
	    display: table-row;
	    counter-increment: table-ol;
	}

	#downloadButtons {
		margin-bottom: 4%;
	}

	#finePrint {
		font-size:65%;
		line-height:1.4em;
	}

    #rightContent {
		display:none;
        width: 39%;
    }

    #rightContent img {
        width: 100%;
    }

    #leftContent h2 {
        font-size: 28px;
    }

    #leftContent h6 {
        font-size: 14px;
        line-height: inherit;
        padding-top: 3%;
    }

    #leftContent #apple {
        margin-right: 3%;
    }

    #leftContent #splash {
        margin-bottom: 7%;
    }

    #leftContent #downloadButtons img {
        width: 45%;
    }

	#chnlLinks {
		background-color: rgba(48,42,58,0.95);
		width: inherit;
		text-align:	center;
	}

	#chnlLinks dl {
	    margin-bottom: 30px !important;
		text-align: left;
	}

	#chnlLinks dt {
	    color: white;
	    /*font-size: 1.25em;*/
		font-size: 95%;
	    font-weight: bolder !important;
	    text-transform: capitalize;
		margin-bottom: 8px;
	}

	#chnlLinks dd {
	    color: rgb(129,198,255);
	    /*margin-top: 2px;*/
	   /* font-size: 1.0em;*/
	   font-size: 85%;
	   white-space: normal;
	}

	#chnlLinks dd + dd {
	    /*color: rgba(135, 117, 104, .9);*/
		margin-bottom:2px;
	}

	#chnlLinks .posNlne {
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
		padding: 2%;
		width: auto;
	}
	

	#footerBox {
	    width: 100%;
	    height: auto;
	    position: relative;
	    margin-bottom: 30px;
	    padding: 0px;
	    color: black;
	    transition: all 1s ease-in-out;
	    -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    z-index: 95;
	}

	#footerBox a {
	    color: rgb(129,198,255);
	}

	#footerBox a:hover {
		color: rgb(254,254,254);
	}

	#footerBox .jumbotron {
	    background: rgb(61, 51, 75) !important;
	}

	#footerLinks li, #legalLinks li {
	    list-style: none;
	    list-style-type: none;
	    color: white;
	}
	#footerLinks {
	    padding: 2% 5%;
	    text-align: center;
	    text-transform: capitalize;
	}

	#footerLinks ul {
	    /*padding-top: 18px;
	    margin-top:10px;*/
	}

	#footerLinks li {
	    display: inline;
	}

	#footerLinks li:nth-child(n+2)::before{
	    content: '|';
	    margin: 0 2%;
	    color:grey;
	}

    #legalLinks {
        background: white;
        padding: 1% 5%;
        text-align: center;
        text-transform: capitalize;
    }

    #legalLinks li {
        display: inline;
    }

    #legalLinks li:nth-child(n+2)::before {
        content: '|';
        margin: 0 2%;
        color: grey;
    }
	
	#legalLinks a:hover{
		color:dimgrey;
	}

    .footer-subscription {
        background: rgb(227, 63, 67);
        padding: 1px 0 22px;
        z-index: 6;
        text-align: center;
    }

    .footer-subscription-text {
        color: white;
        position: relative;
        font-size: 1.3em;
        padding-bottom: 2%;
    }

    .footer-subscription-text h4 {
        margin-top: 0px !important;
    }

    .footer-subscription button {
        text-transform: uppercase;
        position: relative;
    }

    .footer-subscription .btn-lg {
        font-size: 12px !important;
    }

    .footer-subscription button:nth-child(even) {
        margin-right: 4px;
    }

	/*
    #footerLinks {
        padding: 0% 7% 3%;
        text-align: center;
        text-transform: capitalize;
        font-size: 100%;
        line-height: 2em;
    }

    #footerLinks ul {
        padding-top: 15px;
    }

    #footerLinks li {
        display: inline;
    }

    #footerLinks li:nth-child(n+2)::before {
        content: '|';
        margin: 0 2%;
        color: grey;
    }
	*/
	
    footer {
        width: 100%;
        height: 37px;
        position: fixed;
        bottom: 0px;
        background: rgba(253, 253, 253, .91);
        text-transform: uppercase;
        text-align: center;
        font-size: 6px;
        color: grey;
        border-top: solid 1px lightgrey;
        padding: 10px;
        z-index: 9990;
    }

    #socialMedia {
        display: none;
        width: 17%;
        text-align: center;
        float: right;
        padding: 0px;
        position: relative;
        top: -21px;
    }

    #socialMedia img {
        width: auto;
        height: 25px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }

    #socialMedia img:hover {
        cursor: pointer;
        filter: none;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
    }
}
