
.webslider {
    float: left;
    width: 100%;
    position: relative;
    background: #131825;
}

.webslider .webslider-wrap {
    position: relative;
    margin: 0 auto;
    width: 1350px;
}

.webslider img {
    float: left;
    width: 100%;
    z-index: 9;
}

#webslider-banner .carousel-control.left, #webslider-banner .carousel-control.right {
    background-image: none;
}

#webslider-banner .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0px 1px;
    background-color: #ffffff;
    border: 1px solid #3c4250;
    border-radius: 12px;
}

#webslider-banner .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0px 3px;
    background-color: #3c4250;
}

#webslider-banner .carousel-indicators {
    bottom: 30px;
    left: 0;
    width: 80%;
    margin: 0px;
    text-align: right;
    z-index: 9999;
}

#webslider-banner .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0px 3px;
    background-color: #121826;
    border: 1px solid #ffffff;
    border-radius: 12px;
}

#webslider-banner .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0px 3px;
    background-color: #ffffff;
}

#webslider-banner .carousel-control {
    top: 50%;
    width: 30px;
    height: 40px;
    margin: -40px 0 0;
    opacity: 1;
    color: rgba(0, 0, 0, 0);
    background: url(../img/slide-arrow.png) no-repeat 0px 0px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
}

#webslider-banner .carousel-control.left {
    left: 10px;
    background: url(../img/slide-arrow.png) no-repeat 0px 0px;
}

#webslider-banner .carousel-control.right {
    right: 10px;
    text-align: right;
    background: url(../img/slide-arrow.png) no-repeat -30px 0;
}

@media screen and (max-width: 1199px) {
    #carousel-indicators {
        width: 65%;
        bottom: 10px;
    }
}

@media screen and (max-width: 999px) {
    #webslider-banner .carousel-indicators {
        width: 100%;
        text-align: center;
        left: 0px;
        bottom: 0px;
    }

    #webslider-banner .carousel-control {
        width: 20px;
    }

    #webslider-banner .carousel-control.left {
        left: 5px;
    }

    #webslider-banner .carousel-control.right {
        right: 5px;
        background-position: -40px 0;
    }
}
