<div>
    <table cellspacing="0" cellpadding="0" style="width: 85%">
        <colgroup span="1"></colgroup>

        <tbody>
            <tr ng-repeat="days in dates" ng-init="rowIndex = $index">
                <td ng-repeat="day in days" align="center">
                    <table style="border:none">
                        <tr><th style="border: none"><a ng-href="#/channelguide/{{channels[rowIndex*5+$index].stationId}}"> {{channels[rowIndex*5+$index].callSign}} </a></th></tr>
                        <tr><img ng-src="{{graceNoteImageUrl}}{{channels[rowIndex*5+$index].preferredImage.uri}}" style="width:128px;height:128px;"></tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>