<div>{{test}}</div>
<div>
    <img ng-src="{{image}}">
</div>
<div>
	<table cellspacing="0" cellpadding="0">
	    <colgroup span="5"></colgroup>
	
	    <tbody>
	        <tr ng-repeat="days in dates" ng-init="rowIndex = $index">
	            <td align="center" ng-repeat="day in days">
	                <table style="border:none">
	                    <tr><img ng-src="{{images[rowIndex*5 + $index]}}" style="width:160px;height:240px;"></tr>
	                </table>
	            </td>
	        </tr>
	    </tbody>
    </table>
</div>