<div>
    <a href="#/channelguide/{{channelId}}">{{channelTitle}}</a>
    <br>
    <table style="border: none" cellspacing="0" cellpadding="0">
        <tbody>
            <tr ><td><img ng-src="http://yipt.tmsimg.com/assets/{{program.program.preferredImage.uri}}" style="width:240px;height:360px;"></td></tr>
            <th aligh="center" style="boder: none">{{program.program.title}}</th>
            <tr align="center" ><td style="border: none">Genre: {{program.program.genres[0]}}</td></tr>
            <tr align="center" ><td style="border: none" style="border: none" style="border: none">Duration: {{program.duration}}</td></tr>
            <tr align="center" ><td style="border: none" style="border: none">StartTime: {{program.startTime}}</td></tr>
            <tr align="center"><td style="border: none">EndTime: {{program.endTime}}</td></tr>
        </tbody>
    </table>
</div>