<!doctype html>
<html ng-app="app" ng-controller="mainCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="fragment" content="!" />
    <meta name="description" content="{{meta.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="keywords" content="YipTV,TV,Online TV,IP TV">
    <base href="/" >
	<!-- alden's css breakpoint files here -->
	<link rel="stylesheet" media="only screen and (min-width: 1025px)" href="styles/mnPg.css">
	<link rel="stylesheet" media="only screen and (min-width: 768px) and (max-width: 1024px)" href="styles/tabPg.css">
	<link rel="stylesheet" media="only screen and (max-width: 767px)" href="styles/phnPg.css">
	<!-- ============================ -->
    <link rel=”alternate” href=”http://yiptv.com{{currentRoute}}?lang=es” hreflang=”es” />
    <link rel=”alternate” href=”http://yiptv.com{{currentRoute}}” hreflang=”x-default” />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon" type="image/png"  />
    <style>
        .ng-hide {
            display: none !important;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.css"/>
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/fonts.css"/>
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" href="styles/webslider.css"/>
    <link rel="stylesheet" href="styles/jquery.bxslider.css"/>
	<!-- alden's css stylesheets here -->
	<link rel="stylesheet" href="nivo-slider/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="nivo-slider/nivo-slider.css" type="text/css" media="screen" />
	
	
    <!-- endbuild -->
    <title>YipTV - Watch Live Internet TV & Spanish Channels Online</title>
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- ///// ================================= ///// -->
<!-- ///// ====== ALDEN'S HEADER HERE ====== ///// -->
<header id='pcHdr' class="">
	<div id="brand">
		<span><a href="/"><img src="imgs/logo.png" alt="" /></a></span>
		<div id="language" class="usr_Input_clsd"><a href="#" ng-click="changeLanguage()" translate="INDEX_OTHER_LANGUAGE" class="ng-scope">Español</a></div>
		<div id="signin" class="usr_Input_clsd"><a href="/sign-in" access-level="accessLevels.anon" translate="INDEX_SIGN_IN">Sign In</a><a href="#" ng-click="signOut()" access-level="accessLevels.user" translate="INDEX_SIGN_OUT">Sign Out</a></div>
		<div id="trial" class="usr_Input_clsd"><a href="/sign-up/free" access-level="accessLevels.anon" translate="INDEX_TRY_FREE">Try Free for 7Days</a><a href="/faq" access-level="accessLevels.user" translate="INDEX_FAQ_ACRONYM">FAQ</a></div>
		<div id="refer" class="usr_Input_clsd"><a href="/refer-a-friend" access-level="accessLevels.public" translate="INDEX_REFER_FRIEND">Refer a Friend</a></div>

	</div>
	<nav id="navBar">
		<div id="menu">
			<div id="menuItems" class="">
				<mnuItm id="Shws" translate="INDEX_SHOWS_BY_CATEGORY">Shows by Category</mnuItm>
				<mnuItm id="Ntwrks" translate="INDEX_NETWORKS">Networks</mnuItm>
				<mnuItm id="Device" access-level="accessLevels.anon" translate="INDEX_HOW_TO_WATCH">How to watch</mnuItm>
				<mnuItm id="watch"><a href="#" ng-click="openAio()" access-level="accessLevels.user" translate="INDEX_WATCH_NOW">Watch Now</a></mnuItm>
				<mnuItm id="Join"><a href="/sign-up/paid" access-level="accessLevels.anon" translate="INDEX_JOIN_NOW">Join Now</a><a href="/account" access-level="accessLevels.user" translate="INDEX_ACCOUNT">Account</a></mnuItm>
				<mnuItm id="welcome">
					<div access-level="accessLevels.user">
						<span translate="INDEX_WELCOME">Welcome</span> <span ng-bind-template="{{user.firstName}} {{user.lastName}}!"></span>
					</div>
				</mnuItm>
			</div>
		</div>
	</nav>
</header>
<header id='resHdr'>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		  <a class="navbar-brand" href="#/"><img src="imgs/logo1.png" /></a>

		  <div id='lang' class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		      Language <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
		      <li><a href="/">English</a></li>
		      <li><a href="/">Spanish</a></li>
		    </ul>
		  </div>
		  
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		          <li class=""><a href="#/">Shows By Category<span class="sr-only">(current)</span></a></li>
				  <li><a href="/">Networks</a></li>
				  <li><a href="/">How to Watch</a></li>
				  <li><a href="/">SignUp</a></li>
				  <li><a href="/">Login</a></li>

		      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>


<!-- header id='resHdr'>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<div class="logo"><a href="/"><img src="img/logo.png" alt="YipTV" title="YipTV"></a><span class="logo-text" translate="INDEX_JOIN_TV_EVOLUTION">Join the TV Evolution!</span></div>
				<div class="language"><span translate="INDEX_SWITCH_TO">Switch to</span><a href="#" ng-click="changeLanguage()" translate="INDEX_OTHER_LANGUAGE">English</a></div>
			</div>
		
			<div class="collapse navbar-collapse right-box home" id="navbar-collapse-1">
				<div ng-cloak="" access-level="accessLevels.public" class="right-nav">
					<a href="/refer-a-friend" access-level="accessLevels.public" class="btn-sign" translate="INDEX_REFER_FRIEND">Refer a Friend</a> 
					<a href="/sign-in" access-level="accessLevels.anon" class="btn-sign" translate="INDEX_SIGN_IN">Sign In</a> 
					<a href="/sign-up/paid" access-level="accessLevels.anon" class="btn-sign" translate="INDEX_JOIN_NOW">Join Now</a> 
					<a href="/sign-up/free" access-level="accessLevels.anon" class="btn-sign" translate="INDEX_TRY_FREE">Try for 30 Days</a> 
					<a href="#" ng-click="openAio()" access-level="accessLevels.user" class="btn-sign" translate="INDEX_WATCH_NOW">Watch Now</a> 
					<a href="#" ng-click="openAio()" access-level="accessLevels.anon" class="btn-sign" translate="INDEX_FREE_PREVIEW">Preview Live Now</a> 
					<a href="/account" access-level="accessLevels.user" class="btn-sign" translate="INDEX_ACCOUNT">Account</a> 
					<a href="/faq" access-level="accessLevels.user" class="btn-sign" translate="INDEX_FAQ_ACRONYM">FAQ</a> 
					<a href="/admin" access-level="accessLevels.admin" class="btn-sign" translate="INDEX_ADMIN">Admin</a> 
					<a href="#" ng-click="signOut()" access-level="accessLevels.user" class="btn-sign" translate="INDEX_SIGN_OUT">Sign Out</a>
				
					<div class="welcome-user" access-level="accessLevels.user">
						<span translate="INDEX_WELCOME">Welcome</span> 
						<span ng-bind-template="{{user.firstName}} {{user.lastName}}!"></span>
					</div>
				</div>
			</div>
		
		</nav>
	</div>
</header -->
<!-- header id='resHdr'>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">WebSiteName</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Page 1-1</a></li>
	            <li><a href="#">Page 1-2</a></li>
	            <li><a href="#">Page 1-3</a></li>
	          </ul>
	        </li>
	        <li><a href="#">Page 2</a></li>
	        <li><a href="#">Page 3</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</header -->



<!-- ///// ================================= ///// -->
<div id="pgCntnt_Bx" ng-view autoscroll="true" class="view-animate_"></div>

<!-- ///// ================================= ///// -->
<!-- ///// ====== ALDEN'S HEADER HERE ====== ///// -->
<footer class="topShdw">
	<div>Copyright ® 2015 YipTV. Use of the YipTV service and this Web site constitutes acceptance of our Terms of Use and Privacy Policy.</div>
	<div id="sclMda" class="likOns">
		<img src="imgs/facebook.png" alt="" />
    	<img src="imgs/twitter.png" alt="" />
    	<img src="imgs/inst.png" alt="" />
    	<img src="imgs/youtube.png" alt="" />
	</div>
</footer>



<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<script src="https://jwpsrv.com/library/B0Pzcn8cEeSAZA6sC0aurw.js"></script>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-webstorage/angular-webstorage.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-table/dist/ng-table.js"></script>
<script src="bower_components/bxslider-4/dist/jquery.bxslider.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/scripts.js -->
<script src="scripts/lib/angular-payments.js"></script>
<script src="scripts/lib/angular-rwdImageMaps.js"></script>
<script src="scripts/config/app.js"></script>
<!-- alden's javascript files here -->
<script src="scripts/config/init.js"></script>
<script src="nivo-slider/jquery.nivo.slider.js"></script>
<script src="scripts/functions/myScripts.js" ></script>
<script src="scripts/functions/jquery.scrollTo.js" ></script>
<script src="scripts/functions/jquery.localscroll-1.2.7-min.js" ></script>
<script src="scripts/functions/jquery.parallax-1.1.3.js" ></script>
<!-- ============================ -->
<script src="scripts/config/routing.js"></script>
<script src="scripts/config/config.js"></script>
<script src="scripts/config/routes.js"></script>
<script src="scripts/directives/access-level.js"></script>
<script src="scripts/directives/autofocus.js"></script>
<script src="scripts/directives/valid-name.js"></script>
<script src="scripts/directives/is-email.js"></script>
<script src="scripts/directives/valid-address.js"></script>
<script src="scripts/directives/is-us-phone-number.js"></script>
<script src="scripts/directives/valid-email-list.js"></script>
<script src="scripts/directives/is-sign-up-allowed.js"></script>
<script src="scripts/directives/save-visitor.js"></script>
<script src="scripts/directives/complex-password.js"></script>
<script src="scripts/directives/same-as.js"></script>
<script src="scripts/directives/not-same-as.js"></script>
<script src="scripts/directives/bootstrap-carousel.js"></script>
<script src="scripts/directives/jw-player.js"></script>
<script src="scripts/directives/bx-slider.js"></script>
<script src="scripts/directives/goto.js"></script>
<script src="scripts/translate/en.js"></script>
<script src="scripts/translate/es.js"></script>
<script src="scripts/config/translate.js"></script>
<script src="scripts/services/app-service.js"></script>
<script src="scripts/services/user-service.js"></script>
<script src="scripts/services/media-service.js"></script>
<script src="scripts/services/logger-service.js"></script>
<script src="scripts/services/token-service.js"></script>
<script src="scripts/services/admin-service.js"></script>
<script src="scripts/services/browser-service.js"></script>
<script src="scripts/controllers/main-controller.js"></script>
<script src="scripts/controllers/home-controller.js"></script>
<script src="scripts/controllers/modal-controller.js"></script>
<script src="scripts/controllers/sign-up-controller.js"></script>
<script src="scripts/controllers/free-sign-up-controller.js"></script>
<script src="scripts/controllers/complimentary-sign-up-controller.js"></script>
<script src="scripts/controllers/sign-in-controller.js"></script>
<script src="scripts/controllers/upgrade-subscription-controller.js"></script>
<script src="scripts/controllers/reactivate-subscription-controller.js"></script>
<script src="scripts/controllers/forgot-password-controller.js"></script>
<script src="scripts/controllers/reset-password-controller.js"></script>
<script src="scripts/controllers/user-home-controller.js"></script>
<script src="scripts/controllers/player-controller.js"></script>
<script src="scripts/controllers/account-controller.js"></script>
<script src="scripts/controllers/preferences-controller.js"></script>
<script src="scripts/controllers/change-credit-card-controller.js"></script>
<script src="scripts/controllers/common-controller.js"></script>
<script src="scripts/controllers/contact-us-controller.js"></script>
<script src="scripts/controllers/verify-user-controller.js"></script>
<script src="scripts/controllers/change-password-controller.js"></script>
<script src="scripts/controllers/resend-verification-controller.js"></script>
<script src="scripts/controllers/refer-a-friend-controller.js"></script>
<script src="scripts/controllers/invite-controller.js"></script>
<script src="scripts/controllers/all-users-controller.js"></script>
<script src="scripts/controllers/user-details-controller.js"></script>
<script src="scripts/controllers/admin-change-password-controller.js"></script>
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<!-- alden's elementCreation script -->
<script type="text/javascript">
	var dl = document.createElement('div');
	var hmBtn = document.createElement('mnuItm');
		hmBtn.id = 'pgCntnt';
		hmBtn.innerHTML = "Top ^";
	var dl_img = document.createElement('img');
		dl.id = 'docklogo';
		dl_img.id = 'dl_img';
		dl_img.src = 'imgs/minilogo.png';
</script>
<!-- ============================== -->

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29465199-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/ng-template" id="modalWindow">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="modalTitle"></h3>
    </div>
    <div class="modal-body" ng-bind="modalBody">

    </div>
    <div class="modal-footer">
        <button ng-show="showOkButton" class="btn-submit btn-modal" ng-click="ok()" translate="INDEX_OK_BUTTON">OK</button>
        <button ng-show="showYesButton" class="btn-submit btn-modal" ng-click="yes()" translate="INDEX_YES_BUTTON">Yes</button>
        <button ng-show="showNoButton" class="btn-submit btn-modal" ng-click="no()" translate="INDEX_NO_BUTTON">No</button>
    </div>
</script>
</body>
</html>
