#channelGuideDescription p:last-child {
    display: block;
    top: -3px;
}

.small-channel-description {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
    width: 100%;
    height: auto;
}

.channel-description > div {
    overflow: hidden;
    border-right: 1px solid;
    border-color: rgb(0, 27, 72);
    height: 60px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
}

.channel-description > div:first-child {
    width: 154px;
    height: 60px;
    border-right: 1px groove;
    border-color: rgb(0, 27, 72);
    z-index: 8;
}

.program-details-header, .program-details-body {
    font-size: 60%;
    color: #444;
    font-weight: bolder;
    text-transform: uppercase;
}

.program-details-body {
    text-transform: initial;
    color: #eee;
}

.channel-details-header, .channel-details-body {
    font-size: 60%;
    color: #343;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: default;
}

.channel-details-body {
    text-transform: uppercase;
    color: #fff;
    padding-left: 6px;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
}

body, html {
    font-size: 14px;
}

#testP {
    cursor: pointer;
}

.selected-class-name {
    color: red !important;
    width: 25% !important;
}

.modal-btm-space {
    margin-bottom: 3%;
}

#navBar {
    width: 100%;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: transparent;
    color: rgba(0, 0, 0, 0);
}

.position-div {
    display: inline-block;
    margin-right: -4px;
    vertical-align: baseline;
}

.channel-panel, .user-guide-panel {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.channel-panel {
    background: rgb(213, 213, 213);
    width: 100%;
    margin: 10px 0px 2px;
}

.channel-panel-max {
    background: rgb(213, 213, 213);
    width: 100%;
    height: 315px;
    margin: 10px 0px 20px;
}

#yiptv-player, #yiptv-player_wrapper {
    position: relative;
    display: inline-block !important;
    padding-right: 0px;
    margin-right: 0px;
    vertical-align: top;
}

#playerTop, #playerBottom {
    width: 100%;
    margin-bottom: 8px;
    /*     box-shadow: 0px 5px 2px #888888; */
}

#playerTop {
    overflow: hidden;
}

#playerBottom {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 15px;
}

.player-top {
    height: 360px;
}

.main-player {
    width: 72%;
    height: 100%;
    vertical-align: top !important;
    background-image: url('../images/web-app-default-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-player img {
    width: 100%;
    height: auto;
}

.main-favorites {
    background: transparent;
    width: 28%;
    height: 100%;
    vertical-align: top !important;
    /*     margin-left: -3px; */
}

.suggested-channels {
    height: 195px;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.suggested-channels-min {
    height: 4.23%;
    width: 100%;
    pointer-events: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.ease {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.channel-preview {
    background: #454545;
    position: relative;
    color: transparent;
    width: 100%;
    height: 225px;
    padding: 1%;
    overflow-y: hidden;
    overflow-x: auto;
    vertical-align: top;
    white-space: nowrap;
}

.channel-preview > div {
    white-space: normal;
    width: 35%;
    height: 100%;
    display: inline-table;
    padding: 1%;
    background: slategrey;
    margin-right: 1%;
    border-radius: 4px;
    box-shadow: -4px 4px 1px #333;
}

.channel-preview > div:first-child {
    background: #7AA0AB url(../images/play-button.png) 80% 0% no-repeat;
    cursor: pointer;
    background-size: contain;
    margin-left: 90px;
}

.channel-preview img {
    position: relative;
    width: 80px;
    float: right;
    margin: 10px;
    margin-left: 15px;
    border-radius: 4px;
    border: rgb(200, 200, 200) 1px solid;
    box-shadow: 2px 3px 2px #444;
}

.channel-preview > div > p {
    margin: 2px 0 0 20px;
    text-indent: -20px;
    line-height: 0.85em;
}

.channel-preview > div > p:not(:last-child) {
    white-space: nowrap;
    text-indent: 0px;
    margin-left: 0px;
    line-height: 1.0em;
    margin-top: 0px;
}

#channelHolderFront, #channelHolderBack, #favoriteChannelHolderFront, #favoriteChannelHolderBack {
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
    -moz-backface-visibility: hidden;
    -moz-transition: -moz-transform 1s;
    position: absolute;
}

.suggested-channel {
    width: 185px;
    height: 100%;
    margin-right: 5px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.suggested-channel-open {
    width: 500px !important;
    height: 100%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.suggested-channel img {
    width: 185px;
    height: 100%;
}

.suggested-channel article {
    position: absolute;
    width: 310px;
    height: 100%;
    float: right;
    display: inline;
    background: grey url(../images/channel-background.jpg) 50% 50% no-repeat;
    background-size: cover;
    padding: 2%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.suggested-channel article h4 {
    color: black;
    margin: 0 0 5px;
    position: relative;
    white-space: normal;
    vertical-align: top;
}

.suggested-channel article p:nth-child(-n+3) {
    color: rgb(183, 108, 29);
    position: relative;
    display: inline-block;
    padding: 3px;
    vertical-align: top;
    vertical-align: top;
}

.suggested-channel article p {
    color: dimgrey;
    font-size: 90%;
    white-space: nowrap;
}

.suggested-channel article p:last-child {
    white-space: normal;
    color: black;
    width: 300px;
    padding: 2px;
}

.back {
    transform: perspective(1000px) rotateY(180deg);
    backface-visibility: hidden;
    -webkit-transform: perspective(1000px) rotateY(180deg);
    width: 100%;
    -moz-transform: perspective(1000px) rotateY(180deg);
    -ms-transform: perspective(1000px) rotateY(180deg);
    -o-transform: perspective(1000px) rotateY(180deg);
}

.front {
    transform: perspective(1000px) rotateY(0deg);
    backface-visibility: hidden;
    width: 100%;
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
}

.favorite-channel {
    width: 49.15%;
    height: 50%;
    margin-right: 1px;
    overflow: hidden;
    cursor: pointer;
}

.favorite-channel article {
    height: 200px;
    width: 100%;
    background-size: cover;
    padding: 5px;
    cursor: pointer;
}

.favorite-channel article img {
    width: 150px;
    height: 150px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.favorite-channel > div:nth-child(even) {
    float: right;
}

.suggested-channel img:first-child {
    width: auto;
    height: 100%;
}

.suggested-channel img:last-child {
    float: left;
    position: absolute;
    z-index: 5;
    top: 141px;
    padding: 4px;
    width: 60px;
    height: 40px;
    left: 0px;
}

.suggested-channel img:last-child {
    float: left;
    position: absolute;
    z-index: 5;
    top: 141px;
    padding: 4px;
    width: 60px;
    height: 40px;
    left: 0px;
}

.favorite-channel > div:nth-child(odd) div {
    top: 135px;
    right: 0px;
}

.favorite-channel > div:nth-child(even) div {
    top: 135px;
    left: 0px;
}

.channel-label {
    width: 185px;
    background: rgba(193, 108, 29, 0.9);
    top: 0px;
    padding: 4px 7px;
    color: white;
    font: oblique normal bold 1em Arial, sans-serif;
    position: absolute;
    z-index: 4;
}

#favoriteChannelHolderFront, #favoriteChannelHolderBack {
    background: grey url(../images/channel-background.jpg) 50% 50% no-repeat;
}

#favoriteChannelHolderFront > img {
    width: 181px;
    height: 185px;
}

#favoriteChannelHolderBack > img {
    width: 45px;
    height: 45px;
}

.channel-label span:last-child {
    color: #abe4ea;
    font-size: 85%;
    white-space: nowrap;
}

.horizontal-bottom {
    overflow-x: scroll;
    margin-left: 154px;
}

#image-logos {
    height: 60px;
    border-right: 1px groove;
}

.logo-detail {
    border-bottom: 1px solid;
}

.show-detail {
    border-bottom: 1px solid;
}

.image-lineup {
    width: 154px;
    height: 60px;
    border-color: rgb(0, 27, 72);
    z-index: 8;
}

.channel-guide-panel-minimized {
    background: lightgrey;
    width: 100%;
    height: 45px;
    bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 4px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.close-btn {
    width: auto;
    height: auto;
    position: relative;
    cursor: pointer;
    left: -1px;
    bottom: 125px;
    padding: 8px 23px;
    border: thin solid rgb(200, 200, 200);
    border-bottom: none;
    border-radius: 0px;
    border-top-right-radius: 4px;
    box-shadow: 1px -2px 5px #444;
    text-transform: uppercase;
}

.filter-close-btn {
    width: auto;
    height: auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block !important;
    padding: 8px 23px;
    border: thin solid rgb(200, 200, 200);
    border-bottom: none;
    border-left: none;
    border-radius: 0px;
    border-top-right-radius: 4px;
    box-shadow: 1px -2px 5px #444;
    text-transform: uppercase;
    z-index: 1;
}

.slider-page {
    width: auto;
    height: auto;
    position: absolute;
    cursor: pointer;
    left: 0px;
    bottom: 0px;
    display: block !important;
    padding: 8px 23px;
    border-bottom: none;
    border-left: none;
    border-radius: 4px;
    text-transform: uppercase;
    z-index: 1;
}

.filter-open-btn {
    cursor: pointer;
    display: block !important;
    padding: 12px;
    border: thin solid rgb(200, 200, 200);
    border-top: none;
    border-left: none;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px -2px 5px #444;
    text-transform: uppercase;
    z-index: 1;
    background: rgba(52, 42, 146, 0.95) url(../images/filter.png) 100% no-repeat;
    background-size: contain;
}

.brand-logo {
    width: 80px;
    height: 65px;
    position: relative;
    left: -1px;
    top: -345px;
    padding: 8px 24px;
    border: thin solid rgb(200, 200, 200);
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    box-shadow: 2px 3px 5px #444;
}

.guide-header {
    border-bottom: medium solid transparent;
    box-shadow: 0 2px 2px transparent;
    z-index: 6;
    width: 100%;
}

.guide-header > ul {
    background-color: #000F29;
}

.time-module-item {
    width: 300px;
    height: 28px;
    background: #000F29;
    color: white;
    padding: 4px 0 4px 12px;
    display: inline-block;
    vertical-align: top;
    border-left: thick solid #000033;
}

.time-module-item:first-child {
    margin-left: 153px;
    /*     width:150px; */
}

.user-guide {
    width: 100%;
    background: transparent;
    margin-right: 1px;
    /*border-right: 1px solid;*/
}

#channelLogos {
    position: fixed;
}

.user-guide-description {
    color: #000033;
    background: rgba(0, 0, 0, 0);
    font-size: 100%;
    font-weight: normal;
    font-variant: normal;
    border-bottom: 1px solid darkblue;
    height: 100%;
    width: 100%;
}

.user-guide-description img {
    float: left;
    width: 32px;
    height: auto;
    margin: 0 7px;
    vertical-align: top;
}

.clear-both {
    clear: both;
}

.notification {
    text-align: center;
    position: relative;
    /*     padding: 5px 16px; */
    border-top: 6px solid transparent;
    /*        border-bottom: 20px solid whitesmoke ; */
    /*         -webkit-box-shadow: inset 0px 0px 4px 0px rgba(191,247,136,1); */
    /*         -moz-box-shadow: inset 0px 0px 4px 0px rgba(191,247,136,1); */
    /*        box-shadow: inset 0px 0px 4px 0px rgba(191,247,136,1); */
    line-height: 1.5;
    /*         background-color: #F7F7F7; */
    color: slateblue;
    height: 100%;
}

.notification img {
    margin: 5px auto;
    display: block;
    margin-top: -5px;
}

.ad-free {
    width: 100%;
    height: 90px;
    margin-left: 10px;
    margin-top: 5px;
}

.ad-not-free {
    width: 100%;
    height: 30px;
}

#channelMenuHolder {
    background: transparent;
    height: 40px;
    width: 100%;
    display: flex;
}

#menuBar {
    height: 40px;
    width: 100%;
    background: transparent;
}

#filterPanelDropDown {
    height: 2px;
    background: rgb(235, 235, 235);
}

#clock {
    z-index: 10;
    width: 154px;
    height: 28px;
    position: absolute;
    display: inline-block;
    color: white;
    background-color: #000f29;
    text-align: center;
    vertical-align: middle;
    margin-top: 4px;
    padding: 4px 0px 4px 12px;
}

#channelTimePanel {
    z-index: 5;
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin-top: 2px;
}

#logoColumn {
    background-color: transparent;
    z-index: 10;
    position: absolute;
    width: 154px;
    height: 300px;
    float: left;
    overflow: hidden;
    margin-top: -6px;
}

#userGuide {
    background-color: transparent;
    width: 100%;
    float: left;
    margin-top: -6px;
}

.pre-channel {
    z-index: 36;
    width: 30px;
    height: 40px;
    float: left;
    padding-top: 4px;
    display: table-cell;
    display: inline-block;
    background: transparent;
}

.next-channel {
    z-index: 36;
    width: 30px;
    height: 40px;
    float: left;
    text-align: center;
    margin-left: 1px;
    padding-top: 4px;
    display: table-cell;
    display: inline-block;
    background: transparent;
}

#currentChannel {
    width: 175px;
    height: 40px;
    text-align: center;
    float: left;
    display: table-cell;
    display: inline-block;
    margin-left: 1px;
    background: transparent;
}

#programDetail {
    float: left;
    width: 5%;
    height: 40px;
    margin-left: 1px;
    padding-top: 9px;
    text-align: center;
    display: table-cell;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
}

#programDetailSlider {
    margin-top: 140px;
    width: 300px;
}

#programDetailHolder {
    background-color: rgba(55, 55, 55, 0.9);
    width: 300px;
    height: 100%;
    padding: 20px;
}

#detailHolder {
    border: 1px solid;
    border-color: rgb(150, 150, 150);
    width: 261px;
}

#detailTitle {
    color: rgb(0, 0, 0);
    background: rgb(210, 210, 210);
    width: 260px;
    height: 25px;
}

#detailShowTime {
    width: 250px;
    height: 24px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 3px;
    margin-left: 3px;
    text-decoration: underline;
}

#detailDescription {
    word-wrap: break-word;
    font-size: 10px;
    font-weight: normal;
    text-overflow: ellipsis;
    width: 260px;
    height: 200px;
    margin-left: 2px;
    color: rgb(255, 255, 255);
}

#okButton {
    margin-bottom: 10px;
    margin-left: 120px;
}

.detail-title {
    margin-left: 5px;
    font-weight: bold;
    line-height: 25px;
}

#favoriteChannels {
    float: left;
    height: 40px;
    width: 10%;
    line-height: 40px;
    text-align: center;
    color: white;
    margin-left: 1px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
}

#recentChannels {
    float: left;
    height: 40px;
    width: 6%;
    line-height: 40px;
    color: white;
    display: inline-block;
    background: transparent;
    cursor: pointer;
}

#allChannels {
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    padding-right: -3px;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
}

#filter {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: transparent;
}

/*
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/
@media (min-width: 1024px) and (max-width: 2400px) {
    body {
        height: auto;
        width: auto;
    }

    .premium-button-holder {
        width: 375px
    }
}

@media screen and (max-width: 1024px) {
    .navbar-right {
        width: 270px;
    }

    .premium-button-holder {
        width: 300px;
    }

    #recentChannels {
        width: 7%;
    }

    #allChannels {
        width: 7%;
    }

    #favorite {
        width: 7%;
    }
}

@media screen and (max-width: 707px) {

    .language {
        font-size: 13px;
    }

    .premium-button-holder {
        width: 250px
    }
}

@media screen and (max-width: 639px) {

    .user-home-box .caption {
        left: 1%;
    }

    .language a {
        margin: 0 0 0 5px !important
    }

    .language a:hover {
        margin: 0 0 1px 5px !important
    }

    .submit-button {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    .center-form {
        font-size: 16px;
    }

    .content-area h1 {
        font-size: 24px;
    }

    .label-text {
        font-size: 15px;
    }

    .error-message {
        font-size: 15px;
    }
}

@media screen and (max-width: 479px) {

    a.import-button {
        font-size: 12px;
        padding: 5px 5px;
        margin: 0;
    }

    .user-home-box .caption button {
        font-size: 18px;
        width: 350px;
    }

    .center-form {
        font-size: 14px;
    }

    .center-form a {
        padding: 0 0 0 0;
    }

    .center-form .separator {
        display: none;
    }
}

@media screen and (max-width: 399px) {
    .user-home-box .caption {
        left: 1%;
    }

    .user-home-box .caption button {
        font-size: 14px;
        padding: 10px;
        width: 250px;
    }

    .cancel-on {
        font-size: 14px;
        width: 250px;
    }

    .submit-button {
        height: 60px;
        line-height: 60px;
        font-size: 15px;
    }

}

@media (max-width: 1024px) {
    .navbar-right {
        width: 270px;
    }

}

.free-tv {
    height: 360px;
}

.paid-tv {
    height: 360px;
}

.paid-tv .main-player {
    margin: 0 auto;
}

.paid-tv .position-div {
    display: inherit;
}

.collapse.navbar-collapse.in {
    /*width: 25%;*/
    z-index: 25;
}

.nav.navbar-nav.navbar-right li {
    padding-left: 3%;
}

.navbar-toggle {
    margin-top: 1px;
}

.navbar-default .navbar-toggle {
    border-width: 2px;
}
