@media (min-width: 1024px) and (max-width: 2400px) {
    body {
        height: auto;
        width: auto;
    }

    .premium-button-holder {
        width: 375px
    }
}



@media screen and (max-width: 707px) {

    .language {
        font-size: 13px;
    }

    .premium-button-holder {
        width: 250px
    }
}

@media screen and (max-width: 639px) {

    .user-home-box .caption {
        left: 1%;
    }

    .language a {
        margin: 0 0 0 5px !important
    }

    .language a:hover {
        margin: 0 0 1px 5px !important
    }

    .submit-button {
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    .center-form {
        font-size: 16px;
    }

    .content-area h1 {
        font-size: 24px;
    }

    .label-text {
        font-size: 15px;
    }

    .error-message {
        font-size: 15px;
    }
}

@media screen and (max-width: 479px) {

    a.import-button {
        font-size: 12px;
        padding: 5px 5px;
        margin: 0;
    }

    .user-home-box .caption button {
        font-size: 18px;
        width: 350px;
    }

    .center-form {
        font-size: 14px;
    }

    .center-form a {
        padding: 0 0 0 0;
    }

    .center-form .separator {
        display: none;
    }
}

@media screen and (max-width: 399px) {
    .user-home-box .caption {
        left: 1%;
    }

    .user-home-box .caption button {
        font-size: 14px;
        padding: 10px;
        width: 250px;
    }

    .cancel-on {
        font-size: 14px;
        width: 250px;
    }

    .submit-button {
        height: 60px;
        line-height: 60px;
        font-size: 15px;
    }

}

@media (max-width: 1024px) {
    .navbar-right {
        width: 270px;
    }

}

.free-tv {
    height: 360px;
}

.paid-tv {
    height: 360px;
}

.paid-tv .main-player {
    margin: 0 auto;
}

.paid-tv .position-div {
    display: inherit;
}

.collapse.navbar-collapse.in {
    /*width: 25%;*/
    z-index: 25;
}

.nav.navbar-nav.navbar-right li {
    padding-left: 3%;
}

.navbar-toggle {
    margin-top: 1px;
}

.navbar-default .navbar-toggle {
    border-width: 2px;
}
