/* Globals */
body {
  margin: 0;
  padding: 0px;
  height: auto;
  font-family: default, Verdana, Arial, Tahoma;
  font-size: 12px; }

* {
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  text-decoration: none; }

body, html {
  font-size: 14px;
  max-width: 1280px;
  margin: 0 auto; }

ul, ol {
  margin: 0;
  padding: 0px;
  list-style-type: none; }

header {
  float: left;
  width: 100%;
  padding: 0px;
  background: transparent;
  height: 50px;
  z-index: 998;
  margin-bottom: 3px; }

dl {
  margin-bottom: 40px !important; }

dt {
  color: darkgrey;
  font-size: 1.25em;
  font-weight: bolder !important;
  text-transform: capitalize; }

dd {
  color: dimgrey;
  margin-top: 2px;
  font-size: 1.0em;
  white-space: normal; }

dd + dd {
  color: rgba(135, 117, 104, 0.9);
  margin-bottom: 12px; }

#welcome {
  padding: 0;
  text-transform: uppercase;
  margin: 0 auto;
  float: right;
  white-space: nowrap; }

#welcome:hover {
  cursor: default;
  color: rgba(62, 25, 77, 0.941176);
  border-bottom: none; }

.off {
  display: none !important; }

.on {
  display: initial !important; }

/* purple label checkbox */
.purple:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 0px;
  position: absolute;
  left: 0;
  top: 3px;
  background-color: #A03269;
  border-radius: 3px;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8); }

.purple {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 15px; }

.check-box label {
  margin-bottom: 10px; }

.check-box label:before {
  border-radius: 3px; }

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 15px; }

input[type="radio"]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: white;
  text-align: center;
  line-height: 15px; }

input[type="checkbox"] {
  margin-left: 10px;
  display: none; }

input[type="radio"] {
  margin-left: 10px;
  display: none; }

#navBar {
  width: 100%;
  height: 34px;
  clear: both;
  display: block;
  position: absolute;
  background: rgba(254, 254, 254, 0.95);
  color: rgba(62, 25, 77, 0.94); }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }

.navbar-default {
  background: none;
  border: none;
  margin: 0px; }

.uppercase-text {
  text-transform: uppercase; }

.content-area {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative; }

.content-area h1 {
  font-family: 'radikallight';
  background: url(../images/title-line.png) center 18px no-repeat;
  text-align: center;
  font-size: 31px;
  font-weight: normal;
  text-transform: uppercase;
  color: #A03269;
  padding: 0px;
  margin: 0px 0px 1%; }

.content-area .content-box h1 {
  font-family: 'radikallight';
  background: url(../images/title-line.png) center 18px no-repeat;
  text-align: center;
  font-size: 31px;
  font-weight: normal;
  text-transform: uppercase;
  color: #A03269;
  padding: 0px;
  margin: 0 0 1%; }

.content-area h1 span {
  background: #fff;
  padding: 0px 2% 0px 2%;
  margin: 0px; }

.content-area .message-box p {
  padding: 25px 0px 0px 0px;
  margin-top: 60px; }

.content-box {
  float: left;
  width: 100%;
  font-family: 'gotham-lightgotham-light';
  font-size: 19px;
  color: #000;
  padding: 20px 0 80px 0;
  margin: 0px; }

.content-box a:hover {
  color: #A03269; }

.form-box {
  width: 700px;
  font-family: 'radikallight';
  font-size: 16px;
  color: #000;
  padding: 0px;
  margin: 0 auto; }

.header-color {
  color: #291753; }

#details {
  height: 250px;
  resize: none; }

.text-box {
  background: #FFFFFF;
  color: #000000;
  font-family: "radikallight";
  font-size: 20px;
  height: 44px;
  margin: 10px 0 1%;
  padding: 0 1%;
  width: 98%;
  border-radius: 5px;
  border: 1px solid; }

.dropdown-list {
  -webkit-appearance: menulist-button;
  padding: 0 0 0 1% !important; }

.text-box-error {
  background: #FFFFFF;
  border: 2px solid;
  border-color: #e41d1d !important;
  color: #000000;
  font-family: "radikallight";
  font-size: 20px;
  height: 44px;
  margin: 10px 0 1%;
  padding: 0 1%;
  width: 98%;
  border-radius: 5px; }

.center-form {
  float: left;
  width: 100%;
  text-align: center; }

.center-form span {
  font-family: "radikalthin";
  font-weight: normal;
  padding: 0px 5px;
  margin: 0px 0px 0px 0px; }

.center-form a {
  color: #A03269;
  text-decoration: none; }

.center-form a:hover {
  color: #A03269;
  text-decoration: underline; }

.label-text {
  font-family: 'gotham-bookgotham-book';
  font-size: 16px;
  padding-left: 0;
  text-transform: capitalize; }

.label-text-info {
  font-family: 'gotham-bookgotham-book';
  font-size: 14px;
  padding-left: 0;
  font-style: italic; }

.sign-up-message {
  font-family: 'gotham-bookgotham-book';
  font-size: 16px;
  padding-left: 0;
  text-transform: none; }

.error-message {
  font-family: 'gotham-bookgotham-book';
  font-size: 16px;
  color: #f92b26;
  text-transform: uppercase; }

.status-message {
  font-family: 'gotham-bookgotham-book';
  font-size: 16px;
  color: #412c89;
  text-transform: uppercase; }

.success-message {
  font-family: 'gotham-bookgotham-book';
  font-size: 16px;
  color: #1CAF9A;
  text-transform: uppercase; }

.dropdown-width {
  width: 400px !important; }

.dropdown-width .form-box {
  width: auto !important; }

@media (min-width: 1024px) and (max-width: 2400px) {
  body {
    height: auto;
    width: auto; }
  .premium-button-holder {
    width: 375px; } }

@media screen and (max-width: 707px) {
  .language {
    font-size: 13px; }
  .premium-button-holder {
    width: 250px; } }

@media screen and (max-width: 399px) {
  .user-home-box .caption {
    left: 1%; }
  .user-home-box .caption button {
    font-size: 14px;
    padding: 10px;
    width: 250px; }
  .cancel-on {
    font-size: 14px;
    width: 250px; }
  .submit-button {
    height: 60px;
    line-height: 60px;
    font-size: 15px; } }

@media (max-width: 1024px) {
  .navbar-right {
    width: 270px; } }

@media screen and (max-width: 415px) {
  [contentEditable=true]:focus {
    background: rgba(90, 90, 90, 0.7);
    border: #999 2px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 1%;
    outline: none; }
  header {
    width: auto;
    height: 50px;
    z-index: 998;
    padding: 0px !important;
    background: transparent; }
  .language {
    display: none; }
  * {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none; }
  a {
    text-decoration: none;
    color: rgba(155, 155, 155, 0.94);
    font-weight: bold; }
  a:hover {
    color: rgba(254, 254, 254, 0.89); }
  dl {
    font-size: 100%; }
  dt {
    color: darkgrey;
    font-size: 1.25em;
    font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold !important;
    text-transform: capitalize; }
  dd {
    color: dimgrey;
    margin-top: 2px;
    font-size: 1.0em;
    white-space: normal; }
  dd + dd {
    color: rgba(135, 117, 104, 0.9);
    margin-bottom: 12px; }
  body {
    height: auto;
    font-family: default, Verdana, Arial, Tahoma;
    font-size: 12px; }
  footer {
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0px;
    background: rgba(253, 253, 253, 0.91);
    text-transform: uppercase;
    text-align: center;
    font-size: 7px;
    color: grey;
    border-top: solid 1px lightgrey;
    padding: 10px;
    z-index: 998; } }

/* Variables */
/* typography */
@font-face {
  font-family: 'radikalregular';
  src: url("fonts/nootype_-_radikal-webfont.eot");
  src: url("fonts/nootype_-_radikal-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nootype_-_radikal-webfont.woff2") format("woff2"), url("fonts/nootype_-_radikal-webfont.woff") format("woff"), url("fonts/nootype_-_radikal-webfont.ttf") format("truetype"), url("fonts/nootype_-_radikal-webfont.svg#radikalregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'radikalthin';
  src: url("fonts/nootype_-_radikal_thin-webfont.eot");
  src: url("fonts/nootype_-_radikal_thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nootype_-_radikal_thin-webfont.woff2") format("woff2"), url("fonts/nootype_-_radikal_thin-webfont.woff") format("woff"), url("fonts/nootype_-_radikal_thin-webfont.ttf") format("truetype"), url("fonts/nootype_-_radikal_thin-webfont.svg#radikalthin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'radikallight';
  src: url("fonts/nootype_-_radikal_light-webfont.eot");
  src: url("fonts/nootype_-_radikal_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nootype_-_radikal_light-webfont.woff2") format("woff2"), url("fonts/nootype_-_radikal_light-webfont.woff") format("woff"), url("fonts/nootype_-_radikal_light-webfont.ttf") format("truetype"), url("fonts/nootype_-_radikal_light-webfont.svg#radikallight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham-lightgotham-light';
  src: url("fonts/gothmlig_0-webfont.eot");
  src: url("fonts/gothmlig_0-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothmlig_0-webfont.woff2") format("woff2"), url("fonts/gothmlig_0-webfont.woff") format("woff"), url("fonts/gothmlig_0-webfont.ttf") format("truetype"), url("fonts/gothmlig_0-webfont.svg#gotham-lightgotham-light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham-bookgotham-book';
  src: url("fonts/gothmbok-webfont.eot");
  src: url("fonts/gothmbok-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gothmbok-webfont.woff") format("woff"), url("fonts/gothmbok-webfont.ttf") format("truetype"), url("fonts/gothmbok-webfont.svg#gotham-bookgotham-book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham-boldgotham-bold';
  src: url("fonts/gothmbol.eot");
  src: url("fonts/gothmbol.eot?#iefix") format("embedded-opentype"), url("fonts/gothmbol.woff") format("woff"), url("fonts/gothmbol.ttf") format("truetype"), url("fonts/gothmbol.svg#gotham-boldgotham-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebasregular';
  src: url("fonts/bebas_-webfont.eot");
  src: url("fonts/bebas_-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebas_-webfont.woff2") format("woff2"), url("fonts/bebas_-webfont.woff") format("woff"), url("fonts/bebas_-webfont.ttf") format("truetype"), url("fonts/bebas_-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* views */
.text-area {
  height: 241px; }

.navbar-default {
  background-color: transparents;
  width: 100%; }

.open > .dropdown-menu {
  min-width: 100%; }

.menu {
  width: 100%;
  font-weight: bold; }

#channelFilterHolder .filtered-channels-count span {
  float: left; }

#menuBar .navbar-header {
  max-width: 60%; }

#menuBar #programInfo {
  z-index: 10;
  display: inline-block;
  margin-left: 1px;
  background: transparent;
  float: left; }

#menuBar .epg-controls span {
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
  top: 10px;
  color: white; }

#menuBar #currentChannel {
  background-color: rgba(255, 255, 255, 0.85);
  width: 70px; }
  #menuBar #currentChannel img {
    height: 40px; }

#menuBar .entire-description {
  margin-left: 10px;
  background-color: #ddd;
  border: 1px solid black;
  width: 350px;
  z-index: 35;
  border-radius: 4px;
  border: 1px solid black; }

#menuBar .entire-title {
  margin-left: 10px;
  border: 1px solid black;
  width: 300px;
  z-index: 35;
  background-color: #ddd;
  border-radius: 4px;
  border: 1px solid black; }

#title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 17px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: default; }

#description {
  text-overflow: ellipsis !important;
  white-space: nowrap;
  height: 25px;
  text-align: left;
  overflow: hidden;
  text-overflow: clip;
  line-height: 25px;
  color: white;
  vertical-align: middle;
  font-size: 10px;
  cursor: default; }

#filter img {
  top: 9px;
  width: 20px;
  height: 20px; }

#favorite {
  width: 5%;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  z-index: 2; }

.label-filer {
  margin-bottom: 0px;
  cursor: pointer; }

#currentChannel img {
  max-width: 140px; }

.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 10px;
  margin-right: 1px;
  width: 19.5%; }

.checkbox {
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0px 0px 0px 0px;
  margin: 0px 15px 5px 0px;
  background: url(../images/checkbox.png) no-repeat;
  border: 0px solid #FFFFFF;
  display: block;
  clear: left;
  float: left; }

#channelFilterHolder {
  margin-top: 10px;
  background-color: rgba(55, 55, 55, 0.9);
  width: 100%;
  height: 100%;
  padding: 20px; }

.channel-filter-categories {
  background-color: #333;
  padding: 5px;
  color: #fff;
  margin-top: 10px;
  margin-left: -20px;
  display: inline-block; }

.filter-categories {
  width: 350px; }

#channelFilterHolder .panel-heading {
  background: rgba(200, 200, 200, 0.8);
  padding: 2px 5px; }

#channelFilterHolder .panel-default, #channelFilterHolder .panel {
  border-radius: 0; }

#channelFilterHolder .panel-title {
  font-size: 100%;
  font-weight: bolder; }

#channelFilterHolder .panel-body {
  padding: 5px;
  color: #fff; }

.panel-body-left {
  width: 165px;
  margin-left: -10px;
  display: inline-block;
  float: left; }

.panel-body-right {
  width: 185px;
  display: inline-block;
  float: left; }

.filter-repeat {
  text-align: left; }

#channelFilterHolder .panel-body input[type="checkbox"] {
  display: inline-block !important;
  margin-right: 5px; }

#channelFilterHolder .panel-collapse {
  border: 1px solid #ddd;
  width: 350px;
  display: inline-block; }

.channel-filters {
  margin-right: 10px;
  margin-top: 5px; }

#filterClearAll {
  float: left;
  margin-top: -10px;
  margin-left: 10px; }

#filterClose {
  float: right;
  margin-top: -10px;
  margin-right: 10px; }

.panel-group .panel + .panel {
  margin-top: 0px !important; }

#navBar {
  width: 100%;
  height: 34px;
  clear: both;
  display: block;
  position: absolute;
  background: transparent;
  color: transparent; }

.navbar-default .navbar-toggle {
  border-width: 2px; }

.close-btn {
  width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
  left: -1px;
  bottom: 125px;
  padding: 8px 23px;
  border: thin solid #c8c8c8;
  border-bottom: none;
  border-radius: 0px;
  border-top-right-radius: 4px;
  box-shadow: 1px -2px 5px #444;
  text-transform: uppercase; }

.filter-close-btn {
  width: auto;
  height: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block !important;
  padding: 8px 23px;
  border: thin solid #c8c8c8;
  border-bottom: none;
  border-left: none;
  border-radius: 0px;
  border-top-right-radius: 4px;
  box-shadow: 1px -2px 5px #444;
  text-transform: uppercase;
  z-index: 1; }

#channelMenuHolder {
  background: transparent;
  height: 40px;
  width: 100%;
  display: flex; }

#menuBar {
  height: 40px;
  width: 100%;
  background: transparent; }

#currentChannel {
  width: 175px;
  height: 40px;
  text-align: center;
  float: left;
  display: table-cell;
  display: inline-block;
  margin-left: 1px;
  background: transparent; }

.paid-tv .position-div {
  display: inherit; }

.collapse.navbar-collapse.in {
  /*width: 25%;*/
  z-index: 25; }

.nav.navbar-nav.navbar-right li {
  padding-left: 3%; }

.navbar-toggle {
  margin-top: 1px; }

.navbar-default .navbar-toggle {
  border-width: 2px; }

@media screen and (max-width: 415px) {
  #navBar {
    width: 100%;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: rgba(254, 254, 254, 0.95);
    color: rgba(62, 25, 77, 0.94);
    border-bottom: solid 1px lightgrey; } }

#headerBrand .navbar-right {
  width: 470px;
  height: 100%; }
  #headerBrand .navbar-right li {
    padding-left: 0px;
    height: 100%; }
  #headerBrand .navbar-right .button-menu {
    margin-left: 2px;
    height: 100%; }
    #headerBrand .navbar-right .button-menu a {
      background: rgba(210, 210, 210, 0.9); }
  #headerBrand .navbar-right .number-contact {
    top: 30%; }

#phoneHeader {
  position: relative;
  z-index: 101; }

footer {
  width: 100%;
  max-width: 1280px;
  height: 32px;
  bottom: 0px;
  background: rgba(253, 253, 253, 0.91);
  text-transform: uppercase;
  text-align: center;
  font-size: 9px;
  color: grey;
  border-top: solid 1px lightgrey;
  padding: 10px 5px;
  z-index: 998; }

.top-shadow {
  position: fixed; }

#headerBrand {
  height: 50px;
  text-transform: uppercase;
  border-bottom: solid 1px transparent;
  z-index: 50; }

#headerBrand img {
  width: auto;
  height: 80px;
  margin: 0 0 0 25px;
  top: 9px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  z-index: 998; }

.contact-number {
  width: 50%;
  height: 100%;
  margin-right: 5px;
  padding: 2px;
  padding-top: 15px;
  color: black;
  text-align: right;
  vertical-align: middle; }

#menuItems {
  margin: 6px auto;
  text-align: center; }

#menuItems menuItem {
  padding: 0px 20px;
  text-transform: uppercase;
  margin: 0 auto; }

#menuItems menuItem:hover {
  cursor: pointer;
  color: rgba(154, 154, 154, 0.89);
  border-bottom: solid 1px red; }

#menuItems div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3%;
  cursor: pointer; }

#menuItems div > img {
  height: 20px;
  width: auto; }

#socialMedia {
  width: 20%;
  text-align: center;
  padding: 0;
  position: relative;
  top: -10px; }

#copyright {
  width: 80%;
  text-align: center;
  padding: 0;
  position: relative;
  top: -10px; }

#socialMedia img {
  width: auto;
  height: 30px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%); }

#socialMedia img:hover {
  cursor: pointer;
  filter: none;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0); }

@media screen and (max-width: 415px) {
  #navBar {
    width: 100%;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: rgba(254, 254, 254, 0.95);
    color: rgba(62, 25, 77, 0.94);
    border-bottom: solid 1px lightgrey; }
  .navbar {
    margin-bottom: 0px !important; }
  .navbar-brand {
    padding: 0 5px !important; }
  .navbar-brand img {
    height: 75%;
    width: auto;
    margin-top: 4px; }
  .nav-btn {
    float: right;
    padding: 2% 1%; }
  #headerBrand {
    height: 50px;
    text-transform: uppercase;
    border-bottom: solid 1px lightgrey;
    margin-right: 20px;
    z-index: 50; }
  #headerBrand img {
    width: auto;
    height: 70px;
    display: block !important;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    z-index: 998; }
  .contact-number {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: black;
    text-align: right;
    vertical-align: middle;
    border-top: thin solid whitesmoke; }
  #menuItems {
    margin: 6px auto;
    text-align: center;
    padding-left: 100px; }
  #menuItems menuItem {
    padding: 4px 10px;
    text-transform: uppercase;
    margin: 9px auto; }
  #menuItems menuItem:hover {
    cursor: pointer;
    color: rgba(254, 254, 254, 0.89);
    background: rgba(5, 5, 5, 0.5); }
  #menuItems div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    cursor: pointer; }
  #menuItems div > img {
    height: 20px;
    width: auto; } }

@media screen and (min-width: 416px) and (max-width: 767px) {
  .contact-number {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: black;
    text-align: right;
    vertical-align: middle;
    border-top: thin solid whitesmoke; }
  header {
    width: auto;
    height: 50px;
    padding: 0px !important;
    z-index: 998;
    background: transparent; }
  .navbar {
    margin-bottom: 0px !important; }
  .navbar-brand {
    padding: 0 5px !important; }
  .navbar-brand img {
    height: 80%;
    width: auto;
    margin-top: 4px; } }

@media screen and (min-width: 416px) and (max-width: 767px) {
  .nav-btn {
    float: right;
    padding: 10px 1% 0; }
  [contentEditable=true]:focus {
    background: rgba(90, 90, 90, 0.7);
    border: #999 2px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 1%;
    outline: none; }
  * {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none; }
  a {
    text-decoration: none;
    color: rgba(155, 155, 155, 0.94);
    font-weight: bold; }
  a:hover {
    color: rgba(254, 254, 254, 0.89); }
  dl {
    font-size: 85%; }
  dt {
    color: darkgrey;
    font-size: 1.25em;
    font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold !important;
    text-transform: capitalize; }
  dd {
    color: dimgrey;
    margin-top: 2px;
    font-size: 1.0em;
    white-space: normal; }
  dd + dd {
    color: rgba(135, 117, 104, 0.9);
    margin-bottom: 12px; }
  body {
    height: auto;
    font-family: default, Verdana, Arial, Tahoma;
    font-size: 12px; }
  .docked {
    background: rgba(227, 62, 66, 0.85) !important; }
  .top-shadow {
    box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9); }
  .content-background {
    background: white;
    color: rgba(254, 254, 254, 0.89); }
  .map {
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    color: rgba(157, 144, 138, 0.98);
    text-align: center; }
  #navBar {
    width: 100%;
    min-width: 980px;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: rgba(254, 254, 254, 0.5);
    color: rgba(62, 25, 77, 0.94);
    border-bottom: solid 1px lightgrey;
    z-index: 998; }
  #menu {
    width: 75%;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle; }
  #topBox {
    position: relative;
    width: auto;
    height: auto;
    padding: 0px 0px !important; }
  footer {
    width: 100%;
    height: 37px;
    position: fixed;
    bottom: 0px;
    background: rgba(253, 253, 253, 0.91);
    text-transform: uppercase;
    text-align: center;
    font-size: 7px;
    color: grey;
    border-top: solid 1px lightgrey;
    padding: 10px;
    z-index: 998; }
  #socialMedia {
    display: none;
    width: 17%;
    text-align: center;
    float: right;
    padding: 0px;
    position: relative;
    top: -21px; }
  #socialMedia img {
    width: auto;
    height: 25px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%); }
  #socialMedia img:hover {
    cursor: pointer;
    filter: none;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0); } }

.tophead {
  width: 100%;
  z-index: 100;
  top: 0;
  position: absolute; }

.mainhd {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; }

.hdrtop {
  height: 46px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC43MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.71) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0.71)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.71) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.71) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.71) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.71) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5ffffff',GradientType=0 );
  /* IE6-8 */ }

.container {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.logo {
  position: absolute;
  top: -10px;
  left: 350px;
  z-index: 1000;
  background-image: url(../images/yiptv-logo.png);
  background-repeat: no-repeat;
  width: 216px;
  height: 177px; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, del, dfn, em, img, center, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, embed, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

.mainhome {
  background-color: #fff; }

.right {
  float: right; }

ol, ul {
  list-style: none; }

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

.hdrbottom {
  height: 57px;
  background: #0a0d84;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMGQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTRiY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(10, 13, 132, 0.7) 0%, rgba(37, 75, 204, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(10, 13, 132, 0.8)), color-stop(100%, rgba(37, 75, 204, 0.6)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(10, 13, 132, 0.7) 0%, rgba(37, 75, 204, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(10, 13, 132, 0.7) 0%, rgba(37, 75, 204, 0.8) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(10, 13, 132, 0.7) 0%, rgba(37, 75, 204, 0.8) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(10, 13, 132, 0.7) 0%, rgba(37, 75, 204, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0d84', endColorstr='#254bcc',GradientType=0 );
  /* IE6-8 */ }

.hdrbottom li a {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.mainnav li {
  float: left;
  list-style: none; }

#menu-item-2881 a {
  border-right: 1px solid rgba(110, 125, 193, 0.7);
  border-left: 1px solid rgba(110, 125, 193, 0.7);
  box-shadow: 1px 0px 0px rgba(70, 76, 167, 0.7), -1px 0px 0px rgba(70, 76, 167, 0.7); }

.hdrbottom li a {
  color: #fff;
  /* font-family: 'Oswald', sans-serif; */
  font-weight: 500; }

.mainnav a {
  display: block;
  padding: 20px 10px;
  color: #220857;
  text-decoration: none;
  text-transform: uppercase; }

.mainnav li {
  float: left;
  list-style: none; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

#menu-item-2896 a {
  border-right: 1px solid rgba(110, 125, 193, 0.7);
  box-shadow: 1px 0px 0px rgba(51, 57, 144, 0.7); }

.loginnav li {
  float: left;
  list-style: none; }

.loginnav li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
  display: block;
  /* border-left: 1px solid rgba(255, 255, 255, 0.2); */ }

#menu-item-8003 a {
  border-left: 1px solid rgba(110, 125, 193, 0.7);
  box-shadow: 1px 0px 0px rgba(70, 76, 167, 0.7), -1px 0px 0px rgba(70, 76, 167, 0.7); }

.signupbtn {
  /* background-color: #7ed009; */
  background-color: #8339b2;
  background: #67328a;
  background: -moz-linear-gradient(top, #67328a 0%, #9d50d1 100%);
  background: -webkit-linear-gradient(top, #67328a 0%, #9d50d1 100%);
  background: linear-gradient(to bottom, #67328a 0%, #9d50d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67328a', endColorstr='#9d50d1',GradientType=0 );
  color: #fff; }

#menu-item-12447 a {
  border-left: 1px solid rgba(110, 125, 193, 0.7);
  box-shadow: 1px 0px 0px rgba(70, 76, 167, 0.7), -1px 0px 0px rgba(70, 76, 167, 0.7); }

.topnav li.call a {
  background-color: transparent;
  color: #001d4a; }

.topnav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #001d4a;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 400; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: auto;
    height: 60px;
    background: transparent;
    z-index: 998; }
  .language {
    display: none; }
  .navbar {
    margin-bottom: 0px !important; }
  header {
    width: auto;
    height: 50px;
    background: transparent;
    z-index: 998;
    margin-bottom: 3px;
    font-size: 90%;
    padding: 0px !important; }
  .navbar-brand {
    padding: 0 5px !important; }
  .navbar-brand img {
    height: inherit; }
  [contentEditable=true]:focus {
    background: rgba(90, 90, 90, 0.7);
    border: #999 2px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 1%;
    outline: none; }
  * {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none; }
  a {
    text-decoration: none;
    color: rgba(155, 155, 155, 0.94);
    font-weight: bold; }
  a:hover {
    color: rgba(254, 254, 254, 0.89); }
  dl {
    font-size: 85%; }
  dt {
    color: darkgrey;
    font-size: 1.25em;
    font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold !important;
    text-transform: capitalize; }
  dd {
    color: dimgrey;
    margin-top: 2px;
    font-size: 1.0em;
    white-space: normal; }
  dd + dd {
    color: rgba(135, 117, 104, 0.9);
    margin-bottom: 12px; }
  body {
    height: auto;
    font-family: default, Verdana, Arial, Tahoma;
    font-size: 12px; }
  .top-shadow {
    box-shadow: 0px -1px 2px #333;
    -webkit-box-shadow: 0px -1px 2px #333;
    -moz-box-shadow: 0px -1px 2px #333; }
  .content-background {
    background: white;
    color: rgba(254, 254, 254, 0.89); }
  .top-shadow {
    box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9); }
  #headerBrand {
    height: 50px;
    text-transform: uppercase;
    border-bottom: solid 1px lightgrey;
    z-index: 50; }
  #headerBrand img {
    width: auto;
    height: 60px;
    display: block !important;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 998;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out; }
  #recentChannels {
    display: none; }
  .contact-number {
    width: 35%;
    height: 100%;
    margin-right: 5px;
    padding: 2px;
    float: right;
    padding-top: 15px;
    color: black;
    text-align: right;
    vertical-align: middle; }
  #navBar {
    width: 100%;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: transparent;
    color: rgba(62, 25, 77, 0.94); }
  #menu {
    width: 100%;
    font-weight: bold;
    font-size: 90%; }
  #menuItems {
    margin: 8px auto;
    text-align: center;
    padding-left: 100px; }
  #menuItems menuItem {
    padding: 0px 20px;
    text-transform: uppercase;
    margin: 0px auto; }
  #menuItems menuItem:hover {
    cursor: pointer;
    color: rgba(154, 154, 154, 0.89);
    border-bottom: solid 1px red; }
  #menuItems div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    cursor: pointer; }
  #menuItems div > img {
    height: 20px;
    width: auto; }
  footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    background: rgba(253, 253, 253, 0.91);
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    color: grey;
    border-top: solid 1px lightgrey;
    padding: 10px 0px;
    z-index: 998; }
  #socialMedia {
    width: 10%;
    text-align: center;
    padding: 0;
    position: relative;
    top: -10px; }
  #copyright {
    width: 90%;
    text-align: center;
    padding: 0;
    position: relative;
    top: -10px; }
  #socialMedia img {
    width: auto;
    height: 20px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%); }
  #socialMedia img:hover {
    cursor: pointer;
    filter: none;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0); } }

.animate-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.main-favorites {
  display: none !important; }

.image-lineup {
  width: 154px;
  border-color: #001b48;
  z-index: 8;
  float: left; }
  .image-lineup .image-logos {
    height: 60px;
    border-right: 1px groove; }
    .image-lineup .image-logos .logo-detail {
      border-bottom: 1px solid; }

.sync-scroll {
  overflow: auto; }

.guide-header::-webkit-scrollbar {
  display: none; }

.user-guide-panel {
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  white-space: nowrap;
  padding-top: 2px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.horizontal-bottom {
  overflow-x: scroll !important;
  margin-left: 154px; }

.guide-header {
  overflow: hidden; }

#menuBar input[type="radio"] {
  display: none; }

#menuBar input[type="radio"] + #epg-controls {
  color: white; }

#menuBar input[type="radio"]:checked + #epg-controls {
  text-decoration: underline;
  font-weight: bolder; }

.base-class {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.base-classU {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  text-decoration: underline; }

.base-classU.high-u {
  font-size: 16px; }

.base-classU.no-u {
  text-decoration: none; }

.base-class.my-class {
  text-decoration: underline;
  font-size: 16px; }

.epg-nav.info {
  height: 50px; }

.newdescription {
  height: 100px;
  width: 100%; }

@media (max-width: 768px) {
  .navbar-right {
    width: 100% !important; }
  .navbar-header {
    max-width: 100% !important; }
  #programInfo {
    max-width: 150px; }
  #programDetail {
    left: -6px;
    float: none;
    display: block; }
  #favorite {
    float: none;
    display: block; }
  #favoriteChannels {
    float: none;
    display: block; }
  #recentChannels {
    float: none;
    display: block; }
  #allChannels {
    float: none;
    display: block; }
  #filter {
    left: -6px;
    float: none;
    display: block; }
  .collapse.navbar-collapse.in {
    background: rgba(55, 55, 55, 0.9);
    z-index: 25;
    width: 120px;
    float: right; }
    .collapse.navbar-collapse.in li {
      padding-left: 10px !important; }
    .collapse.navbar-collapse.in .epg-controls {
      padding-bottom: 12px !important; }
  .entire-title {
    width: 300px;
    margin-top: 10px; }
  .entire-description {
    width: 300px;
    margin-top: 10px; } }

@media (max-width: 479px) {
  #menuBar #programInfo {
    width: 80px; }
    #menuBar #programInfo .entire-title {
      width: 200px; }
    #menuBar #programInfo .entire-description {
      width: 200px; } }

@media (max-width: 410px) {
  #menuBar #programInfo {
    display: none !important; }
  .top-shadow {
    box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9); } }

@media (max-width: 320px) {
  #currentChannel {
    width: 155px; } }

#programDetailHolder {
  float: right;
  margin-right: 40px; }

@media (max-width: 1024px) {
  #programInfo {
    width: 200px; }
  #programDetailHolder {
    margin-right: 10px; } }

.category-header {
  height: 22px;
  padding-top: 6px;
  font-size: 12px;
  text-align: left; }

.panel {
  margin-top: 2px; }

#categories input {
  cursor: pointer; }

.top-shadow-player {
  margin-top: 300px;
  margin-bottom: 0px; }

#channelGuideDescription {
  width: 1800px;
  overflow: hidden;
  height: 60px;
  line-height: 1.2;
  border-bottom: 1px solid #000033; }

.progress {
  width: 98%; }

#guide {
  margin-top: 10px;
  margin-bottom: 40px; }

#smallChannelDescription p, #channelGuideDescription p {
  margin-bottom: 0px !important;
  overflow: hidden;
  vertical-align: top; }

#channelGuideDescription p:last-child {
  display: block;
  top: -3px; }

.channel-description > div {
  overflow: hidden;
  border-right: 1px solid;
  border-color: #001b48;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  padding: 0px; }

.channel-description > div:first-child {
  width: 154px;
  height: 60px;
  border-right: 1px groove;
  border-color: #001b48;
  z-index: 8; }

.channel-details-body {
  font-size: 60%;
  color: #343;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: default; }

.channel-details-body {
  text-transform: uppercase;
  color: #fff;
  padding-left: 6px; }

.position-div {
  display: inline-block;
  margin-right: -4px;
  vertical-align: baseline; }

.channel-panel, .user-guide-panel {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; }

#playerTop {
  width: 100%;
  margin-bottom: 8px;
  /*     box-shadow: 0px 5px 2px #888888; */ }

#playerTop {
  overflow: hidden; }

.player-top {
  height: 360px; }

.main-player {
  width: 72%;
  height: 100%;
  vertical-align: top !important;
  background-image: url("../images/web-app-default-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.main-player img {
  width: 100%;
  height: auto; }

.main-favorites {
  background: transparent;
  width: 28%;
  height: 100%;
  vertical-align: top !important;
  /*     margin-left: -3px; */ }

.horizontal-bottom {
  overflow-x: scroll;
  margin-left: 154px; }

#image-logos {
  height: 60px;
  border-right: 1px groove; }

.logo-detail {
  border-bottom: 1px solid; }

.show-detail {
  border-bottom: 1px solid; }

.image-lineup {
  width: 154px;
  height: 60px;
  border-color: #001b48;
  z-index: 8; }

.guide-header {
  border-bottom: medium solid transparent;
  box-shadow: 0 2px 2px transparent;
  z-index: 6;
  width: 100%; }

.guide-header > ul {
  background-color: #000F29; }

.time-module-item {
  width: 300px;
  height: 28px;
  background: #000F29;
  color: white;
  padding: 4px 0 4px 12px;
  display: inline-block;
  vertical-align: top;
  border-left: thick solid #000033; }

.time-module-item:first-child {
  margin-left: 153px;
  /*     width:150px; */ }

.user-guide {
  width: 100%;
  background: transparent;
  margin-right: 1px;
  /*border-right: 1px solid;*/ }

#channelLogos {
  position: fixed; }

.ad-free {
  width: 100%;
  height: 90px;
  margin-left: 10px;
  margin-top: 5px; }

#clock {
  z-index: 10;
  width: 154px;
  height: 28px;
  position: absolute;
  display: inline-block;
  color: white;
  background-color: #000f29;
  text-align: center;
  vertical-align: middle;
  margin-top: 4px;
  padding: 4px 0px 4px 12px; }

#channelTimePanel {
  z-index: 5;
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  margin-top: 2px; }

#userGuide {
  background-color: transparent;
  width: 100%;
  float: left;
  margin-top: -6px; }

#favoriteChannels {
  float: left;
  height: 40px;
  width: 10%;
  line-height: 40px;
  text-align: center;
  color: white;
  margin-left: 1px;
  display: inline-block;
  background: transparent;
  cursor: pointer; }

#recentChannels {
  float: left;
  height: 40px;
  width: 6%;
  line-height: 40px;
  color: white;
  display: inline-block;
  background: transparent;
  cursor: pointer; }

#recentChannels {
  float: left;
  height: 40px;
  width: 6%;
  line-height: 40px;
  color: white;
  display: inline-block;
  background: transparent;
  cursor: pointer; }

#allChannels {
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  display: inline-block;
  padding-right: -3px;
  vertical-align: middle;
  background: transparent;
  cursor: pointer; }

#filter {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: transparent; }

@media screen and (max-width: 1024px) {
  .premium-button-holder {
    width: 300px; }
  #recentChannels {
    width: 7%; }
  #allChannels {
    width: 7%; }
  #favorite {
    width: 7%; } }

.free-tv {
  height: 360px; }

.paid-tv {
  height: 360px; }

.paid-tv .main-player {
  margin: 0 auto; }

.top-shadow {
  box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
  -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
  -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9); }

.raf-fine-print {
  text-align: justify;
  font-size: 12px; }

a.import-button {
  background: #A03269;
  width: 98%;
  height: 40px;
  line-height: 42px;
  font-family: 'radikalregular';
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 0; }

a.import-button:hover {
  color: #fff;
  text-decoration: none; }

#emailList {
  height: 250px;
  resize: none; }

.app-button {
  margin: 10px 5px; }

.app-link {
  display: block;
  margin: 0 auto 5px; }

.bolder-text {
  font-weight: bolder;
  font-family: 'gotham-boldgotham-bold'; }

.progress > div {
  border-radius: 4px; }

.progress-bar-purple {
  background-color: #8356A2; }

.progress-bar-pink {
  background-color: #BE6193; }

.progress-bar-slategrey {
  background-color: slategrey; }

.numbered-list li {
  list-style-type: decimal !important; }

.bold-text {
  font-weight: bold;
  font-family: 'gotham-bookgotham-book'; }

.success-box {
  width: 800px;
  font-family: 'radikallight';
  font-size: 16px;
  color: #000;
  padding: 0px;
  margin: 0 auto; }

.submit-button {
  background: #A03269;
  width: 98%;
  height: 54px;
  line-height: 56px;
  font-family: 'radikalregular';
  font-size: 25px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 10px;
  padding: 0px;
  margin: 0px; }

.modal-button {
  margin-bottom: 10px;
  width: 100%; }

.free-sign-up {
  padding: 10px 30px 30px 30px; }

.free-sign-up ul {
  padding-left: 30px;
  padding-bottom: 20px; }

.free-sign-up li {
  list-style-type: disc; }

.sign-up-success ul {
  padding-left: 30px; }

.sign-up-success a {
  color: black;
  text-decoration: underline; }

.sign-up-success li {
  list-style-type: disc;
  font-size: 90%; }

.sign-up-order {
  background: #E7E8E9;
  padding: 10px 30px 30px 30px; }

.sign-up-order hr {
  border-top: 1px solid #000; }

.sign-up-order ul {
  padding-left: 30px;
  padding-bottom: 20px; }

.sign-up-order li {
  list-style-type: disc;
  font-size: 90%; }

ul.passwordStrength {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
  width: 100%; }

.form-container {
  float: left;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px; }

.half-form {
  float: left;
  width: 49.5%;
  padding: 5% 0% 0px 0px;
  margin: 0px 0px 0px 0px; }

.full-form {
  float: left;
  width: 100%;
  padding: 5% 0px 0px 0px;
  margin: 0px 0px 0px 0px; }

@media screen and (max-width: 999px) {
  a.language {
    margin-left: 17px; }
  .form-box {
    width: 100%; }
  .success-box {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .half-form {
    width: 100%; }
  .language {
    margin-right: -60px; }
  .form-box {
    width: 100%;
    font-size: 15px;
    margin-top: 0px; } }

@media screen and (max-width: 639px) {
  .user-home-box .caption {
    left: 1%; }
  .language a {
    margin: 0 0 0 5px !important; }
  .language a:hover {
    margin: 0 0 1px 5px !important; }
  .submit-button {
    height: 60px;
    line-height: 60px;
    font-size: 20px; }
  .center-form {
    font-size: 16px; }
  .content-area h1 {
    font-size: 24px; }
  .label-text {
    font-size: 15px; }
  .error-message {
    font-size: 15px; } }

@media screen and (max-width: 479px) {
  a.import-button {
    font-size: 12px;
    padding: 5px 5px;
    margin: 0; }
  .center-form {
    font-size: 14px; }
  .center-form a {
    padding: 0 0 0 0; }
  .center-form .separator {
    display: none; } }

@media screen and (min-width: 416px) and (max-width: 767px) {
  .language {
    display: none; } }

.underline-text {
  text-decoration: underline !important; }

.underline-bold-text {
  text-decoration: underline;
  font-weight: bolder;
  font-family: 'gotham-bookgotham-book'; }

.sign-in-header {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: gotham-boldgotham-bold;
  line-height: 1.1; }

.sign-in-sub-header {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 100;
  line-height: 1.1; }

.content-text {
  color: #000;
  font-size: 16px; }

.toast-error {
  background-color: #D43F3A; }

.toast-success {
  background-color: #1CAF9A; }

.toast-warning {
  background-color: #412c89; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: #fff; }

.cancel-on {
  font-weight: bolder;
  padding: 10px;
  display: inline-block;
  width: 340px;
  color: black; }

.menu-btn, .menu-btn:hover, .menu-btn:focus {
  background-color: #A03269;
  border-color: #A03269; }

#profileDropDown {
  width: 800px;
  left: 0px;
  margin-top: -20px; }

#accountDropDown {
  width: 800px;
  left: 0px;
  margin-top: 0px; }

.collapse-hide {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  z-index: 1;
  color: black; }

#preferencesDropDown > div {
  overflow: hidden;
  overflow-y: auto;
  height: 325px; }

#changePasswordDropDown > div {
  overflow: hidden;
  overflow-y: auto;
  height: 500px; }

#userInfoDropDown > div {
  overflow: hidden;
  overflow-y: auto;
  height: 380px; }

#upgradeSubscriptionDropDown > div {
  overflow: hidden;
  overflow-y: auto;
  height: 560px;
  margin-left: 0px; }

#changeCreditCardDropDown > div {
  overflow: hidden;
  overflow-y: auto;
  height: 560px; }

#headerButtons {
  width: 100%; }

#dropDowns > .panel {
  display: inline; }

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0px; }

.btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) {
  border-radius: 0px; }

#headerButtons .btn {
  padding: 5px 0px !important;
  display: inline-block;
  border: none;
  margin: 0 1px 0 0;
  border-radius: 0;
  height: 53px; }

.button-user-mail {
  width: 50px;
  height: 50px;
  display: table-cell;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
  margin-top: 8px;
  cursor: pointer; }

.button-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-left: 45%;
  position: fixed; }

.well .btn:nth-child(even) {
  margin: 0 1%; }

.well:not(:last-child) {
  margin-bottom: 2px; }

.well {
  background-color: rgba(200, 200, 200, 0.9) !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  /*     padding: 15px !important; */
  text-align: center;
  /*     box-shadow: 0 1px 1px rgba(20, 20, 20, 0.5) !important; */
  margin-bottom: 0; }

.btn-primary.active {
  background-color: rgba(200, 200, 200, 0.9) !important; }

#smallChannelDescription {
  line-height: 1.051;
  overflow: hidden;
  margin-top: 10px; }

.back {
  transform: perspective(1000px) rotateY(180deg);
  backface-visibility: hidden;
  -webkit-transform: perspective(1000px) rotateY(180deg);
  width: 100%;
  -moz-transform: perspective(1000px) rotateY(180deg);
  -ms-transform: perspective(1000px) rotateY(180deg);
  -o-transform: perspective(1000px) rotateY(180deg); }

.clear-both {
  clear: both; }

.heading {
  text-transform: uppercase; }

.message {
  font-family: 'gotham-bookgotham-book';
  font-size: 16px;
  padding-left: 0;
  text-transform: none;
  color: #000;
  text-align: justify; }
