    * {
    margin: 0;
    padding: 0;
    position: relative;
}

body, html {
    font-size: 14px;
    max-width: 1280px;
    margin: 0 auto;
}

.off {
    display: none !important;
}

.on {
    display: initial !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgba(155, 155, 155, .94);
    font-weight: bold;
}

a:hover {
    color: rgba(254, 254, 254, .89);
}

dl {
    margin-bottom: 40px !important;
}

dt {
    color: darkgrey;
    font-size: 1.25em;
    font-weight: bolder !important;
    text-transform: capitalize;
}

dd {
    color: dimgrey;
    margin-top: 2px;
    font-size: 1.0em;
    white-space: normal;
}

dd + dd {
    color: rgba(135, 117, 104, .9);
    margin-bottom: 12px;
}

body {
    height: auto;
    font-family: default, Verdana, Arial, Tahoma;
    font-size: 12px;
}

.docked {
    background: rgba(227, 227, 227, .85) !important;
}

.top-shadow {
    box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
}

.content-background {
    background: white;
    color: transparent;
}

header {
    width: auto;
    height: 50px;
    background: transparent !important;
    z-index: 998;
    margin-bottom: 3px;
    padding: 0px !important;
}

#headerBrand {
    height: 50px;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
    z-index: 50;
}

#headerBrand img {
    width: auto;
    height: 80px;
    margin: 0 0 0 25px;
    top: 9px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    z-index: 998;
}

.order-summary-title {
    text-align: right;
}

.contact-number {
    width: 50%;
    height: 100%;
    margin-right: 5px;
    padding: 2px;
    padding-top: 15px;
    color: black;
    text-align: right;
    vertical-align: middle;
}

.image-docked {
    height: 60px !important;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    z-index: 998;
}

.menu-button {
    width: auto;
    height: 100%;
    background: rgba(210, 210, 210, 0.9);
    margin-left: 1px;
    float: right;
    padding-bottom: 2px;
    padding-top: 15px;
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    text-align: center;
    vertical-align: middle;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#navBar {
    width: 100%;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: rgba(254, 254, 254, .95);
    color: rgba(62, 25, 77, .94);
}

.menu {
    width: 100%;
    font-weight: bold;
}

#menuItems {
    margin: 6px auto;
    text-align: center;
}

#menuItems menuItem {
    padding: 0px 20px;
    text-transform: uppercase;
    margin: 0 auto;
}

#menuItems menuItem:hover {
    cursor: pointer;
    color: rgba(154, 154, 154, .89);
    border-bottom: solid 1px red;
}

#menuItems div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    cursor: pointer;
}

#menuItems div > img {
    height: 20px;
    width: auto;
}

#welcome {
    padding: 0;
    text-transform: uppercase;
    margin: 0 auto;
    float: right;
    white-space: nowrap;
}

#welcome:hover {
    cursor: default;
    color: rgba(62, 25, 77, 0.941176);;
    border-bottom: none;
}


footer {
    width: 100%;
    max-width: 1280px;
    height: 32px;
    position: fixed;
    bottom: 0px;
    background: rgba(253, 253, 253, .91);
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    color: grey;
    border-top: solid 1px lightgrey;
    padding: 10px 5px;
    z-index: 998;
}

#socialMedia {
    width: 20%;
    text-align: center;
    padding: 0;
    position: relative;
    top: -10px;
}

#copyright {
    width: 80%;
    text-align: center;
    padding: 0;
    position: relative;
    top: -10px;
}

#socialMedia img {
    width: auto;
    height: 30px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#socialMedia img:hover {
    cursor: pointer;
    filter: none;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}
