<div class="content-area">
    <div class="content-box">
        <h1><span translate="RAF_HEADING"></span></h1>

        <div class="container">
            <div class="form-box">
                <br>
                <span class="message" translate="RAF_MESSAGE"></span>
                <br><br><br>

                <form name="form" id="form" novalidate ng-submit="sendRafEmails()">
                    <a href="#" id="importLink" class="import-button cs_import" translate="RAF_IMPORT_CONTACT_LIST"></a>
                    <a href="#" id="loadingIndicator" style="display: none" class="import-button" translate="RAF_LOADING"></a>
                    <br><br>
                    <span class="label-text" translate="RAF_OR">or</span>
                    <br><br>
                    <span class="label-text" translate="RAF_ENTER_FRIENDS_EMAIL"></span>
                    <br>
                    <textarea autofocus valid-email-list id="emailList" name="emailList" class="text-box text-area" ng-model="mv.emailList" value="" required ng-class="{'text-box-error': form.emailList.$touched && form.emailList.$invalid}"></textarea>
                    <br>

                    <div ng-show="form.emailList.$touched && form.emailList.$error.required" class="error-message" translate="RAF_EMAIL_LIST_REQUIRED"></div>
                    <div ng-show="form.emailList.$touched && !form.emailList.$error.required && form.emailList.$error.validEmailList" class="error-message" translate="RAF_EMAIL_LIST_INVALID"></div>
                    <br>
                    <div ng-show="user.email === ''">
                        <span class="label-text" translate="RAF_MY_EMAIL"></span><br>
                        <input name="email" is-email id="email" maxlength="50" autocomplete="off" type="text" class="text-box" ng-model="mv.email" required ng-class="{'text-box-error': form.email.$touched && form.email.$invalid}"/>

                        <div ng-show="form.email.$touched && form.email.$error.required" class="error-message" translate="RAF_EMAIL_REQUIRED"></div>
                        <div ng-show="form.email.$touched && !form.email.$error.required && form.email.$error.isEmail" class="error-message" translate="RAF_EMAIL_INVALID"></div>
                        <br>
                    </div>
                    <br>
                    <button class="submit-button" type="submit" translate="RAF_SEND_INVITE"></button>
                </form>
                <br><br>
                <div class="raf-fine-print" translate="RAF_FINE_PRINT"></div>
            </div>
        </div>
    </div>
</div>
<script>
    window.cloudsponge = undefined;
    var key = {'localhost': 'LJZY53MYH2K7YQKX3TZD', 'app.int.yiptv.net': 'NXELPGQCSSHZP3K6RGKF', 'app.test.yiptv.net': '3BXMGGH22R87R3KEL2NR', 'app.yiptv.com': 'GMQU3G2VW72CLFRVWS2N' };
    var domain = location.hostname;
    var appendInTextArea = true;
    var emailSep = ', ';

    function populateTextArea(contacts) {
        var email;
        var emails = [];
        var textArea = document.getElementById('emailList');
        if (appendInTextArea && textArea.value.strip().length > 0) {
            emails = textArea.value.split(emailSep);
        }
        for (var i = 0; i < contacts.length; i++) {
            email = contacts[i].selectedEmail();
            if (emails.indexOf(email) < 0) {
                emails.push(email);
            }
        }
        textArea.value = emails.join(emailSep);
        var input = $('#emailList');
        input.trigger('input');
        input.trigger('change');
    }

    window.csPageOptions = {
        domain_key: key[domain],
        mobile_render: true,
        sources: ['gmail', 'linkedin', 'yahoo', 'windowslive', 'aol', 'plaxo', 'outlook', 'addressbook'],
        afterSubmitContacts: populateTextArea,
        afterInit: function() {
            document.getElementById('loadingIndicator').style.display = 'none';
            document.getElementById('importLink').style.display = 'inline';
            cloudsponge.launch();
        }
    };

    document.getElementById('importLink').onclick = function() {
        var scriptTag = document.createElement('script');
        scriptTag.setAttribute('type', 'text/javascript');
        scriptTag.setAttribute('src', '//api.cloudsponge.com/address_books.js');
        var firstScript = document.getElementsByTagName('script')[0];
        firstScript.parentNode.insertBefore(scriptTag, firstScript);
        document.getElementById('importLink').style.display = 'none';
        document.getElementById('loadingIndicator').style.display = 'inline';
    };
</script>
