
#channelFilterHolder {
    .filtered-channels-count {
        span {
            float: left;
        }
    }
}

#menuBar {
    .navbar-header{
        max-width: 60%;
    }
    #programInfo {
        z-index: 10;
        display:inline-block;
        margin-left:1px;
        background: transparent;
        float:left;
    }
    .epg-controls{
        span {
            padding-left: 7px;
            padding-right: 7px;
            cursor: pointer;
            top: 10px;
            color: white;
        }
    }
    #currentChannel {
        img {
            height: 40px;
        }
        background-color: rgba(255,255,255,0.85);
        width: 70px;
    }
    .entire-description {
        margin-left: 10px;
        background-color: $grey;
        border: 1px solid black;
        width: 350px;
        z-index: 35;
        border-radius: 4px;
        border: 1px solid black;
    }
    .entire-title {
        margin-left: 10px;
        border: 1px solid black;
        width: 300px;
        z-index: 35;
        background-color: $grey;
        border-radius: 4px;
        border: 1px solid black;
    }
}

#title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 17px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: default;
}

#description {
    text-overflow: ellipsis !important;
    white-space: nowrap;
    height: 25px;
    text-align: left;
    overflow: hidden;
    text-overflow: clip;
    line-height: 25px;
    color: white;
    vertical-align: middle;
    font-size: 10px;
    cursor: default;
}

#filter {
    img {
        top: 9px;
        width: 20px;
        height: 20px;
    }
}

#favorite {
    width:5%;
    height:40px;
    float: left;
    margin-left:10px;
    margin-right: 10px;
    padding-top:9px;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
    background: transparent;
    z-index: 2;
}

.label-filer {
    margin-bottom: 0px;
    cursor: pointer;
}

#currentChannel img {
    max-width: 140px;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 10px;
    margin-right: 1px;
    width: 19.5%;
}

.checkbox {
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 0px;
    margin: 0px 15px 5px 0px;
    background: url(../images/checkbox.png) no-repeat;
    border: 0px solid #FFFFFF;
    display: block;
    clear: left;
    float: left;
}

#channelFilterHolder {
    margin-top: 10px;
    background-color: rgba(55, 55, 55, 0.9);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.channel-filter-categories {
    background-color: #333;
    padding: 5px;
    color: #fff;
    margin-top: 10px;
    margin-left: -20px;
    display: inline-block;
}

.filter-categories {
    width: 350px;
}

#channelFilterHolder .panel-heading {
    background: rgba(200, 200, 200, 0.80);
    padding: 2px 5px;
}

#channelFilterHolder .panel-default, #channelFilterHolder .panel {
    border-radius: 0;
}

#channelFilterHolder .panel-title {
    font-size: 100%;
    font-weight: bolder;
}

#channelFilterHolder .panel-body {
    padding: 5px;
    color: #fff;
}

.panel-body-left {
    width: 165px;
    margin-left: -10px;
    display: inline-block;
    float: left;
}

.panel-body-right {
    width: 185px;
    display: inline-block;
    float: left;
}

.filter-repeat {
    text-align: left;
}

#channelFilterHolder .panel-body input[type="checkbox"] {
    display: inline-block !important;
    margin-right: 5px;
}

#channelFilterHolder .panel-collapse {
    border: 1px solid #ddd;
    width: 350px;
    display: inline-block;
}

.channel-filters {
    margin-right: 10px;
    margin-top: 5px;
}

#filterClearAll {
    float: left;
    margin-top: -10px;
    margin-left: 10px;
}

#filterClose {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}

.panel-group .panel + .panel {
    margin-top: 0px !important;
}


