#headerBrand {
    .navbar-right {
        width: 445px;
        height: 100%;
        li {
            padding-left: 0px;
            height: 100%;
        }
        .button-menu {
                margin-left: 2px;
                height: 100%;
                a {
                    background: $lightGrey;
                }
        }
        .number-contact {
            top: 30%;
        }

    }
}
