#headerBrand {
    .navbar-right {
        width: 470px;
        height: 100%;
        li {
            padding-left: 0px;
            height: 100%;
        }
        .button-menu {
                margin-left: 2px;
                height: 100%;
                a {
                    background: $lightGrey;
                }
        }
        .number-contact {
            top: 30%;
        }

    }
}

#phoneHeader {
    position: relative;
    z-index: 101;
}

//footer

footer {
    width: 100%;
    max-width: 1280px;
    height: 32px;
    bottom: 0px;
    background: rgba(253, 253, 253, .91);
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    color: grey;
    border-top: solid 1px lightgrey;
    padding: 10px 5px;
    z-index: 998;
}
.top-shadow {
    position: fixed;
}

#headerBrand {
    height: 50px;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
    z-index: 50;
}

#headerBrand img {
    width: auto;
    height: 80px;
    margin: 0 0 0 25px;
    top: 9px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    z-index: 998;
}

.contact-number {
    width: 50%;
    height: 100%;
    margin-right: 5px;
    padding: 2px;
    padding-top: 15px;
    color: black;
    text-align: right;
    vertical-align: middle;
}


#menuItems {
    margin: 6px auto;
    text-align: center;
}

#menuItems menuItem {
    padding: 0px 20px;
    text-transform: uppercase;
    margin: 0 auto;
}

#menuItems menuItem:hover {
    cursor: pointer;
    color: rgba(154, 154, 154, .89);
    border-bottom: solid 1px red;
}

#menuItems div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    cursor: pointer;
}

#menuItems div > img {
    height: 20px;
    width: auto;
}

#socialMedia {
    width: 20%;
    text-align: center;
    padding: 0;
    position: relative;
    top: -10px;
}

#copyright {
    width: 80%;
    text-align: center;
    padding: 0;
    position: relative;
    top: -10px;
}

#socialMedia img {
    width: auto;
    height: 30px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#socialMedia img:hover {
    cursor: pointer;
    filter: none;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

@media screen and (max-width: 415px) {
    #navBar {
        width: 100%;
        height: 34px;
        clear: both;
        display: block;
        position: absolute;
        background: rgba(254, 254, 254, .95);
        color: rgba(62, 25, 77, .94);
        border-bottom: solid 1px lightgrey;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    .navbar-brand {
        padding: 0 5px !important;
    }

    .navbar-brand img {
        height: 75%;
        width: auto;
        margin-top: 4px;
    }

    .nav-btn {
        float: right;
        padding: 2% 1%;
    }

    #headerBrand {
        height: 50px;
        text-transform: uppercase;
        border-bottom: solid 1px lightgrey;
        margin-right: 20px;
        z-index: 50;
    }

    #headerBrand img {
        width: auto;
        height: 70px;
        display: block !important;
        margin: 0 auto;
        position: absolute;
        top: 10px;
        left: 20px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        z-index: 998;
    }

    .contact-number {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        color: black;
        text-align: right;
        vertical-align: middle;
        border-top: thin solid whitesmoke;
    }

    #menuItems {
        margin: 6px auto;
        text-align: center;
        padding-left: 100px;
    }

    #menuItems menuItem {
        padding: 4px 10px;
        text-transform: uppercase;
        margin: 9px auto;
    }

    #menuItems menuItem:hover {
        cursor: pointer;
        color: rgba(254, 254, 254, .89);
        background: rgba(5, 5, 5, .5);
    }

    #menuItems div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3%;
        cursor: pointer;
    }

    #menuItems div > img {
        height: 20px;
        width: auto;
    }
}

@media screen and (min-width: 416px) and (max-width: 767px) {

    .contact-number {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        color: black;
        text-align: right;
        vertical-align: middle;
        border-top: thin solid whitesmoke;
    }

    header {
        width: auto;
        height: 50px;
        padding: 0px !important;
        //background: rgba(229, 229, 231, .91);
        z-index: 998;
        background: transparent;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    .navbar-brand {
        padding: 0 5px !important;
    }

    .navbar-brand img {
        height: 80%;
        width: auto;
        margin-top: 4px;
    }
}

@media screen and (min-width: 416px) and (max-width: 767px) {
    .nav-btn {
        float: right;
        padding: 10px 1% 0;
    }

    [contentEditable=true]:focus {
        background: rgba(90, 90, 90, 0.7);
        border: #999 2px solid;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 1%;
        outline: none;
    }

    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: rgba(155, 155, 155, .94);
        font-weight: bold;
    }

    a:hover {
        color: rgba(254, 254, 254, .89);
    }

    dl {
        font-size: 85%;
    }

    dt {
        color: darkgrey;
        font-size: 1.25em;
        font-family: Arial Narrow, Arial, sans-serif;
        font-weight: bold !important;
        text-transform: capitalize;
    }

    dd {
        color: dimgrey;
        margin-top: 2px;
        font-size: 1.0em;
        white-space: normal;
    }

    dd + dd {
        color: rgba(135, 117, 104, .9);
        margin-bottom: 12px;
    }

    body {
        height: auto;
        font-family: default, Verdana, Arial, Tahoma;
        font-size: 12px;
    }

    .docked {
        background: rgba(227, 62, 66, .85) !important;
    }

    .top-shadow {
        box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    }

    .content-background {
        background: white;
        color: rgba(254, 254, 254, .89);
    }

    .map {
        position: relative;
        width: 100%;
        height: 120px;
        margin-bottom: 10px;
        color: rgba(157, 144, 138, .98);
        text-align: center;
    }

    #navBar {
        width: 100%;
        min-width: 980px;
        height: 34px;
        clear: both;
        display: block;
        position: absolute;
        background: rgba(254, 254, 254, .5);
        color: rgba(62, 25, 77, .94);
        border-bottom: solid 1px lightgrey;
        z-index: 998;
    }

    #menu {
        width: 75%;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
    }

    #topBox {
        position: relative;
        width: auto;
        height: auto;
        padding: 0px 0px !important;
    }

    footer {
        width: 100%;
        height: 37px;
        position: fixed;
        bottom: 0px;
        background: rgba(253, 253, 253, .91);
        text-transform: uppercase;
        text-align: center;
        font-size: 7px;
        color: grey;
        border-top: solid 1px lightgrey;
        padding: 10px;
        z-index: 998;
    }

    #socialMedia {
        display: none;
        width: 17%;
        text-align: center;
        float: right;
        padding: 0px;
        position: relative;
        top: -21px;
    }

    #socialMedia img {
        width: auto;
        height: 25px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }

    #socialMedia img:hover {
        cursor: pointer;
        filter: none;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        width: auto;
        height: 60px;
        background: transparent;
        z-index: 998;
    }

    .language {
        display: none;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    header {
        width: auto;
        height: 50px;
        background: transparent;
        z-index: 998;
        margin-bottom: 3px;
        font-size: 90%;
        padding: 0px !important;
    }
    .navbar-brand {
        padding: 0 5px !important;
    }

    .navbar-brand img {
        height: inherit;
    }

    [contentEditable=true]:focus {
        background: rgba(90, 90, 90, 0.7);
        border: #999 2px solid;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 1%;
        outline: none;
    }

    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: rgba(155, 155, 155, .94);
        font-weight: bold;
    }

    a:hover {
        color: rgba(254, 254, 254, .89);
    }

    dl {
        font-size: 85%;
    }

    dt {
        color: darkgrey;
        font-size: 1.25em;
        font-family: Arial Narrow, Arial, sans-serif;
        font-weight: bold !important;
        text-transform: capitalize;
    }

    dd {
        color: dimgrey;
        margin-top: 2px;
        font-size: 1.0em;
        white-space: normal;
    }

    dd + dd {
        color: rgba(135, 117, 104, .9);
        margin-bottom: 12px;
    }

    body {
        height: auto;
        font-family: default, Verdana, Arial, Tahoma;
        font-size: 12px;
    }

    .top-shadow {
        box-shadow: 0px -1px 2px #333;
        -webkit-box-shadow: 0px -1px 2px #333;
        -moz-box-shadow: 0px -1px 2px #333;
    }

    .content-background {
        background: white;
        color: rgba(254, 254, 254, .89);
    }

    .top-shadow {
        box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    }

    #headerBrand {
        height: 50px;
        text-transform: uppercase;
        border-bottom: solid 1px lightgrey;
        z-index: 50;
    }

    #headerBrand img {
        width: auto;
        height: 60px;
        display: block !important;
        margin: 0 auto;
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 998;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }

    #recentChannels {
        display: none;
    }

    .contact-number {
        width: 35%;
        height: 100%;
        margin-right: 5px;
        padding: 2px;
        float: right;
        padding-top: 15px;
        color: black;
        text-align: right;
        vertical-align: middle;
    }

    #navBar {
        width: 100%;
        height: 34px;
        clear: both;
        display: block;
        position: absolute;
        background: transparent;
        color: rgba(62, 25, 77, .94);
    }

    #menu {
        width: 100%;
        font-weight: bold;
        font-size: 90%;
    }

    #menuItems {
        margin: 8px auto;
        text-align: center;
        padding-left: 100px;
    }

    #menuItems menuItem {
        padding: 0px 20px;
        text-transform: uppercase;
        margin: 0px auto;
    }

    #menuItems menuItem:hover {
        cursor: pointer;
        color: rgba(154, 154, 154, .89);
        border-bottom: solid 1px red;
    }

    #menuItems div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3%;
        cursor: pointer;
    }

    #menuItems div > img {
        height: 20px;
        width: auto;
    }

    footer {
        width: 100%;
        height: 30px;
        position: fixed;
        bottom: 0px;
        background: rgba(253, 253, 253, .91);
        text-transform: uppercase;
        text-align: center;
        font-size: 8px;
        color: grey;
        border-top: solid 1px lightgrey;
        padding: 10px 0px;
        z-index: 998;
    }

    #socialMedia {
        width: 10%;
        text-align: center;
        padding: 0;
        position: relative;
        top: -10px;
    }

    #copyright {
        width: 90%;
        text-align: center;
        padding: 0;
        position: relative;
        top: -10px;
    }

    #socialMedia img {
        width: auto;
        height: 20px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }

    #socialMedia img:hover {
        cursor: pointer;
        filter: none;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
    }
}

// Copied everything below here from style.css in WP project to make navbar.


html, body, div, span, p,
a, img, ol, ul, li,
header, menu, nav{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;


}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.right {float:right;}

.left {float:left;}

body {font-family: 'Raleway', sans-serif;font-weight:300;background-color:#fff;}

p {margin-bottom:15px;font-size: 18px;color:#6A6A6A;line-height: 24px;}

h2 {font-size:36px;margin-bottom:15px;text-transform:uppercase;font-family: "Oswald", san-serif;color: #413E73;font-weight:400;}

h3 {font-size:18px;margin-bottom:15px;font-family:'Oswald', sans-serif;color:#413e73}

h4 {color:#fff;font-size:14px;font-weight:bold;margin:10px 0}

h5 {font-size:18px;margin-bottom:15px;font-family:'Oswald', sans-serif;color:#413e73}

button {padding: 15px 20px;background-color: #A3336B;color: #FFF;text-transform: uppercase;border: medium none;font-size: 18px;cursor: pointer;margin: 0px 15px;position: relative;top: -5px;}


/* SECTIONS */

.container {width:960px;margin:0 auto;position:relative;}

.hdrtop {height:46px;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC43MSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.71) 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.71))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.71) 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.71) 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.71) 100%); /* IE10+ */

    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.71) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5ffffff',GradientType=0 ); /* IE6-8 */

}

.hdrbottom { height:57px;

    background: rgb(10,13,132); /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMGQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTRiY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top,  rgba(10,13,132,.7) 0%, rgba(37,75,204,.8) 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,13,132,.8)), color-stop(100%,rgba(37,75,204,.6))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  rgba(10,13,132,.7) 0%,rgba(37,75,204,.8) 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  rgba(10,13,132,.7) 0%,rgba(37,75,204,.8) 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  rgba(10,13,132,.7) 0%,rgba(37,75,204,.8) 100%); /* IE10+ */

    background: linear-gradient(to bottom,  rgba(10,13,132,.7) 0%,rgba(37,75,204,.8) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0d84', endColorstr='#254bcc',GradientType=0 ); /* IE6-8 */

}

.hdrbottom li a {color:#fff;font-family:'Oswald', sans-serif;font-weight:400;}

.logo {position:absolute;top: -10px;left: 350px;z-index:1000;background-image:url(images/yiptv-logo.png); background-repeat:no-repeat;width:216px;height:177px}

.tophead {width:100%;z-index:100;top:0;position: absolute;}

.menu-legal-nav-container {margin-bottom:15px;}

/* TOP RIGHT NAVIGATION */

.topnav li {float:right;}

.topnav li.call a {background-color:transparent;color:#001d4a;}

.topnav a {display:block;padding:15px;text-decoration:none;color: #001d4a;font-family: "Oswald";text-transform: uppercase;font-weight:400;}

.signin {border-right:2px solid #e6e6e8}

.mobilenav {display:none;}

.loginnav li {display:inline-block;}

.loginnav li a {text-decoration: none;text-transform: uppercase;padding: 20px 30px;display: block;border-left: 1px solid rgba(255, 255, 255, 0.2);}

.signupbtn {background-color:#7ed009;color:#fff;}

/* MAIN NAVIGATION */

.mainnav li {float:left}

.mainnav a {display:block;padding:20px 10px;color:#220857;text-decoration:none;text-transform:uppercase;border-left: 1px solid rgba(255,255,255,0.2);}
