#headerBrand {
    .navbar-right {
        width: 470px;
        height: 100%;
        li {
            padding-left: 0px;
            height: 100%;
        }
        .button-menu {
                margin-left: 2px;
                height: 100%;
                a {
                    background: $lightGrey;
                }
        }
        .number-contact {
            top: 30%;
        }

    }
}

//footer

footer {
    width: 100%;
    max-width: 1280px;
    height: 32px;
    bottom: 0px;
    background: rgba(253, 253, 253, .91);
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    color: grey;
    border-top: solid 1px lightgrey;
    padding: 10px 5px;
    z-index: 998;
}
.top-shadow {
    position: fixed;
}
