.animate-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.main-favorites {
    display: none !important;
}

.main-player {
    width: 100% !important;
}

.image-lineup {
    width: 154px;
    border-color: rgb(0, 27,72);
    z-index: 8;
    float: left;
    .image-logos {
        height: 60px;
        border-right: 1px groove;
        .logo-detail {
            border-bottom: 1px solid;
        }
    }

}

.sync-scroll {
    overflow: auto;
}

.guide-header::-webkit-scrollbar {
    display: none;
}

.user-guide-panel {
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    white-space: nowrap;
    padding-top: 2px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.horizontal-bottom {
    overflow-x: scroll !important;
    margin-left: 154px;
}

.guide-header {
    overflow: hidden;
}

#menuBar input[type="radio"] {
    display:none;
}

#menuBar input[type="radio"] + #epg-controls {
    color: white;
}

#menuBar input[type="radio"]:checked + #epg-controls {
    text-decoration: underline;
    font-weight: bolder;
}

.base-class {
     transition: $transitionTime1;
 }

.base-classU {
    transition: $transitionTime1;
    text-decoration: underline;
}

.base-classU.high-u {
    font-size: 16px;
}

.base-classU.no-u {
    text-decoration: none;
}

.base-class.my-class {
    text-decoration: underline;
    font-size: 16px;

}

.epg-nav {

}

.epg-nav.info {
    height: 50px;
}

.newdescription {
    height: 100px;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-right {
        width: 100% !important;
    }
    .navbar-header{
        max-width: 100% !important;
    }
    #programInfo {
        max-width: 150px;
    }
    #programDetail {
        left: -6px;
        float: none;
        display: block;
    }

    #favorite {
        float: none;
        display: block;

    }
    #favoriteChannels {
        float: none;
        display: block;
    }
    #recentChannels {
        float: none;
        display: block;
    }
    #allChannels {
        float: none;
        display: block;
    }
    #filter {
        left: -6px;
        float: none;
        display: block;
    }
    .collapse.navbar-collapse.in {
        background: rgba(55,55,55,0.9);
        z-index: 25;
        width: 120px;
        float: right;
        li {
            padding-left: 10px !important;
        }
        .epg-controls {
            padding-bottom: 12px !important;
        }
    }

    .entire-title{
        width: 300px;
        margin-top: 10px;
    }
    .entire-description {
        width: 300px;
        margin-top: 10px;
    }


}

@media (max-width: 479px) {
    #menuBar {
        #programInfo {
            width: 80px;
            .entire-title {
                width: 200px;

            }
            .entire-description {
                width: 200px;

            }
        }
    }

}

@media (max-width: 410px) {
    #menuBar {
        #programInfo {
            display: none !important;
        }
    }

    .top-shadow {
        box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
        -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    }
}

@media (max-width: 320px) {
    #currentChannel {
        width: 155px;
    }

}


#programDetailHolder {
    float: right;
    margin-right: 40px;
}

@media (max-width: 1024px) {
    #programInfo {
        width: 200px;
    }
    #programDetailHolder {
        margin-right: 10px;
    }
}

//filter customization
.category-header {
    height: 22px;
    padding-top: 6px;
    font-size: 12px;
    text-align: left;
}

.panel {
    margin-top: 2px;
}

#categories {
    input {
        cursor: pointer
    }
}

//footer for player
.top-shadow-player {
    margin-top: 300px;
    margin-bottom: 0px;
}


#channelGuideDescription {
    width: 1800px;
    overflow: hidden;
    height: 60px;
    line-height: 1.2;
    border-bottom: 1px solid #000033;
}

.progress {
    width: 98%;
}

#guide {
    margin-top: 10px;
    margin-bottom: 40px;
}

#smallChannelDescription p, #channelGuideDescription p {
    margin-bottom: 0px !important;
    overflow: hidden;
    vertical-align: top;
}

#channelGuideDescription p:last-child {
    display: block;
    top: -3px;
}

.channel-description > div {
    overflow: hidden;
    border-right: 1px solid;
    border-color: rgb(0, 27, 72);
    height: 60px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
}

.channel-description > div:first-child {
    width: 154px;
    height: 60px;
    border-right: 1px groove;
    border-color: rgb(0, 27, 72);
    z-index: 8;
}

.channel-details-body {
    font-size: 60%;
    color: #343;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: default;
}

.channel-details-body {
    text-transform: uppercase;
    color: #fff;
    padding-left: 6px;
}

.position-div {
    display: inline-block;
    margin-right: -4px;
    vertical-align: baseline;
}

.channel-panel, .user-guide-panel {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}


#playerTop {
    width: 100%;
    margin-bottom: 8px;
    /*     box-shadow: 0px 5px 2px #888888; */
}

#playerTop {
    overflow: hidden;
}

.player-top {
    height: 360px;
}

.main-player {
    width: 72%;
    height: 100%;
    vertical-align: top !important;
    background-image: url('../images/web-app-default-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-player img {
    width: 100%;
    height: auto;
}

.main-favorites {
    background: transparent;
    width: 28%;
    height: 100%;
    vertical-align: top !important;
    /*     margin-left: -3px; */
}

.horizontal-bottom {
    overflow-x: scroll;
    margin-left: 154px;
}

#image-logos {
    height: 60px;
    border-right: 1px groove;
}

.logo-detail {
    border-bottom: 1px solid;
}

.show-detail {
    border-bottom: 1px solid;
}

.image-lineup {
    width: 154px;
    height: 60px;
    border-color: rgb(0, 27, 72);
    z-index: 8;
}

.guide-header {
    border-bottom: medium solid transparent;
    box-shadow: 0 2px 2px transparent;
    z-index: 6;
    width: 100%;
}

.guide-header > ul {
    background-color: #000F29;
}

.time-module-item {
    width: 300px;
    height: 28px;
    background: #000F29;
    color: white;
    padding: 4px 0 4px 12px;
    display: inline-block;
    vertical-align: top;
    border-left: thick solid #000033;
}

.time-module-item:first-child {
    margin-left: 153px;
    /*     width:150px; */
}

.user-guide {
    width: 100%;
    background: transparent;
    margin-right: 1px;
    /*border-right: 1px solid;*/
}

#channelLogos {
    position: fixed;
}

.ad-free {
    width: 100%;
    height: 90px;
    margin-left: 10px;
    margin-top: 5px;
}

#clock {
    z-index: 10;
    width: 154px;
    height: 28px;
    position: absolute;
    display: inline-block;
    color: white;
    background-color: #000f29;
    text-align: center;
    vertical-align: middle;
    margin-top: 4px;
    padding: 4px 0px 4px 12px;
}

#channelTimePanel {
    z-index: 5;
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin-top: 2px;
}

#userGuide {
    background-color: transparent;
    width: 100%;
    float: left;
    margin-top: -6px;
}

#favoriteChannels {
    float: left;
    height: 40px;
    width: 10%;
    line-height: 40px;
    text-align: center;
    color: white;
    margin-left: 1px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
}

#recentChannels {
    float: left;
    height: 40px;
    width: 6%;
    line-height: 40px;
    color: white;
    display: inline-block;
    background: transparent;
    cursor: pointer;
}

#recentChannels {
    float: left;
    height: 40px;
    width: 6%;
    line-height: 40px;
    color: white;
    display: inline-block;
    background: transparent;
    cursor: pointer;
}

#allChannels {
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    padding-right: -3px;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
}

#filter {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: transparent;
}

@media screen and (max-width: 1024px) {
    .premium-button-holder {
        width: 300px;
    }

    #recentChannels {
        width: 7%;
    }

    #allChannels {
        width: 7%;
    }

    #favorite {
        width: 7%;
    }
}

.free-tv {
    height: 360px;
}

.paid-tv {
    height: 360px;
}

.paid-tv .main-player {
    margin: 0 auto;
}

.top-shadow {
    box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -webkit-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
    -moz-box-shadow: 0px -1px 2px rgba(180, 180, 180, 0.9);
}
