.app-button {
    margin: 10px 5px;
}

.app-link {
    display: block;
    margin: 0 auto 5px;
}

.bolder-text {
    font-weight: bolder;
    font-family: 'gotham-boldgotham-bold';
}

.progress > div {
    border-radius: 4px;
}

.progress-bar-purple {
    background-color: #8356A2;
}

.progress-bar-pink {
    background-color: #BE6193;
}

.progress-bar-slategrey {
    background-color: slategrey;
}

.numbered-list li {
    list-style-type: decimal !important;
}

.bold-text {
    font-weight: bold;
    font-family: 'gotham-bookgotham-book';
}

.success-box {
    width: 800px;
    font-family: 'radikallight';
    font-size: 16px;
    color: #000;
    padding: 0px;
    margin: 0 auto;

}

.submit-button {
    background: #A03269;
    width: 98%;
    height: 54px;
    line-height: 56px;
    font-family: 'radikalregular';
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: 0px;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

.modal-button {
    margin-bottom: 10px;
    width: 100%;
}

.free-sign-up {
    padding: 10px 30px 30px 30px;
}

.free-sign-up ul {
    padding-left: 30px;
    padding-bottom: 20px;
}

.free-sign-up li {
    list-style-type: disc;
}

.sign-up-success ul {
    padding-left: 30px;
}

.sign-up-success a {
    color: black;
    text-decoration: underline;
}

.sign-up-success li {
    list-style-type: disc;
    font-size: 90%;
}

.sign-up-order {
    background: #E7E8E9;
    padding: 10px 30px 30px 30px;
}

.sign-up-order hr {
    border-top: 1px solid #000;
}

.sign-up-order ul {
    padding-left: 30px;
    padding-bottom: 20px;
}

.sign-up-order li {
    list-style-type: disc;
    font-size: 90%;
}

ul.passwordStrength {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
    width: 100%;
}

.form-container {
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.half-form {
    float: left;
    width: 49.5%;
    padding: 5% 0% 0px 0px;
    margin: 0px 0px 0px 0px;
}

.full-form {
    float: left;
    width: 100%;
    padding: 5% 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
