<div id="Device_Bx" class="usr_Menu_pnl cntntBxBck" data-ng-controller="usrDevicesCntrlr">
	<div class='pg4_chnls col-lg-12'>
		<h3 class='pg4_title'>How to Watch</h3>
		<ul>
			<li data-ng-repeat="dvc1 in usrDvcs"><img data-ng-src="{{dvc1.dvcImg}}" alt="{{dvc1.dvcImg}}" data-ng-mouseenter="itemHovered($index)" /></li>

		</ul>
		<!-- img src='imgs/pc/pg_2_a.png' -->
	</div>
	<!-- div id='droidlogo' class='teasing'></div -->
	<div id='dvcCntnt'>
		<div id="splash" data-ng-class="($index==selectedIndex) ? '{{usrDvcClasses[1].className}}' : '{{usrDvcClasses[0].className}}'" data-ng-repeat="dvc2 in usrDvcs">
			<p>{{dvc2.dvcDesc1}}</p>
			<p>{{dvc2.dvcDesc2}}</p>
		</div>
	</div>
	
</div>
