<div id="still" style="background-image:url(../imgs/ntwrks/section-img_tblt.jpg)"></div>

<div id="Ntwrks_Bx" class="usr_Menu_pnl cntntBxBck" data-ng-controller="usrNtwrksCntrlr">
	<div class='pg2_chnls col-lg-12'>
		<h3 class='pg3_title' translate="NETWORKS_AMAZING_NETWORKS">Amazing Networks</h3>
		<ul>
			<li data-ng-repeat="ntwrk in usrNtwrks"><img data-ng-src="{{ntwrk.ntwrkID}}" alt="{{ntwrk.ntwrkAlt}}" data-ng-click="itemClicked($index)" /></li>

		</ul>
		<!-- img src='imgs/pc/pg_2_a.png' -->
	</div>
	<div id='droidlogo' class='teasing'></div>
	<div id='tempCntnt'>
		<div id="splash" data-ng-class="($index==selectedIndex) ? '{{usrNtwrkClasses[1].className}}' : '{{usrNtwrkClasses[0].className}}'" data-ng-repeat="ntCntnt in usrNtwrks">
			<span><img data-ng-src="{{ntCntnt.ntwrkID}}"></span>
			<p><h4>{{ntCntnt.ntwrkNm}}</h4>{{ntCntnt.ntwrkDesc}}</p>
			<p>{{ntCntnt.ntwrkDesc_1}}</p>
			<p>{{ntCntnt.ntwrkDesc_2}}</p>
		</div>
	</div>
	
</div>
