@font-face {
    font-family: 'radikalregular';
    src: url('fonts/nootype_-_radikal-webfont.eot');
    src: url('fonts/nootype_-_radikal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nootype_-_radikal-webfont.woff2') format('woff2'),
         url('fonts/nootype_-_radikal-webfont.woff') format('woff'),
         url('fonts/nootype_-_radikal-webfont.ttf') format('truetype'),
         url('fonts/nootype_-_radikal-webfont.svg#radikalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalthin';
    src: url('fonts/nootype_-_radikal_thin-webfont.eot');
    src: url('fonts/nootype_-_radikal_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nootype_-_radikal_thin-webfont.woff2') format('woff2'),
         url('fonts/nootype_-_radikal_thin-webfont.woff') format('woff'),
         url('fonts/nootype_-_radikal_thin-webfont.ttf') format('truetype'),
         url('fonts/nootype_-_radikal_thin-webfont.svg#radikalthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalmedium';
    src: url('fonts/nootype_-_radikal_medium-webfont.eot');
    src: url('fonts/nootype_-_radikal_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nootype_-_radikal_medium-webfont.woff2') format('woff2'),
         url('fonts/nootype_-_radikal_medium-webfont.woff') format('woff'),
         url('fonts/nootype_-_radikal_medium-webfont.ttf') format('truetype'),
         url('fonts/nootype_-_radikal_medium-webfont.svg#radikalmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikallight';
    src: url('fonts/nootype_-_radikal_light-webfont.eot');
    src: url('fonts/nootype_-_radikal_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nootype_-_radikal_light-webfont.woff2') format('woff2'),
         url('fonts/nootype_-_radikal_light-webfont.woff') format('woff'),
         url('fonts/nootype_-_radikal_light-webfont.ttf') format('truetype'),
         url('fonts/nootype_-_radikal_light-webfont.svg#radikallight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikalblack';
    src: url('fonts/nootype_-_radikal_black-webfont.eot');
    src: url('fonts/nootype_-_radikal_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nootype_-_radikal_black-webfont.woff2') format('woff2'),
         url('fonts/nootype_-_radikal_black-webfont.woff') format('woff'),
         url('fonts/nootype_-_radikal_black-webfont.ttf') format('truetype'),
         url('fonts/nootype_-_radikal_black-webfont.svg#radikalblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-mediumgotham-medium';
    src: url('fonts/gothmmed_0-webfont.eot');
    src: url('fonts/gothmmed_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothmmed_0-webfont.woff2') format('woff2'),
         url('fonts/gothmmed_0-webfont.woff') format('woff'),
         url('fonts/gothmmed_0-webfont.ttf') format('truetype'),
         url('fonts/gothmmed_0-webfont.svg#gotham-mediumgotham-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-lightgotham-light';
    src: url('fonts/gothmlig_0-webfont.eot');
    src: url('fonts/gothmlig_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothmlig_0-webfont.woff2') format('woff2'),
         url('fonts/gothmlig_0-webfont.woff') format('woff'),
         url('fonts/gothmlig_0-webfont.ttf') format('truetype'),
         url('fonts/gothmlig_0-webfont.svg#gotham-lightgotham-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-bookgotham-book';
    src: url('fonts/gothmbok-webfont.eot');
    src: url('fonts/gothmbok-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothmbok-webfont.woff') format('woff'),
         url('fonts/gothmbok-webfont.ttf') format('truetype'),
         url('fonts/gothmbok-webfont.svg#gotham-bookgotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-boldgotham-bold';
    src: url('fonts/gothmbol.eot');
    src: url('fonts/gothmbol.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothmbol.woff') format('woff'),
         url('fonts/gothmbol.ttf') format('truetype'),
         url('fonts/gothmbol.svg#gotham-boldgotham-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas_-webfont.eot');
    src: url('fonts/bebas_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas_-webfont.woff2') format('woff2'),
         url('fonts/bebas_-webfont.woff') format('woff'),
         url('fonts/bebas_-webfont.ttf') format('truetype'),
         url('fonts/bebas_-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
