<div class="content-area">
    <div class="content-box">
        <div class="container message-box" ng-hide="status === 1">
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="COMP_SIGN_UP_HEADING"></h2></div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p ng-show="status === 0" class="text-center" translate="COMP_SIGN_UP_VERIFYING"></p>

                    <p ng-show="status === 2" class="text-center" translate="COMP_SIGN_UP_CODE_EXPIRED"></p>
                </div>
            </div>
        </div>
        <div class="container" ng-show="status === 1">
            <div class="form-box">
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="COMP_SIGN_UP_HEADING"></h2></div>
                </div>
                <div class="form-container">
                    <div class="full-form">
                        <div class="message" translate="COMP_SIGN_UP_MESSAGE"></div>
                    </div>
                </div>
                <form name="form" id="form" ng-submit="signUp()" novalidate>
                    <div class="form-container">
                        <div class="half-form">
                            <span class="label-text" translate="COMP_SIGN_UP_FIRST_NAME"></span>
                            <br><input valid-name autofocus focus-watch="status" focus-value="1" autocomplete="off" id="firstName" maxlength="20" name="firstName" ng-model="mv.firstName" type="text" class="text-box" required ng-class="{'text-box-error': form.firstName.$touched && form.firstName.$invalid}">

                            <div class="error-message" ng-show="form.firstName.$touched && form.firstName.$error.required" translate="COMP_SIGN_UP_FIRST_NAME_REQUIRED"></div>
                            <div class="error-message" ng-show="form.firstName.$touched && !form.firstName.$error.required && form.firstName.$error.validName" translate="COMP_SIGN_UP_FIRST_NAME_INVALID"></div>
                        </div>
                        <div class="half-form">
                            <span class="label-text" translate="COMP_SIGN_UP_LAST_NAME"></span>
                            <br><input valid-name autocomplete="off" maxlength="20" type="text" id="lastName" name="lastName" ng-model="mv.lastName" class="text-box" required ng-class="{'text-box-error': form.lastName.$touched && form.lastName.$invalid}">

                            <div class="error-message" ng-show="form.lastName.$touched && form.lastName.$error.required" translate="COMP_SIGN_UP_LAST_NAME_REQUIRED"></div>
                            <div class="error-message" ng-show="form.lastName.$touched && !form.lastName.$error.required && form.lastName.$error.validName" translate="COMP_SIGN_UP_LAST_NAME_INVALID"></div>
                        </div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="COMP_SIGN_UP_EMAIL"></span><br>
                        <input autocomplete="off" type="text" maxlength="50" required is-email is-sign-up-allowed="comp" id="email" save-visitor first-name="mv.firstName" last-name="mv.lastName" name="email" ng-model="mv.email" class="text-box" ng-class="{'text-box-error': form.email.$touched && form.email.$invalid}">
                        <div class="error-message" ng-show="form.email.$touched && form.email.$error.required" translate="COMP_SIGN_UP_EMAIL_REQUIRED"></div>
                        <div class="error-message" ng-show="form.email.$touched && !form.email.$error.required && form.email.$error.isEmail" translate="COMP_SIGN_UP_EMAIL_INVALID"></div>
                        <div class="error-message" ng-show="form.email.$touched && form.email.$error.isSignUpAllowed" translate="COMP_SIGN_UP_EMAIL_EXISTS"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="COMP_SIGN_UP_TELEPHONE"></span><br>
                        <input ng-change="resetMobileNumberStatus()" ng-focus="resetMobileNumberStatus()" ng-blur="checkIfMobileNumber()" autocomplete="off" type="text" maxlength="12" required is-us-phone-number id="telephone" name="telephone" ng-model="mv.telephone" class="text-box" ng-class="{'text-box-error': form.telephone.$touched && (form.telephone.$invalid || mobileNumberStatus === 'NOT_MOBILE')}">
                        <br><input type="checkbox" class="check-box" name="sendSmsVerification" ng-model="mv.sendSmsVerification" id="sendSmsVerification"/><label for="sendSmsVerification"><span translate="COMP_SIGN_UP_SEND_SMS_VERIFICATION"></span></label>

                        <div class="error-message" ng-show="form.telephone.$touched && form.telephone.$error.required" translate="COMP_SIGN_UP_TELEPHONE_REQUIRED"></div>
                        <div class="error-message" ng-show="form.telephone.$touched && !form.telephone.$error.required && form.telephone.$error.isUsPhoneNumber" translate="COMP_SIGN_UP_TELEPHONE_INVALID"></div>
                        <div class="error-message" ng-show="mobileNumberStatus === 'NOT_MOBILE'" translate="COMP_SIGN_UP_TELEPHONE_INVALID"></div>
                        <div class="success-message" ng-show="mobileNumberStatus === 'MOBILE'" translate="COMP_SIGN_UP_TELEPHONE_MOBILE"></div>
                        <div class="status-message" ng-show="mobileNumberStatus === 'CHECKING'" translate="COMP_SIGN_UP_TELEPHONE_CHECKING_IF_MOBILE"></div>
                    </div>
                    <div class="full-form"><span class="label-text" translate="COMP_SIGN_UP_PASSWORD"></span> <span class="label-text-info" translate="COMP_SIGN_UP_PASSWORD_INFO"></span><br>
                        <input autocomplete="off" type="password" maxlength="20" required complex-password name="password" id="password" ng-model="mv.password" class="text-box" ng-class="{'text-box-error': form.password.$touched && form.password.$invalid}">

                        <div class="error-message" ng-show="form.password.$touched && form.password.$error.required" translate="COMP_SIGN_UP_PASSWORD_REQUIRED"></div>
                        <div class="error-message" ng-show="form.password.$touched && !form.password.$error.required && form.password.$error.complexity" translate="COMP_SIGN_UP_PASSWORD_NOT_COMPLEX"></div>
                        <div>
                            <ul class="passwordStrength" password-strength="mv.password"></ul>
                        </div>
                    </div>
                    <div class="full-form"><span class="label-text" translate="COMP_SIGN_UP_CONFIRM_PASSWORD"></span><br>
                        <input autocomplete="off" type="password" required maxlength="20" same-as="mv.password" name="confirmPassword" id="confirmPassword" ng-model="mv.confirmPassword" class="text-box" ng-class="{'text-box-error': form.confirmPassword.$touched && form.confirmPassword.$invalid}">

                        <div class="error-message" ng-show="form.confirmPassword.$touched && form.confirmPassword.$error.required" translate="COMP_SIGN_UP_CONFIRM_PASSWORD_REQUIRED"></div>
                        <div class="error-message" ng-show="form.confirmPassword.$touched && !form.confirmPassword.$error.required && form.confirmPassword.$error.sameAs" translate="COMP_SIGN_UP_CONFIRM_PASSWORD_NO_MATCH"></div>
                    </div>
                    <div class="full-form">
                        <input type="checkbox" class="check-box" name="emailSmsSubscription" ng-model="mv.emailSmsSubscription" id="emailSmsSubscription"/><label for="emailSmsSubscription"><span translate="COMP_SIGN_UP_EMAIL_SMS_SUBSCRIPTION"></span></label>
                        <input type="checkbox" class="check-box" required name="disclaimer" ng-model="mv.disclaimer" id="disclaimer"/><label for="disclaimer"><span translate="COMP_SIGN_UP_DISCLAIMER"></span> <a href ng-click="goToWordPressUrl('WP_URL_TOUS')" target="_blank" translate="COMP_SIGN_UP_TERMS_OF_USE"></a> <span translate="COMP_SIGN_UP_AND"></span> <a href ng-click="goToWordPressUrl('WP_URL_PRIVACY_POLICY')" translate="COMP_SIGN_UP_PRIVACY_POLICY" target="_blank"></a><span translate="COMP_SIGN_UP_DISCLAIMER_END"></span></label>

                        <div class="error-message" ng-show="form.disclaimer.$dirty && form.disclaimer.$error.required" translate="COMP_SIGN_UP_DISCLAIMER_REQUIRED"></div>
                    </div>
                    <div class="full-form">
                        <button ng-disabled="saving" type="submit" class="submit-button sign-up-button" translate="COMP_SIGN_UP_SUBMIT_BUTTON"></button>
                        <div>&nbsp;</div>
                        <div class="progress" ng-show="saving">
                            <div class="progress-bar progress-bar-purple progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        <div class="error-message text-center" style="width:98%" ng-show="formSubmit && (form.$invalid || mobileNumberStatus !== 'MOBILE')" translate="COMP_SIGN_UP_FORM_INVALID"></div>
                    </div>
                    <div class="full-form center-form"><span translate="COMP_SIGN_UP_PROBLEM"></span><span ng-bind="appConfig.customerCareNumber"></span></div>
                    <div class="full-form center-form"><span translate="COMP_SIGN_UP_HAVE_ACCOUNT"></span><a href="/sign-in" translate="COMP_SIGN_UP_SIGN_IN"></a></div>
                    <div class="full-form center-form"><span translate="COMP_SIGN_UP_SEND_SMS_VERIFICATION_FINE_PRINT"></span></div>
                </form>
            </div>
        </div>
    </div>
</div>
