<div class="content-area">
    <div class="content-box">

        <div class="container">
            <div class="form-box">
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="FORGOT_PASSWORD_HEADING"></h2></div>
                </div>
                <form name="form" id="form" ng-submit="forgotPassword()" novalidate>
                    <br>
                    <span class="label-text" translate="FORGOT_PASSWORD_EMAIL"></span><br>
                    <input autofocus type="text" is-email-or-us-phone class="text-box" maxlength="50" ng-model="mv.email" autocomplete="off" id="email" name="email" ng-class="{'text-box-error': form.email.$touched && form.email.$invalid}" required>

                    <div ng-show="form.email.$touched && form.email.$error.required" class="error-message" translate="FORGOT_PASSWORD_EMAIL_REQUIRED"></div>
                    <div ng-show="form.email.$touched && !form.email.$error.required && form.email.$error.isEmailOrUsPhone" class="error-message" translate="FORGOT_PASSWORD_EMAIL_INVALID"></div>
                    <br>

                    <div class="full-form">
                        <button ng-disabled="saving" class="submit-button" type="submit" translate="FORGOT_PASSWORD_BUTTON"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
