<div class="content-area">
    <div class="content-box">
        <div class="container success-box">
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="FREE_SIGN_UP_SUCCESS_HEADING"></h2></div>
            </div>
            <div class="row sign-up-success">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h3 class="bolder-text" translate="FREE_SIGN_UP_SUCCESS_SUB_HEADING"></h3>

                    <div><span translate="FREE_SIGN_UP_SUCCESS_LINE1_PART1"></span> <span ng-show="showVerification === 'true'" translate="FREE_SIGN_UP_SUCCESS_LINE1_PART2"></span></div>
                    <br/>

                    <div ng-show="showVerification === 'true'" class="bolder-text" translate="FREE_SIGN_UP_SUCCESS_LINE2"></div>
                    <br/>


                    <div><span translate="FREE_SIGN_UP_SUCCESS_LINE3_PART1"></span> <a href ng-click="goToWordPressUrl('WP_URL_FAQS')" translate="FREE_SIGN_UP_SUCCESS_FAQS"></a> <span translate="FREE_SIGN_UP_SUCCESS_LINE3_PART2"></span> <span ng-bind="appConfig.customerCareNumber"></span></div>
                    <br/>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <button goto="/sign-in"><img class="img-responsive col-xs-12" style="padding:0px" src="images/pages/{{language}}/button-login-watch-now.png"/></button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button goto="/sign-up/paid"><img class="img-responsive col-xs-12" style="padding:0px" src="images/pages/{{language}}/button-continue-to-premium.png"/></button>
                        </div>
                    </div>

                    <h4 class="text-center" translate="FREE_SIGN_UP_SUCCESS_LINE4"></h4>
                    <br/>

                    <div class="text-center">
                        <a href="https://itunes.apple.com/us/app/yiptv-live-tv-for-international/id972197370?mt=8"><img class="app-button" src="images/app-store.png"/></a>
                        <a href="https://play.google.com/store/apps/details?id=com.yiptv.android.client3"><img class="app-button" src="images/google-play.png"/></a>
                    </div>

                    <h3 class="bold-text" translate="FREE_SIGN_UP_SUCCESS_LINE5"></h3>
                    <ul>
                        <li translate="FREE_SIGN_UP_SUCCESS_BULLET1"></li>
                        <li translate="FREE_SIGN_UP_SUCCESS_BULLET2"></li>
                        <li translate="FREE_SIGN_UP_SUCCESS_BULLET3"></li>
                        <li translate="FREE_SIGN_UP_SUCCESS_BULLET4"></li>
                    </ul>
                    <br/>
                    <br/>
                    <button goto="/sign-up/paid"><img class="text-center img-responsive col-xs-12" style="padding:0px" src="images/pages/{{language}}/upgrade-to-premium.jpg"/></button>
                    <br/>

                    <div class="bold-text text-center"><h3><span translate="FREE_SIGN_UP_SUCCESS_QUESTIONS"></span> <span ng-bind="appConfig.customerCareNumber"></span></h3></div>
                </div>
            </div>
        </div>
    </div>
</div>
