<div class="mainhd">

    <div class="hdrtop">
        <div class="container clearfix">
            <a href="https://www.yiptv.com/live-tv/index.php/en/yiptv/">
                <div class="logo"></div>
            </a>

            <div class="topright right">
                <ul id="menu-signin-menu" class="topnav">
                    <li id="menu-item-2400-es" class="lang-item lang-item-143 lang-item-es menu-item menu-item-type-custom menu-item-object-custom menu-item-2400-es">
                        <a href="https://www.yiptv.com/live-tv/index.php/es/" hreflang="es">Español</a>
                    </li>
                    <li id="menu-item-5393" class="call menu-item menu-item-type-custom menu-item-object-custom menu-item-5393">
                        <a href="tel:+18559194788">CALL US TOLL FREE: 855-919-4788</a>
                    </li>
                </ul>
            </div>

        </div>
        <!--  end container clearfix    -->
    </div>
    <!--  hdrtop  -->

    <div class="hdrbottom">
        <div class="container clearfix">
            <div class="topright2">
                <div class="menu-menu_en-container">
                    <ul id="menu-menu_en" class="mainnav">
                        <li id="menu-item-2881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2881">
                            <a href="https://www.yiptv.com/live-tv/index.php/en/tv-channels/">Channels</a>
                        </li>
                        <li id="menu-item-2896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2896">
                            <a href="https://www.yiptv.com/live-tv/index.php/en/how-to-watch/">How to Watch</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul id="menu-login_us" class="loginnav">
                        <li id="menu-item-8003" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8003">
                            <a href="https://app.yiptv.com/sign-in?lang=en">Login/Watch Now</a>
                        </li>
                        <li id="menu-item-12447" class="signupbtn menu-item menu-item-type-custom menu-item-object-custom menu-item-12447">
                            <a href="https://app.yiptv.com/sign-up/premium?lang=en">1$ Premium</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- HDR BOTTOM -->


</div> <!-- maindhd -->
