<div class="content-area">
    <div class="content-box">
        <div class="container">
            <div class="form-box">
                <div>&nbsp;</div>
                <div class="row">
                    <img src="/images/merchants/{{mv.merchant}}.png" class="img-responsive"/>
                </div>
                <div class="sign-up-order">
                    <div class="row">
                        <div class="col-md-12 uppercase-text"><h3 translate="SIGN_UP_ORDER_SUMMARY"></h3></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li translate="SIGN_UP_BULLET1"></li>
                                <li translate="SIGN_UP_BULLET2"></li>
                                <li translate="SIGN_UP_BULLET3"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 bold-text"><span translate="SIGN_UP_ITEM1"></span></div>
                        <div class="col-xs-3 bold-text text-right"><span translate="SIGN_UP_AMOUNT1"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 bold-text"><span translate="SIGN_UP_ITEM2"></span></div>
                        <div class="col-xs-3 bold-text text-right"><span translate="SIGN_UP_AMOUNT2"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 bolder-text"><span translate="SIGN_UP_ITEM_TOTAL"></span></div>
                        <div class="col-xs-3 bolder-text text-right"><span translate="SIGN_UP_AMOUNT_TOTAL"></span></div>
                    </div>
                </div>
                <form name="form" id="form" ng-submit="signUp()" novalidate>
                    <div class="form-container">
                        <div class="full-form">
                            <h3 translate="SIGN_UP_ACCOUNT_INFO"></h3>
                        </div>
                        <div class="half-form">
                            <span class="label-text" translate="SIGN_UP_FIRST_NAME"></span>
                            <br><input valid-name autocomplete="off" id="firstName" maxlength="20" name="firstName" ng-model="mv.firstName" type="text" class="text-box" required ng-class="{'text-box-error': form.firstName.$touched && form.firstName.$invalid}">
                            <div class="error-message" ng-show="form.firstName.$touched && form.firstName.$error.required" translate="SIGN_UP_FIRST_NAME_REQUIRED"></div>
                            <div class="error-message" ng-show="form.firstName.$touched && !form.firstName.$error.required && form.firstName.$error.validName" translate="SIGN_UP_FIRST_NAME_INVALID"></div>
                        </div>
                        <div class="half-form">
                            <span class="label-text" translate="SIGN_UP_LAST_NAME"></span>
                            <br><input valid-name autocomplete="off" maxlength="20" type="text" id="lastName" name="lastName" ng-model="mv.lastName" class="text-box" required ng-class="{'text-box-error': form.lastName.$touched && form.lastName.$invalid}">

                            <div class="error-message" ng-show="form.lastName.$touched && form.lastName.$error.required" translate="SIGN_UP_LAST_NAME_REQUIRED">Enter your last name</div>
                            <div class="error-message" ng-show="form.lastName.$touched && !form.lastName.$error.required && form.lastName.$error.validName" translate="SIGN_UP_LAST_NAME_INVALID"></div>
                        </div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_EMAIL"></span><br>
                        <input autocomplete="off" type="text" maxlength="50" required is-email is-sign-up-allowed="paid" id="email" first-name="mv.firstName" last-name="mv.lastName" name="email" ng-model="mv.email" class="text-box" ng-class="{'text-box-error': form.email.$touched && form.email.$invalid}">

                        <div class="error-message" ng-show="form.email.$touched && form.email.$error.required" translate="SIGN_UP_EMAIL_REQUIRED"></div>
                        <div class="error-message" ng-show="form.email.$touched && !form.email.$error.required && form.email.$error.isEmail" translate="SIGN_UP_EMAIL_INVALID"></div>
                        <div class="error-message" ng-show="form.email.$touched && form.email.$error.isSignUpAllowed" translate="SIGN_UP_EMAIL_EXISTS"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_TELEPHONE"></span><br>
                        <input ng-change="resetMobileNumberStatus()" ng-focus="resetMobileNumberStatus()" ng-blur="checkIfMobileNumber()" autocomplete="off" type="text" maxlength="12" required is-us-phone-number id="telephone" name="telephone" ng-model="mv.telephone" class="text-box" ng-class="{'text-box-error': form.telephone.$touched && (form.telephone.$invalid || mobileNumberStatus === 'NOT_MOBILE')}">
                        <br><input type="checkbox" class="check-box" name="sendSmsVerification" ng-model="mv.sendSmsVerification" id="sendSmsVerification"/><label for="sendSmsVerification"><span translate="SIGN_UP_SEND_SMS_VERIFICATION"></span></label>

                        <div class="error-message" ng-show="form.telephone.$touched && form.telephone.$error.required" translate="SIGN_UP_TELEPHONE_REQUIRED"></div>
                        <div class="error-message" ng-show="form.telephone.$touched && !form.telephone.$error.required && form.telephone.$error.isUsPhoneNumber" translate="SIGN_UP_TELEPHONE_INVALID"></div>
                        <div class="error-message" ng-show="mobileNumberStatus === 'NOT_MOBILE'" translate="SIGN_UP_TELEPHONE_INVALID"></div>
                        <div class="success-message" ng-show="mobileNumberStatus === 'MOBILE'" translate="SIGN_UP_TELEPHONE_MOBILE"></div>
                        <div class="status-message" ng-show="mobileNumberStatus === 'CHECKING'" translate="SIGN_UP_TELEPHONE_CHECKING_IF_MOBILE"></div>
                    </div>
                    <div class="full-form"><span class="label-text" translate="SIGN_UP_PASSWORD"></span> <span class="label-text-info" translate="SIGN_UP_PASSWORD_INFO"></span><br>
                        <input autocomplete="off" type="password" maxlength="20" required complex-password name="password" id="password" ng-model="mv.password" class="text-box" ng-class="{'text-box-error': form.password.$touched && form.password.$invalid}">

                        <div class="error-message" ng-show="form.password.$touched && form.password.$error.required" translate="SIGN_UP_PASSWORD_REQUIRED"></div>
                        <div class="error-message" ng-show="form.password.$touched && !form.password.$error.required && form.password.$error.complexity" translate="SIGN_UP_PASSWORD_NOT_COMPLEX"></div>
                        <div>
                            <ul class="passwordStrength" password-strength="mv.password"></ul>
                        </div>
                    </div>
                    <div class="full-form">
                        <h3 translate="SIGN_UP_BILLING_INFO"></h3>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_CARD_NAME"></span>
                        <br><input valid-name autocomplete="off" type="text" id="cardName" name="cardName" ng-model="mv.cardName" maxlength="128" required class="text-box" ng-class="{'text-box-error': form.cardName.$touched && form.cardName.$invalid}">

                        <div class="error-message" ng-show="form.cardName.$touched && form.cardName.$error.required" translate="SIGN_UP_CARD_NAME_REQUIRED"></div>
                        <div class="error-message" ng-show="form.cardName.$touched && !form.cardName.$error.required && form.cardName.$error.validName" translate="SIGN_UP_CARD_NAME_INVALID"></div>
                    </div>

                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_CARD_NUMBER"></span>
                        <br><input autocomplete="off" type="text" id="cardNumber" name="cardNumber" ng-model="mv.cardNumber" maxlength="19" required class="text-box {{form.cardNumber.$card.type}}" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="{'text-box-error': form.cardNumber.$touched && form.cardNumber.$invalid}">

                        <div class="error-message" ng-show="form.cardNumber.$touched && form.cardNumber.$error.required" translate="SIGN_UP_CARD_NUMBER_REQUIRED"></div>
                        <div class="error-message" ng-show="form.cardNumber.$touched && form.cardNumber.$error.card" translate="SIGN_UP_CARD_NUMBER_ERROR"></div>
                    </div>
                    <div class="form-container">
                        <div class="half-form">
                            <span class="label-text" translate="SIGN_UP_EXPIRY_DATE"></span>
                            <br>
                            <input autocomplete="off" id="expiryDate" maxlength="9" required payments-validate="expiry" payments-format="expiry" name="expiryDate" ng-model="mv.expiryDate" class="text-box" ng-class="{'text-box-error': form.expiryDate.$touched && form.expiryDate.$invalid}">

                            <div class="error-message" ng-show="form.expiryDate.$touched && form.expiryDate.$error.required" translate="SIGN_UP_EXPIRY_DATE_REQUIRED"></div>
                            <div class="error-message" ng-show="form.expiryDate.$touched && !form.expiryDate.$error.required && form.expiryDate.$error.expiry" translate="SIGN_UP_EXPIRY_DATE_INVALID"></div>
                        </div>
                        <div class="half-form">
                            <span class="label-text" translate="SIGN_UP_CVV"></span>
                            <br><input autocomplete="off" type="password" id="cvv" name="cvv" ng-model="mv.cvv" required maxlength="4" class="text-box" payments-validate="cvc" payments-format="cvc" payments-type-model="type" ng-class="{'text-box-error': form.cvv.$touched && form.cvv.$invalid}">

                            <div class="error-message" ng-show="form.cvv.$touched && form.cvv.$error.required" translate="SIGN_UP_CVV_REQUIRED"></div>
                            <div class="error-message" ng-show="form.cvv.$touched && !form.cvv.$error.required && (form.cvv.$error.cvc || form.cvv.$invalid)" translate="SIGN_UP_CARD_NUMBER_CVV_ERROR"></div>
                        </div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_ADDRESS"></span>
                        <br><input valid-address autocomplete="off" type="text" id="address" name="address" ng-model="mv.address" maxlength="80" required class="text-box" ng-class="{'text-box-error': form.address.$touched && form.address.$invalid}">

                        <div class="error-message" ng-show="form.address.$touched && form.address.$error.required" translate="SIGN_UP_ADDRESS_REQUIRED"></div>
                        <div class="error-message" ng-show="form.address.$touched && !form.address.$error.required && form.address.$error.validAddress" translate="SIGN_UP_ADDRESS_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_CITY"></span>
                        <br><input valid-address autocomplete="off" type="text" id="city" name="city" maxlength="80" required ng-model="mv.city" class="text-box" ng-class="{'text-box-error': form.city.$touched && form.city.$invalid}">

                        <div class="error-message" ng-show="form.city.$touched && form.city.$error.required" translate="SIGN_UP_CITY_REQUIRED"></div>
                        <div class="error-message" ng-show="form.city.$touched && !form.city.$error.required && form.city.$error.validAddress" translate="SIGN_UP_CITY_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_STATE"></span>
                        <br>
                        <select id="state" name="state" required ng-model="mv.state" ng-options="state.code as state.name for state in states" class="text-box dropdown-list" ng-class="{'text-box-error': form.state.$touched && form.state.$invalid}">
                            <option value="" translate="SIGN_UP_STATE_SELECT"></option>
                        </select>

                        <div class="error-message" ng-show="form.state.$touched && form.state.$error.required" translate="SIGN_UP_STATE_REQUIRED"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_ZIP_CODE"></span>
                        <br><input autocomplete="off" type="text" id="zipCode" name="zipCode" maxlength="5" required ng-pattern="/^\d{5}$/" ng-model="mv.zipCode" class="text-box" ng-class="{'text-box-error': form.zipCode.$touched && form.zipCode.$invalid}">

                        <div class="error-message" ng-show="form.zipCode.$touched && form.zipCode.$error.required" translate="SIGN_UP_ZIP_CODE_REQUIRED"></div>
                        <div class="error-message" ng-show="form.zipCode.$touched && form.zipCode.$error.pattern" translate="SIGN_UP_ZIP_CODE_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <input type="checkbox" class="check-box" name="emailSmsSubscription" ng-model="mv.emailSmsSubscription" id="emailSmsSubscription"/><label for="emailSmsSubscription"><span translate="SIGN_UP_EMAIL_SMS_SUBSCRIPTION"></span></label>
                        <input type="checkbox" class="check-box" required name="disclaimer" ng-model="mv.disclaimer" id="disclaimer"/><label for="disclaimer"><span translate="SIGN_UP_DISCLAIMER"></span> <a href ng-click="goToWordPressUrl('WP_URL_TOUS')" target="_blank" translate="SIGN_UP_TERMS_OF_USE"></a> <span translate="SIGN_UP_AND"></span> <a href ng-click="goToWordPressUrl('WP_URL_PRIVACY_POLICY')" translate="SIGN_UP_PRIVACY_POLICY" target="_blank"></a><span translate="SIGN_UP_DISCLAIMER_END"></span></label>

                        <div class="error-message" ng-show="form.disclaimer.$dirty && form.disclaimer.$error.required" translate="SIGN_UP_DISCLAIMER_REQUIRED"></div>
                    </div>
                    <div class="full-form">
                        <button ng-disabled="saving" type="submit" class="submit-button" translate="SIGN_UP_SUBMIT_BUTTON"></button>
                        <div>&nbsp;</div>
                        <div class="progress" ng-show="saving">
                            <div class="progress-bar progress-bar-pink progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        <div class="error-message text-center" style="width:98%" ng-show="formSubmit && (form.$invalid || mobileNumberStatus !== 'MOBILE')" translate="SIGN_UP_FORM_INVALID"></div>
                    </div>
                    <div class="full-form" style="padding-top:0px;">
                        <div class="bold-text text-center"><h3><span translate="SIGN_UP_QUESTIONS"></span> <span ng-bind="appConfig.customerCareNumber"></span></h3></div>
                    </div>
                    <div class="full-form center-form"><span translate="SIGN_UP_SEND_SMS_VERIFICATION_FINE_PRINT"></span></div>
                </form>
            </div>
        </div>
    </div>
</div>
