<div class="content-area" style="height: 100vh;background-color: #fff; ">
    <div class="content-box">
        <div class="container message-box">
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color"
                                                                                  translate="NOT_SUPPORTED_HEADING"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="text-center" translate="NOT_SUPPORTED_MESSAGE"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="text-center">
                        <a href="https://itunes.apple.com/us/app/yiptv-live-tv-for-international/id972197370?mt=8"><img
                            class="app-button" src="images/app-store.png"/></a>
                        <a href="https://play.google.com/store/apps/details?id=com.yiptv.android.client3"><img
                            class="app-button" src="images/google-play.png"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
