<div class="content-area">
    <div class="content-box">
        <div class="container">
            <div class="form-box">
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="PIN_VERIFICATION_HEADING"></h2></div>
                </div>
                <form name="form" id="form" ng-submit="pinVerification()" novalidate>
                    <br>
                    <span class="label-text" translate="PIN_VERIFICATION_PIN"></span><br>
                    <input autofocus focus-watch="status" focus-value="1" type="text" class="text-box" maxlength="4" ng-pattern="/^[0-9]{4}$/" ng-model="mv.pin" autocomplete="off" id="pin" name="pin" ng-class="{'text-box-error': form.pin.$touched && form.pin.$invalid}" required>

                    <div ng-show="form.pin.$touched && form.pin.$error.required" class="error-message" translate="PIN_VERIFICATION_PIN_REQUIRED"></div>
                    <div ng-show="form.pin.$touched && form.pin.$error.pattern" class="error-message" translate="PIN_VERIFICATION_PIN_INVALID"></div>

                    <div class="full-form">
                        <button ng-disabled="saving" class="submit-button" type="submit" translate="PIN_VERIFICATION_BUTTON"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
