
<div ng-controller="playerCtrl">
  <div id="playerTop" class="player-top">
    <div ng-if="user.type != 'free'" class="paid-tv">
      <div class="main-player position-div">
        <div id="yiptv-player"></div>
      </div>
    </div>
    <div ng-if="user.type ==='free'" class="free-tv">
      <div class="main-player position-div">
        <div id="yiptv-player"></div>
      </div>
      <div ng-repeat="promo in promos  | limitTo:1" class="main-favorites position-div">
        <div access-level="accessLevels.user">
          <div class="ad-free"><img src="../images/upgrade_360_90.png" width="345px" hight="86px"/></div>
        </div>
        <div class="notification"><img ng-src="../images/app-ad-360x270-premium.png" width="350px" height="250px" class="img-responsive"/></div>
      </div>
    </div>
  </div>
  <div id="channelMenuHolder">
    <div id="menuBar">
      <div class="pre-channel"><img src="../images/arrow-left.png" width="30px" hight="30px" ng-click="previousChannel()" style="cursor: pointer"/></div>
      <div id="currentChannel"><img ng-src="{{channelLogo}}" height="35px" width="auto"/></div>
      <div class="next-channel"><img src="../images/arrow-right.png" width="30px" height="30px" ng-click="nextChannel()" style="cursor: pointer"/></div>
      <div id="programInfo">
        <div id="title">{{programTitle}}</div>
        <div id="description">{{programDescription}}</div>
      </div>
      <div id="programDetail" ng-controller="programDetailSlideCtrl"><img src="../images/info.png" width="24px" height="24px" ng-click="toggleProgramDetail()" style="cursor: pointer"/>
        <div id="programDetailSlider" pageslide="" ps-open="checked" ps-side="top">
          <div id="programDetailHolder">
            <div id="detailHolder">
              <div id="detailTitle">
                <div class="detail-title">{{program.title}}</div>
              </div>
              <div id="detailShowTime">{{program.showTime}}</div>
              <div id="detailDescription">{{program.description}}</div>
            </div>
            <div><a id="okButton" ng-click="toggleProgramDetail()" class="btn btn-danger btn-xs">OK</a></div>
          </div>
        </div>
      </div>
      <div id="favorite"><img src="{{favoriteIcon}}" width="20px" height="20px" ng-click="toggleFavoriteChannel()" style="cursor: pointer"/></div>
      <div id="favoriteChannels" ng-click="listFavoriteChannels()"><span translate="PLAYER_MENU_FAVORITE"></span></div>
      <div id="recentChannels" ng-click="listRecentChannels()"><span translate="PLAYER_MENU_RECENT"></span></div>
      <div id="allChannels" ng-click="listAllChannels()"><span translate="PLAYER_MENU_ALL"></span></div>
      <div id="filter" ng-controller="filterPanelSlideCtrl"><img src="../images/filter.png" width="35px" height="35px" ng-click="toggle()" style="cursor: pointer"/>
        <div pageslide="" ps-open="checked" ps-size="360px">
          <div id="channelFilterHolder" class="filter-close-btn label label-danger">
            <div class="row">
              <div><a id="filterClearAll" ng-click="clearAll()" translate="PLAYER_CLEAR_ALL" class="btn btn-danger btn-xs"></a><a id="filterClose" ng-click="toggle()" class="btn btn-danger btn-xs">Close</a></div>
              <div class="channel-filters">
                <div class="channel-filter-categories"><span translate="PLAYER_CATEGORIES"></span></div>
                <div id="categories" role="tablist" aria-multiselectable="true" class="panel-group">
                  <div class="panel panel-default filter-categories">
                    <div id="headingGenre" role="tab" class="panel-heading">
                      <div class="panel-title filter-category-title"><a translate="PLAYER_GENRE" role="button" data-toggle="collapse" data-parent="#categories" href="" data-target="#collapseGenre" aria-expanded="true" aria-controls="collapseGenre"></a></div>
                    </div>
                  </div>
                  <div id="collapseGenre" role="tabpanel" aria-labelledby="headingGenre" class="panel-collapse collapse in">
                    <div class="panel-body panel-body-left">
                      <div ng-repeat="tag in getTags('Genre') | filter: { col: 0 }" class="filter-repeat">
                        <input name="genreList[]" ng-checked="selectedGenres.indexOf(tag.id) &gt; -1" ng-click="toggleGenreSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                    <div class="panel-body panel-body-right">
                      <div ng-repeat="tag in getTags('Genre') | filter: { col : 1 }" class="filter-repeat">
                        <input name="genreList[]" ng-checked="selectedGenres.indexOf(tag.id) &gt; -1" ng-click="toggleGenreSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default filter-categories">
                    <div id="headingRegion" role="tab" class="panel-heading">
                      <div class="panel-title filter-category-title"><a translate="PLAYER_ORIGIN" role="button" data-toggle="collapse" data-parent="#categories" href="" data-target="#collapseRegion" aria-expanded="true" aria-controls="collapseRegion"></a></div>
                    </div>
                  </div>
                  <div id="collapseRegion" role="tabpanel" aria-labelledby="headingRegion" class="panel-collapse collapse in">
                    <div class="panel-body panel-body-left">
                      <div ng-repeat="tag in getTags('Origin') | filter: { col: 0 }" class="filter-repeat">
                        <input name="regionList[]" ng-checked="selectedRegions.indexOf(tag.id) &gt; -1" ng-click="toggleRegionSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                    <div class="panel-body panel-body-right">
                      <div ng-repeat="tag in getTags('Origin') | filter: { col : 1 }" class="filter-repeat">
                        <input name="regionList[]" ng-checked="selectedRegions.indexOf(tag.id) &gt; -1" ng-click="toggleRegionSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default filter-categories">
                    <div id="headingAudience" role="tab" class="panel-heading">
                      <div class="panel-title filter-category-title"><a translate="PLAYER_AUDIENCE" role="button" data-toggle="collapse" data-parent="#categories" href="" data-target="#collapseAudience" aria-expanded="true" aria-controls="collapseAudience"></a></div>
                    </div>
                  </div>
                  <div id="collapseAudience" role="tabpanel" aria-labelledby="headingAudience" class="panel-collapse collapse in">
                    <div class="panel-body panel-body-left">
                      <div ng-repeat="tag in getTags('Audience') | filter: { col: 0 }" class="filter-repeat">
                        <input name="AudienceList[]" ng-checked="selectedAudiences.indexOf(tag.id) &gt; -1" ng-click="toggleAudienceSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                    <div class="panel-body panel-body-right">
                      <div ng-repeat="tag in getTags('Audience') | filter: { col : 1 }" class="filter-repeat">
                        <input name="AudienceList[]" ng-checked="selectedAudiences.indexOf(tag.id) &gt; -1" ng-click="toggleAudienceSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default filter-categories">
                    <div id="headingLanguage" role="tab" class="panel-heading">
                      <div class="panel-title filter-category-title"><a translate="PLAYER_LANGUAGE" role="button" data-toggle="collapse" data-parent="#categories" href="" data-target="#collapseLanguage" aria-expanded="true" aria-controls="collapseLanguage"></a></div>
                    </div>
                  </div>
                  <div id="collapseLanguage" role="tabpanel" aria-labelledby="headingLanguage" class="panel-collapse collapse in">
                    <div class="panel-body panel-body-left">
                      <div ng-repeat="tag in getTags('Language') | filter: { col: 0 }" class="filter-repeat">
                        <input name="LanguageList[]" ng-checked="selectedLanguages.indexOf(tag.id) &gt; -1" ng-click="toggleLanguageSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                    <div class="panel-body panel-body-right">
                      <div ng-repeat="tag in getTags('Language') | filter: { col : 1 }" class="filter-repeat">
                        <input name="LanguageList[]" ng-checked="selectedLanguages.indexOf(tag.id) &gt; -1" ng-click="toggleLanguageSelection(tag.id)" value="{{tag.id}}" type="checkbox"/>{{tag.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="epgCtrl">
    <div id="clock" current-time="" class="position-div"></div>
    <div id="channelTimePanel" class="position-div scrollListener user-guide user-guide-panel">
      <div></div>
      <div id="guideHeader" class="guide-header">
        <ul>
          <li ng-repeat="time in timeSlots" style="width: 150px;" class="time-module-item">{{time}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div id="logoColumn" class="user-guide-panel scrollListener">
        <div class="position-div user-guide">
          <div id="channelLogoPanel">
            <div></div>
            <div id="channelGuideDescription" ng-repeat="logo in logos" class="channel-description">
              <div id="channelGuideLogo" title="{{logo.channelTitle}}" style="cursor: pointer; background: #FFF url({{logo.logo}}) 50% no-repeat; background-size:contain "></div>
            </div>
          </div>
        </div>
      </div>
      <div id="userGuide" class="user-guide-panel scrollListener">
        <div class="position-div user-guide">
          <div id="channelGuidePanel" class="user-guide-description">
            <div></div>
            <div id="channelGuideDescription" ng-repeat="programs in programming" class="channel-description">
              <div style="width: 154px; height: 60px;"></div>
              <div ng-repeat="show in programs.lineUp" ng-if="$index === 0" ng-click="watchNow(programs.chIndex, 0, this)" title="{{show.dropdownInfo}}" style="cursor: pointer; width: {{show.length*5}}px; border-right: 1px solid #000033">
                <p style="text-align: left;"><span class="channel-details-body">{{show.title}}</span></p>
                <p style="text-align: left;"><span class="channel-details-body">{{show.startHour + " - " + show.endHour}}</span></p>
              </div>
              <div ng-repeat="show in programs.lineUp" ng-if="$index &gt; 0" title="{{show.dropdownInfo}}" style="cursor: pointer; width: {{show.length*5}}px; border-right: 1px solid #000033">
                <p style="text-align: left;"><span class="channel-details-body">{{show.title}}</span></p>
                <p style="text-align: left;"><span class="channel-details-body">{{show.startHour + " - " + show.endHour}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>