<div ng-controller="playerCtrl">
    <div id="playerTop" class="player-top">
        <div class="paid-tv" ng-if="user.type !== 'free'">
            <div class="main-player position-div">
                <div ng-show="watching">
                    <pip-screen info='tv' class="mainUrl" playurl="{{mainUrl}}" channel-logo="{{channelLogo}}" id="screen1"></pip-screen>
                </div>
            </div>
        </div>
        <div class="free-tv" ng-if="user.type === 'free'">
            <div  class="main-player position-div">
                <div ng-show="watching">
                    <pip-screen info='tv' class="mainUrl" playurl="{{mainUrl}}" channel-logo="{{channelLogo}}" id="screen1"></pip-screen>
                </div>
            </div>
            <div class="main-favorites position-div">
                <div><div class="ad-free"><img class="img-responsive" ng-src="../images/pages/{{language}}/upsell-premium.png" src="../images/pages/en/upsell-premium.png"></div></div>
            </div>=
        </div>
    </div>
    <div combine-horizontal-scrolls="horizontal-scroll" ng-show="channelsLoaded">
        <div ng-include="'views/filter.html'"></div>
        <div id="clock" current-time="" class="position-div"></div>
        <div id="channelTimePanel" class="position-div scrollListener user-guide user-guide-panel">
            <div></div>
            <div id="guideHeader" class="guide-header horizontal-scroll sync-scroll">
                <ul>
                    <li ng-repeat="time in ::timeSlots" style="width: 300px;" class="time-module-item">{{::time}}</li>
                </ul>
            </div>
        </div>
        <div>
            <div ng-if='noRecentChannels' style="width: 100%; text-align: center; color: white;">
                <h3 translate="USER_HOME_NO_RECENT_CHANNELS"></h3>
            </div>
            <div ng-if='noFavoriteChannels' style="width: 100%; text-align: center; color: white;">
                <h3 translate="PLAYER_NO_FAVORITES"></h3>
            </div>
            <div id="userGuide" class="user-guide-panel">
                <div class="position-div user-guide">
                    <div>
                        <div id="channelGuideLogo" class="image-lineup">
                            <div id="image-logos" ng-repeat="programs in programming" class="channel-description">
                                <div class="logo-detail" ng-click="watchNow(programs.chIndex, favoriteChannels, this);" title="{{::programs.channelTitle}}" style="cursor: pointer; background: #FFF url({{::programs.logo}}) 50% no-repeat; background-size:contain"></div>
                            </div>
                        </div>
                        <div class="horizontal-scroll horizontal-bottom sync-scroll">
                            <div id="channelGuideDescription" ng-repeat="programs in programming" class="channel-description">
                                <div class="show-detail" ng-repeat="show in ::programs.lineUp" title="{{::show.dropdownInfo}}" style="width: {{::show.length * 5}}px; border-right: 1px solid #000033">
                                    <p style="text-align: left;"><span class="channel-details-body">{{::show.title}}</span></p>
                                    <p style="text-align: left;"><span class="channel-details-body" ng-if="show.startHour !== undefined">{{::show.startHour}} - {{::show.endHour}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
