<div ng-controller="playerCtrl">
    <div id="playerTop" class="player-top">
        <div class="paid-tv" ng-if="user.type !== 'free'">
            <div class="main-player position-div">
                <div ng-show="watching">
                    <pip-screen info='tv' class="mainUrl" playurl="{{mainUrl}}" channel-logo="{{channelLogo}}" id="screen1"></pip-screen>
                </div>
            </div>
        </div>
        <div class="free-tv" ng-if="user.type === 'free'">
            <div  class="main-player position-div">
                <div ng-show="watching">
                    <pip-screen info='tv' class="mainUrl" playurl="{{mainUrl}}" channel-logo="{{channelLogo}}" id="screen1"></pip-screen>
                </div>
            </div>
            <div class="main-favorites position-div">
                <div><div class="ad-free"><img class="img-responsive" ng-src="../images/pages/{{language}}/upsell-premium.png" src="../images/pages/en/upsell-premium.png"></div></div>
            </div>
        </div>
    </div>

    <div class="progress center-block" ng-show="!channelsLoaded" style="width: 72%">
        <div class="progress-bar progress-bar-blue progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        </div>
    </div>

    <div combine-horizontal-scrolls="horizontal-scroll" ng-show="channelsLoaded">
        <div ng-include="'views/filter.html'"></div>

        <!-- create the clock and time bar -->
        <div id="clock" current-time="" class="position-div"></div>
        <div id="channelTimePanel" class="position-div scrollListener user-guide user-guide-panel">
            <div></div>
            <div class="horizontal-scroll sync-scroll guide-header">
                <ul>
                    <li ng-repeat="time in timeSlots" style="width: 300px;" class="time-module-item">{{time}}</li>
                </ul>
            </div>
        </div>

        <!-- error messages if no channels exist in this view -->
        <div>
            <div ng-if='noRecentChannels' style="width: 100%; text-align: center; color: white;">
                <h3 translate="USER_HOME_NO_RECENT_CHANNELS"></h3>
            </div>
            <div ng-if='noFavoriteChannels' style="width: 100%; text-align: center; color: white;">
                <h3 translate="PLAYER_NO_FAVORITES"></h3>
            </div>
            <div ng-if='noFiltered' style="width: 100%; text-align: center; color: white;">
                <h3 translate="PLAYER_NO_FILTERED_CHANNELS"></h3>
            </div>

            <!--  -->
            <div id="userGuide" class="user-guide-panel">
                <div ng-show="programming.length > 0" class="position-div user-guide" infinite-scroll='loadMore()' infinite-scroll-distance='1' infinite-scroll-immediate-check='false' infinite-scroll-parent="true">
                        <div id="channelGuideLogo" class="image-lineup">
                            <div id="image-logos" ng-repeat="programs in programming" class="channel-description">
                                <div class="logo-detail" ng-click="watchNow(programs.id, this);" title="{{::programs.channelTitle}}" style="cursor: pointer; background: #FFF url({{::programs.logo}}) 50% no-repeat; background-size:contain"></div>
                            </div>
                        </div>
                        <div class="horizontal-scroll horizontal-bottom sync-scroll">
                            <div id="channelGuideDescription" ng-repeat="programs in programming" class="channel-description">
                                <div class="show-detail" ng-if="::programs.lineUp.length === 0" title="{{::show.dropdownInfo}}" style="width: 1800px; border-right: 1px solid #000033">
                                    <p style="text-align: left;"><span class="channel-details-body" translate="PLAYER_NOT_AVAILABLE"></span></p>
                                </div>
                                <div class="show-detail" title="{{::show.dropdownInfo}}" ng-repeat="show in programs.lineUp" style="width: {{::show.length * 5}}px; border-right: 1px solid #000033">
                                    <div ng-if="::show.title !== null">
                                        <p style="text-align: left;"><span class="channel-details-body">{{::show.title}}</span></p>
                                        <p style="text-align: left;"><span class="channel-details-body" ng-if="::show.startHour !== undefined">{{::show.startHour}} - {{::show.endHour}}</span></p>
                                    </div>
                                    <div ng-if="::show.title === null">

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
     <!--special use case footer that will not interfere with epg-->

        <!--<div class="legal-container"  ng-show="channelsLoaded">-->

            <!--<div class="menu-legal-nav-container container">-->
                <!--<ul id="menu-legal-nav" class="menu">-->
                    <!--<li class=""><a href ng-click="goToWordPressUrl('WP_URL_TOUS')" translate="MENU_LABEL_TERMS_OF_SERVICE"></a></li>-->
                    <!--<li class=""><a href ng-click="goToWordPressUrl('WP_URL_PRIVACY_POLICY')" translate="COMP_SIGN_UP_PRIVACY_POLICY"></a></li>-->
                    <!--<li class=""><a href ng-click="goToWordPressUrl('WP_URL_END_USER')" translate="MENU_LABEL_END_USER"></a></li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div class="container">-->
                <!--<p class="legal-p">-->
                    <!--Copyright &copy; 2016 YipTV &#8211; Watch Live Internet TV &amp; Spanish Channels Online.Use of the YipTV Service and this website constitutes acceptance of our terms of service and privacy policy.-->
                <!--</p>-->
                <!--<p class="legal-p">-->
                    <!--* Offer applies only to the first month of Premium Service and will be applied one-time only per new customer. This one dollar ($1) promotion cannot be combined with any other offer or promotion for the YipTV Premium Service. This is a limited offer, available only one-time to new customers subscribing to YipTV’s Premium Service.-->
                <!--</p>-->
            <!--</div>-->

        <!--</div>-->

</div>



