<div class="content-area">
    <div class="content-box">
        <div class="container">
            <div class="form-box">
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="RESET_PASSWORD_HEADING"></h2></div>
                </div>
                <form name="form" id="form" ng-submit="resetPassword()" novalidate>
                    <br>
                    <span class="label-text" translate="RESET_PASSWORD_PIN"></span><br>
                    <input autofocus required autocomplete="off" id="resetPasswordPin" name="resetPasswordPin" ng-pattern="/^[0-9]{4}$/" ng-model="mv.resetPasswordPin" maxlength="4" type="text" class="text-box" ng-class="{'text-box-error': form.resetPasswordPin.$touched && form.resetPasswordPin.$invalid}">

                    <div class="error-message" ng-show="form.resetPasswordPin.$touched && form.resetPasswordPin.$error.required" translate="RESET_PASSWORD_PIN_REQUIRED"></div>
                    <div class="error-message" ng-show="form.resetPasswordPin.$touched && form.resetPasswordPin.$error.pattern" translate="RESET_PASSWORD_PIN_INVALID"></div>
                    <br><br>
                    <span class="label-text" translate="RESET_PASSWORD_NEW_PASSWORD"></span><br>
                    <input required complex-password ng-model="mv.newPassword" id="newPassword" name="newPassword" maxlength="20" type="password" autocomplete="off" class="text-box" ng-class="{'text-box-error': form.newPassword.$touched && form.newPassword.$invalid}">

                    <div class="error-message" ng-show="form.newPassword.$touched && form.newPassword.$error.required" translate="RESET_PASSWORD_NEW_PASSWORD_REQUIRED"></div>
                    <div class="error-message" ng-show="form.newPassword.$touched && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="RESET_PASSWORD_NEW_PASSWORD_NOT_COMPLEX"></div>
                    <div>
                        <ul class="passwordStrength" password-strength="mv.newPassword"></ul>
                    </div>
                    <br><br>

                    <button type="submit" ng-disabled="saving" class="submit-button" translate="RESET_PASSWORD_BUTTON"></button>
                </form>
            </div>
        </div>
    </div>
</div>
