<iframe height="1" width="1" frameborder="0" scrolling="no" ng-src="{{merchantTracker}}"></iframe>
<div class="content-area">
    <div class="content-box">
        <div class="container message-box">
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="SIGN_UP_SUCCESS_PAYMENT_FAILURE_HEADING"></h2></div>
            </div>
            <div class="row sign-up-success">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <br/>

                    <div><span translate="SIGN_UP_SUCCESS_PAYMENT_FAILURE_LINE1_PART1"></span></span></div>
                    <br/>
                    <br/>
                    <ul class="numbered-list">
                        <li translate="SIGN_UP_SUCCESS_PAYMENT_FAILURE_BULLET2"></li>
                        <li translate="SIGN_UP_SUCCESS_PAYMENT_FAILURE_BULLET3"></li>
                    </ul>
                    <br/>

                    <div>
                        <span translate="SIGN_UP_SUCCESS_PAYMENT_FAILURE_LINE3_PART1"></span>
                        <span ng-bind="appConfig.customerCareNumber"></span>
                        <span translate="SIGN_UP_SUCCESS_PAYMENT_FAILURE_LINE3_PART2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
