<div class="content-area">
    <div class="content-box">
        <div class="container success-box">
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-12 text-center uppercase-text bolder-text"><h2 class="header-color" translate="SIGN_UP_SUCCESS_LOGIN_HEADING"></h2></div>
            </div>
            <div class="row sign-up-success">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h3 class="bold-text" translate="SIGN_UP_SUCCESS_LOGIN_SUB_HEADING"></h3>

                    <div translate="SIGN_UP_SUCCESS_LOGIN_LINE1"></div>
                    <br/>

                    <div><span translate="SIGN_UP_SUCCESS_LOGIN_LINE2_PART1"></span> <a href ng-click="goToWordPressUrl('WP_URL_FAQS')" translate="SIGN_UP_SUCCESS_LOGIN_FAQS"></a> <span translate="SIGN_UP_SUCCESS_LOGIN_LINE2_PART2"></span> <span ng-bind="appConfig.customerCareNumber"></span></div>
                    <br/>

                    <h4 translate="SIGN_UP_SUCCESS_LOGIN_LINE3"></h4>
                    <br/>

                    <div class="row">
                        <div class="col-md-3 col-sm-3 text-center">
                            <a href="https://itunes.apple.com/us/app/yiptv-live-tv-for-international/id972197370?mt=8"><img class="img-responsive app-link" src="images/app-store.png"/></a>
                        </div>
                        <div class="col-md-3 col-sm-3 text-center">
                            <a href="https://play.google.com/store/apps/details?id=com.yiptv.android.client3"><img class="img-responsive app-link" src="images/google-play.png"/></a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button goto="/sign-in"><img class="img-responsive col-xs-12" style="padding:0px" src="images/pages/{{language}}/button-login-watch-now-purple.png"/></button>
                        </div>
                    </div>

                    <h3 class="bold-text" style="color:#7732A9" translate="SIGN_UP_SUCCESS_LOGIN_LINE4"></h3>
                    <ul>
                        <li translate="SIGN_UP_SUCCESS_LOGIN_BULLET1"></li>
                        <li translate="SIGN_UP_SUCCESS_LOGIN_BULLET2"></li>
                        <li translate="SIGN_UP_SUCCESS_LOGIN_BULLET3"></li>
                        <li translate="SIGN_UP_SUCCESS_LOGIN_BULLET4"></li>
                    </ul>
                    <br/>
                    <br/>

                    <div class="bold-text text-center"><h3><span translate="SIGN_UP_SUCCESS_LOGIN_QUESTIONS"></span> <span ng-bind="appConfig.customerCareNumber"></span></h3></div>
                </div>
            </div>
        </div>
    </div>
</div>
