<div id="chnlMenuHldr" class="usrPrefsPnl" data-ng-controller='playerCtrl'>
    <!-- /// === user channels - btm half of the nav banner === /// -->
    <channel-expander data-ng-show=isVisible>here i am</channel-expander>
    
    <div id="chnlMenu" class="usr_Prfl_n_Chnls">
        <ul>
            <li data-ng-repeat="chnl in channels" data-ng-click="chnlClicked($index);">
                <img ng-src="{{chnl.image_url}}" data-ng-mouseover="chnlHover($index);"/>
                <div id="quickLook" class="quickLookBox" data-ng-show="($index === chnlHovered) ? true : false">
                    <channel-hover></channel-hover>
                </div>
            </li>
        </ul>
    </div>	
</div>