<div class="usr_Prefs_pnl" data-ng-controller='homePrefsCtrl'>
		
	<div class="logoBox posNlne"><img src="img/nlogo.png" /></div>
	<div class="usr_Prefs posNlne">
		
		<!-- /// === user data - top half of the nav banner === /// -->
		<div class="usr_Prfl_n_Data">
			<div class="usr_Prfl posNlne">
				<div class="usr_Prfl_nfo">
					<div class="usr_time posNlne">10:30</div><div class="usr_PrflName posNlne"><span class="">{{usrData[0].usremail}}</span></div>
				</div>
				<div class="usr_prfl_btn"><span>profile</span> | <span>billing</span></div>
			</div>
			<div class="usr_alrtData posNlne"><span>event/alert</span><span><p style="font-size:100%">{{usrData[0].usrmessage}}</p></span></div>
		
		</div>
		
	
		<!-- /// === user channels - btm half of the nav banner === /// -->
		<div class="usr_Prfl_n_Chnls">
			<ul>
				<li data-ng-repeat="chnls in usrPrfrdChnls"><img ng-src="{{chnls.chnl}}" /></li>
			</ul>
		</div>
	
	
	</div>
	
</div>