<div id="scrns" class="ease scrnsMaximized" access-level="accessLevels.user" data-ng-include="usrDataFile.cntnt"></div>
<div id="chnls" access-level="accessLevels.user" data-ng-include="usrDataFile.chnls"></div>
<div id="guide" access-level="accessLevels.user" data-ng-include="usrDataFile.guide"></div>

<div access-level="accessLevels.anon" data-ng-include="content.banners"></div>
<div access-level="accessLevels.anon" data-ng-include="content.shows"></div>
<div access-level="accessLevels.anon" data-ng-include="content.download"></div>
<div access-level="accessLevels.anon" data-ng-include="content.footer"></div>