<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="TOUS_HEADING">TERMS OF USE/SERVICE ("TOUS")</span></h1>

        <div class="container">
            <div class="about-us">

                <div class="about-desc">

                    <div class="about-text" translate="TOUS_DATE"></div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER1"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA1">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA2">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER2"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA3">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER3"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA4">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA5">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA6">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA7">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA8">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA9">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA10">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA11">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA12">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA13">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA14">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA15">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER4"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA16">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA17">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA18">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA19">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA20">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA21">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA22">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER5"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA23">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER6"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA24">
                    </div>
                    <br>

                    <ul class="content-list align-text">
                        <li translate="TOUS_PARA24_BULLET1">violates the rights of others, including patent, trademark, trade secret, copyright, privacy, publicity, or other proprietary rights;</li>
                        <li translate="TOUS_PARA24_BULLET2">uses technology or other means to access, index, frame or link to the Services that is not authorized by us in writing (including by removing, disabling, bypassing, or circumventing any content protection or access control mechanisms intended to prevent the unauthorized download, stream capture, linking, framing, reproduction, access to, or distribution of the Services);</li>
                        <li translate="TOUS_PARA24_BULLET3">involves accessing the Services through any automated means such as “robots,” “spiders,” “scraper” or “offline readers” (other than by individually performed searches on publicly accessible search engines for the sole purpose of, and solely to the extent necessary for, creating publicly available search indices - but not caches or archives - of the Services and excluding those search engines or indices that host, promote, or link primarily to infringing or unauthorized content);</li>
                        <li translate="TOUS_PARA24_BULLET4">results in the viewing of programming in areas open to the public or in commercial establishments or in the rebroadcasting, transmitting or performance of the programming, charging admission for its viewing or transmitting or distributing running accounts of it or violating any additional public performance limitations;</li>
                        <li translate="TOUS_PARA24_BULLET5">uses, transfers, distributes, or disposes of any information contained in the Services in any manner that could compete with the business of YIPTV or any of its affiliates;</li>
                        <li translate="TOUS_PARA24_BULLET6">results in the sending of spam or unsolicited mailings or in the harvesting of information about users for the purpose of sending spam or unsolicited mailings;</li>
                        <li translate="TOUS_PARA24_BULLET7">introduces viruses or any other computer code, files, or programs that interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
                        <li translate="TOUS_PARA24_BULLET8">damages, disables, overburdens, impairs, or gains unauthorized access to the Services, including our servers, computer network, or user accounts;</li>
                        <li translate="TOUS_PARA24_BULLET9">attempts to gain unauthorized access to, interfere with, damage or disrupt any part of the Services, the server on which the Services is stored, or any server, computer or database connected thereto; </li>
                        <li translate="TOUS_PARA24_BULLET10">attacks the Services via a denial-of-service attack or a distributed denial-of-service attack;</li>
                        <li translate="TOUS_PARA24_BULLET11">removes, modifies, disables, blocks, obscures or otherwise impairs any advertising in connection with the Services;</li>
                        <li translate="TOUS_PARA24_BULLET12">inserts any code or manipulates the YIPTV Services in any way;</li>
                        <li translate="TOUS_PARA24_BULLET13">conducts data extractions or data mining of the Services;</li>
                        <li translate="TOUS_PARA24_BULLET14">uses the Services to advertise or promote services that are not expressly approved in advance in writing by us;</li>
                        <li translate="TOUS_PARA24_BULLET15">collects personally identifying information in violation of our Privacy Policy;</li>
                        <li translate="TOUS_PARA24_BULLET16">encourages conduct that would constitute a criminal offense or give rise to civil liability;</li>
                        <li translate="TOUS_PARA24_BULLET17">violates these TOUS or any guidelines or policies posted by us;</li>
                        <li translate="TOUS_PARA24_BULLET18">interferes with any other party's use and enjoyment of the Services; or</li>
                        <li translate="TOUS_PARA24_BULLET19">attempts to do any of the foregoing.</li>
                    </ul>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER7"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA25">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER8"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA26">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA27">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA28">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER9"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA29">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA30">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA31">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA32">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER10"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA33">
                    </div>
                    <br>

                    <div class="tous-address" translate="TOUS_ADDRESS">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA34">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER11"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA35">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA36">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA37">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA38">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA39">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA40">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA41">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA42">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA43">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA44">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA45">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER12"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA46">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA47">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA48">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA49">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA50">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA51">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA52">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER13"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA53">
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
