.navbar-default {
    background-color: transparent;
    width: 100%;
}

.open > .dropdown-menu {
    min-width: 100%;
}

.menu {
    width: 100%;
    font-weight: bold;
}

#channelFilterHolder {
    .filtered-channels-count {
        span {
            float: left;
        }
    }
}

#menuBar {
    .navbar-header{
        max-width: 60%;
        min-width: 370px;
    }
    .navbar{
        ul.nav.pull-right{
            padding-top: 19px;
        }
    }
    #programInfo {
        z-index: 10;
        display:inline-block;
        margin-left: 175px;
        margin-top: 10px;
        background: transparent;
        float:left;
        position: absolute;
    }
    .epg-controls{
        span {
            padding-left: 9px;
            padding-right: 9px;
            cursor: pointer;
            top: 19px;
            color: white;
        }
    }
    #currentChannel {
        img {
            height: 60px;
            padding-left: 25px;
            position: absolute;
            z-index: 3;
        }
        background-color: rgba(255,255,255,0.85);
        //width: 70px;
    }
    .entire-description {
        margin-left: 10px;
        background-color: $grey;
        width: 350px;
        z-index: 35;
        border-radius: 4px;
        border: 1px solid black;
    }
    .entire-title {
        margin-left: 10px;
        width: 300px;
        z-index: 35;
        background-color: $grey;
        border-radius: 4px;
        border: 1px solid black;
    }
}

#title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 17px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #8339B2;
    cursor: default;
}

#description {
    white-space: nowrap;
    height: 25px;
    text-align: left;
    overflow: hidden;
    text-overflow: clip;
    line-height: 25px;
    color: #8339B2;
    vertical-align: middle;
    font-size: 10px;
    cursor: default;
}

#filter {
    img {
        top: 19px;
        width: 20px;
        height: 20px;
    }
}

#favorite {
    //width:5%;
    height:40px;
    float: left;
    margin-left: 141px;
    margin-right: 10px;
    padding-top:18px;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
    background: transparent;
    z-index: 3;
    position: absolute;
}

.label-filer {
    margin-bottom: 0px;
    cursor: pointer;
}

#currentChannel img {
    max-width: 140px;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 10px;
    margin-right: 1px;
    width: 19.5%;
}

.checkbox {
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0px 0px 0px 0px;
    margin: 0px 15px 5px 0px;
    background: url(../images/checkbox.png) no-repeat;
    border: 0px solid #FFFFFF;
    display: block;
    clear: left;
    float: left;
}

#channelFilterHolder {
    margin-top: 10px;
    background-color: rgba(55, 55, 55, 0.9);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.channel-filter-categories {
    background-color: #333;
    padding: 5px;
    color: #fff;
    margin-top: 10px;
    margin-left: -20px;
    display: inline-block;
}

.filter-categories {
    width: 350px;
}

#channelFilterHolder .panel-heading {
    background: rgba(200, 200, 200, 0.80);
    padding: 2px 5px;
}

#channelFilterHolder .panel-default, #channelFilterHolder .panel {
    border-radius: 0;
}

#channelFilterHolder .panel-title {
    font-size: 100%;
    font-weight: bolder;
}

#channelFilterHolder .panel-body {
    padding: 5px;
    color: #fff;
}

.panel-body-left {
    width: 165px;
    margin-left: -10px;
    display: inline-block;
    float: left;
}

.panel-body-right {
    width: 185px;
    display: inline-block;
    float: left;
}

.filter-repeat {
    text-align: left;
}

#channelFilterHolder .panel-body input[type="checkbox"] {
    display: inline-block !important;
    margin-right: 5px;
}

#channelFilterHolder .panel-collapse {
    border: 1px solid #ddd;
    width: 350px;
    display: inline-block;
}

.channel-filters {
    margin-right: 10px;
    margin-top: 5px;
}

#filterClearAll {
    float: left;
    margin-top: -10px;
    margin-left: 10px;
}

#filterClose {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}

.panel-group .panel + .panel {
    margin-top: 0px !important;
}

#navBar {
    width: 100%;
    height: 34px;
    clear: both;
    display: block;
    position: absolute;
    background: transparent;
    color: rgba(0, 0, 0, 0);
}

.navbar-default {
    .navbar-toggle {
        border-width: 2px;
    }
}

.close-btn {
    width: auto;
    height: auto;
    position: relative;
    cursor: pointer;
    left: -1px;
    bottom: 125px;
    padding: 8px 23px;
    border: thin solid rgb(200, 200, 200);
    border-bottom: none;
    border-radius: 0px;
    border-top-right-radius: 4px;
    box-shadow: 1px -2px 5px #444;
    text-transform: uppercase;
}

.filter-close-btn {
    width: auto;
    height: auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block !important;
    padding: 8px 23px;
    border: thin solid rgb(200, 200, 200);
    border-bottom: none;
    border-left: none;
    border-radius: 0px;
    border-top-right-radius: 4px;
    box-shadow: 1px -2px 5px #444;
    text-transform: uppercase;
    z-index: 1;
}

#channelMenuHolder {
    background: transparent;
    height: 57px;
    width: 100%;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

#menuBar {
    height: 40px;
    width: 100%;
    background: transparent;
}

#currentChannel {
    //width: 175px;
    height: 40px;
    text-align: center;
    float: left;
    display: inline-block;
    margin-left: 1px;
    background: transparent;
}

.paid-tv .position-div {
    display: inherit;
}

.collapse.navbar-collapse.in {
    z-index: 25;
}

.navbar-toggle {
    margin-top: 1px;
}

.navbar-default .navbar-toggle {
    border-width: 2px;
}

@media screen and (max-width: 415px) {
    #navBar {
        width: 100%;
        height: 34px;
        clear: both;
        display: block;
        position: absolute;
        background: rgba(254, 254, 254, .95);
        color: rgba(62, 25, 77, .94);
        border-bottom: solid 1px lightgrey;
    }
}


#channelMenuGray{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#channelMenuWhite{
    position: absolute;
    height: 57px;
    width: 168px;;
    z-index: 1;
}

#channelMenuBlue{
    position: relative;
    height: 57px;
    //width: 250px;
    z-index: 0;
    float: right;
}
