.toast-error {
    background-color: #D43F3A;
}

.toast-success {
    background-color: #1CAF9A;
}

.toast-warning {
    background-color: #412c89;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

