<div id="Abt_Bx" class="usr_Menu_pnl mnuShdw cntntBxBck">
    <div class='pg5_chnls col-lg-12'>
        <h3 class='pg5_title' translate="ABOUT_YIPTV_HEADING"></h3>
    </div>
    <div id='abtCntnt' class='jumbotron'>
        <div id="abtCopy" class='container'>
            <aside class='abt_left'>
                <article>
                    <p translate="ABOUT_YIPTV_PARA1">
                    </p>

                    <p translate="ABOUT_YIPTV_PARA2">
                    </p>

                    <p translate="ABOUT_YIPTV_PARA3">
                    </p>
                </article>
            </aside>

            <aside class='abt_right'>
                <article>
                    <h4 translate="ABOUT_YIPTV_HEADER1"></h4>

                    <p translate="ABOUT_YIPTV_PARA4">
                    </p>
                </article>
                <article>
                    <h4 translate="ABOUT_YIPTV_HEADER2"></h4>

                    <p translate="ABOUT_YIPTV_PARA5">
                        <br/>
                    </p>
                </article>
            </aside>
        </div>
    </div>
</div>
