<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="ABOUT_US_HEADING">About Us</span></h1>

        <div class="container">
            <div class="about-us">
                <div class="about-us-header" translate="ABOUT_US_HEADER1">About YipTV</div>
                <br>
                <br>

                <div class="about-desc align-text" translate="ABOUT_US_PARA1">
                    YipTV, Inc, is a privately held US-based company that provides low cost live TV, including domestic and international channels. YipTV is currently licensed to carry 100’s of channels in multiple languages. You watch YipTV your way, on televisions, tablets, computers and smartphones and most other internet-enabled devices. We send your signal to you via the public internet, which saves us money. We pass that savings back to you.
                </div>
                <br>
                <br>

                <div class="about-desc align-text" translate="ABOUT_US_PARA2">
                    YipTV is the 4th generation service that meets the entertainment needs of today’s TV viewers. YipTV’s management team has over 150 years of experience offering iconic web based consumers’ products from companies such as Vonage, IDT, and Dialpad. Basically we have a lot of grey haired experience to provide you with world class service and support.
                </div>
                <br>
                <br>

                <div class="about-desc align-text" translate="ABOUT_US_PARA3">
                    YipTV’s live, low cost television service that will be available to customers nationwide. Focused on delivering International local language live sports, lifestyle, family, news and information channels. YipTV is a top content provider for recent arrivals to the USA, as well as native citizens. YipTV service works with all broadband-connected devices at home and smart mobile phones for one low monthly price. No commitments, contracts, credit checks or hardware installations are required.
                </div>
                <br>
                <br>

                <div class="about-us-header" translate="ABOUT_US_HEADER2">What to watch on YipTV</div>
                <br>
                <br>

                <div class="about-desc align-text" translate="ABOUT_US_PARA4">
                    YipTV’s provides well-known but also difficult to find live international TV channels in a variety of genres including news, sports, lifestyle, family and general entertainment. We distribute unique channels that are tough to find elsewhere like ClubbingTV, Azteca, TV Chile, Tela Fe, Cubaplay, RT, and many more. YipTV subscribers also get unique content from around the globe via aggregate web feeds combining a variety of content options into one consistent YipTV App experience. YipTV expects to expand its live TV channels, Video-On-Demand content, and online web streaming
                    TV throughout 2015.
                </div>
                <br>
                <br>

                <div class="about-us-header" translate="ABOUT_US_HEADER3">Where to watch YipTV</div>
                <br>
                <br>

                <div class="about-desc align-text" translate="ABOUT_US_PARA5">
                    YipTV’s user interface provides a consistent experience across all platforms which subscribers can access by downloading the YipTV app to supported versions of iOS and Android, or by visiting the YipTV website from Macs and PCs. Alternatively, the YipTV app is expected to be available on other streaming devices and smart TVs to follow in the coming months of 2015.
                </div>
                <br>
                <br>

                <div class="about-us-header" translate="ABOUT_US_HEADER4">How YipTV works</div>
                <br>
                <br>

                <div class="about-desc align-text" translate="ABOUT_US_PARA6">
                    YipTV is designed to deliver a high-quality television experience anywhere a wired, Wi-Fi or mobile broadband connection is available. For you techies, the YipTV service is delivered over an IP-based content delivery system that leverages adaptive bitrate streaming technology. For you non-techies, our services works via apps on broadband devices such as your phone, laptop, tablet, PC and smart TV’s.   This allows for the highest quality streaming experience possible regardless of network quality fluctuations or location. Customers can pause, rewind and fast-forward most live channels and Video-On-Demand content. For certain channels, the service includes a replay feature that lets customers watch some shows that have aired in the past without a Digital Video Recorder.
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
