<div id="aboutBox" class="usr_Menu_pnl box-shadow content-background">
    <div class='about-yiptv col-lg-12'>
        <h3 class='about-yiptv-title' translate="ABOUT_YIPTV_HEADING"></h3>
    </div>
    <div class="jumbotron">
        <div class="container">
            <aside class='about-yiptv-left-column'>
                <article>
                    <p translate="ABOUT_YIPTV_PARA1">
                    </p>

                    <p translate="ABOUT_YIPTV_PARA2">
                    </p>

                    <p translate="ABOUT_YIPTV_PARA3">
                    </p>
                </article>
            </aside>

            <aside class='about-yiptv-right-column'>
                <article>
                    <h4 translate="ABOUT_YIPTV_HEADER2"></h4>

                    <p translate="ABOUT_YIPTV_PARA5">
                    </p>
                </article>
                <article>
                    <h4 translate="ABOUT_YIPTV_HEADER3"></h4>

                    <p translate="ABOUT_YIPTV_PARA6">
                        <br/>
                    </p>
                </article>
            </aside>
        </div>
    </div>
</div>
