<div class="content-area">
    <div class="about-box">
        <h1><span translate="ABOUT_US_HEADING">ABOUT US</span></h1>

        <div class="container">
            <div class="about-us">
                <div class="about-desc align-text" translate="ABOUT_US_DESCRIPTION">
                    YipTV is changing the way Americans watch TV. We use broadband internet connections to bring more choices to consumers at a lower price than they’ve come to expect. We have an impressive collection of technologies that matches the lifestyles and needs of the modern US consumer. We set out to build a company that people liked, and the verdict is in. People love YipTV! So whether you watch TV or provide the content that people watch, you can look forward to an easy, hassle free experience that will change the way you look at other providers in our industry.
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
