<div class="contentarea">
    <div class="setting-box1">
        <h1><span translate="ACCOUNT_HEADING">Account</span></h1>

        <div class="container">
            <div class="signin-box">
                <div class="frm-btn">
                    <button class="btn-submit" goto="/change-password" type="button" translate="ACCOUNT_CHANGE_PASSWORD">Change Password</button>
                </div>
                <div class="frm-btn">
                    <button class="btn-submit" goto="/change-credit-card" type="button" translate="ACCOUNT_CHANGE_CREDIT_CARD">Change Credit Card</button>
                </div>
                <div class="frm-btn">
                    <button class="btn-submit" goto="/under-construction" type="button" translate="ACCOUNT_UPGRADE_SUBSCRIPTION">Upgrade Subscription</button>
                </div>
                <div class="frm-btn">
                    <button class="btn-submit" goto="/under-construction" type="button" translate="ACCOUNT_CANCEL_SUBSCRIPTION">Cancel Subscription</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
