<div class="content-area">
    <div class="user-home-box">
        <div class="user-home-wrap">
            <img src="img/banner4.jpg" alt="...">

            <div class="caption">
                <div style="position:relative;margin: 0 auto">
                    <button goto="/change-password" type="button" translate="ACCOUNT_CHANGE_PASSWORD">Change Password</button>
                    <br>
                    <button ng-show="user.type === 'paid' && user.status === 'active'" goto="/change-credit-card" type="button" translate="ACCOUNT_CHANGE_CREDIT_CARD">Change Credit Card</button>
                    <br ng-show="user.type === 'paid' && user.status === 'active'">
                    <button ng-show="user.type === 'free' && (user.status === 'active' || user.status === 'trial-ended')" goto="/upgrade-subscription" type="button" translate="ACCOUNT_UPGRADE_SUBSCRIPTION">Upgrade Subscription</button>
                    <br ng-show="user.type === 'free' && (user.status === 'active' || user.status === 'trial-ended')">
                    <button ng-show="user.type === 'paid' && user.status === 'canceled'" goto="/reactivate-subscription" type="button" translate="ACCOUNT_REACTIVATE_SUBSCRIPTION">Re-activate Subscription</button>
                    <br ng-show="user.type === 'paid' && user.status === 'canceled'">
                    <button ng-show="user.type === 'paid' && user.status === 'active'" ng-disabled="saving" ng-click="cancelSubscription()" type="button" translate="ACCOUNT_CANCEL_SUBSCRIPTION">Cancel Subscription</button>
                    <br ng-show="user.type === 'paid' && user.status === 'active'">
                    <button goto="/contact-us" type="button" translate="ACCOUNT_CONTACT_US">Contact Us</button>

                </div>
            </div>
        </div>
    </div>
</div>
