<div class="content-area">
    <div class="content-box">
        <h1><span translate="ADMIN_CHANGE_PASSWORD_HEADING"></span></h1>

        <div class="container">
            <div class="form-box">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <form name="form" id="form" ng-submit="changePassword()" novalidate>
                    <span class="label-text" translate="ADMIN_CHANGE_PASSWORD_EMAIL"></span><br>
                    <input autofocus name="email" is-email id="email" maxlength="50" autocomplete="off" type="text" class="text-box" ng-model="mv.email" required ng-class="{'text-box-error': form.email.$dirty && form.email.$invalid}"/>

                    <div ng-show="form.email.$dirty && form.email.$error.required" class="error-message" translate="ADMIN_CHANGE_PASSWORD_EMAIL_REQUIRED"></div>
                    <div ng-show="form.email.$dirty && !form.email.$error.required && form.email.$error.isEmail" class="error-message" translate="ADMIN_CHANGE_PASSWORD_EMAIL_INVALID"></div>
                    <br><br>
                    <span class="label-text" translate="ADMIN_CHANGE_PASSWORD_NEW_PASSWORD"></span><br>
                    <input required complex-password ng-model="mv.newPassword" id="newPassword" name="newPassword" maxlength="20" type="text" autocomplete="off" class="text-box" ng-class="{'text-box-error': form.newPassword.$dirty && form.newPassword.$invalid}">

                    <div class="error-message" ng-show="form.newPassword.$dirty && form.newPassword.$error.required" translate="ADMIN_CHANGE_PASSWORD_NEW_PASSWORD_REQUIRED"></div>
                    <div class="error-message" ng-show="form.newPassword.$dirty && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="ADMIN_CHANGE_PASSWORD_NEW_PASSWORD_NOT_COMPLEX"></div>
                    <br><br><br>

                    <button type="submit" ng-disabled="saving" class="submit-button" translate="ADMIN_CHANGE_PASSWORD_BUTTON"></button>
                </form>
            </div>

        </div>
    </div>
</div>
