<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="ADMIN_CHANGE_PASSWORD_HEADING">Change Password</span></h1>

        <div class="container">
            <div class="sign-in-box">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <form name="form" id="form" ng-submit="changePassword()" novalidate>
                    <span class="label-text" translate="ADMIN_CHANGE_PASSWORD_EMAIL">Email</span><br>
                    <input autofocus name="email" is-email id="email" maxlength="50" autocomplete="off" type="text" class="txtbox2" ng-model="mv.email" required ng-class="{'txtbox-error': form.email.$dirty && form.email.$invalid}"/>

                    <div ng-show="form.email.$dirty && form.email.$error.required" class="error-msg" translate="ADMIN_CHANGE_PASSWORD_EMAIL_REQUIRED">Enter your email</div>
                    <div ng-show="form.email.$dirty && !form.email.$error.required && form.email.$error.isEmail" class="error-msg" translate="ADMIN_CHANGE_PASSWORD_EMAIL_INVALID">Enter a valid email</div>
                    <br><br>
                    <span class="label-text" translate="ADMIN_CHANGE_PASSWORD_NEW_PASSWORD">New Password</span><br>
                    <input required complex-password ng-model="mv.newPassword" id="newPassword" name="newPassword" maxlength="20" type="text" autocomplete="off" class="txtbox1" ng-class="{'txtbox-error': form.newPassword.$dirty && form.newPassword.$invalid}">

                    <div class="error-msg" ng-show="form.newPassword.$dirty && form.newPassword.$error.required" translate="ADMIN_CHANGE_PASSWORD_NEW_PASSWORD_REQUIRED">Enter your password</div>
                    <div class="error-msg" ng-show="form.newPassword.$dirty && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="ADMIN_CHANGE_PASSWORD_NEW_PASSWORD_NOT_COMPLEX">Password needs to be at least 8 characters, contain 1 uppercase & 1 lowercase letter, 1 number & 1 special character</div>
                    <br><br><br>

                    <button type="submit" ng-disabled="saving" class="btn-submit" translate="ADMIN_CHANGE_PASSWORD_BUTTON">Submit</button>
                </form>
            </div>

        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
