<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="ADMIN_HEADING">Admin</span></h1>

        <div class="container">
            <div class="sign-in-box">
                <button goto="/admin/user-details" type="button" class="btn-submit" translate="ADMIN_USER_DETAILS">User Details</button>
                <br><br>
                <button goto="/admin/change-password" type="button" class="btn-submit" translate="ADMIN_CHANGE_PASSWORD">Change Password</button>
                <br><br>
                <button goto="/admin/all-users" type="button" class="btn-submit" translate="ADMIN_ALL_USERS">All Users</button>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>




