<div class="content-area">
    <div class="content-box">
        <h1><span translate="ADMIN_HEADING"></span></h1>

        <div class="container">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="form-box">
                <button goto="/admin/user-details" type="button" class="submit-button" translate="ADMIN_USER_DETAILS"></button>
                <br><br>
                <button goto="/admin/change-password" type="button" class="submit-button" translate="ADMIN_CHANGE_PASSWORD"></button>
                <br><br>
                <button goto="/admin/all-users" type="button" class="submit-button" translate="ADMIN_ALL_USERS"></button>
            </div>
        </div>
    </div>
</div>




