<div id="bannerBox" class="banners-panel content-background" banner-resize>
    <div class='jumbotron'>
        <div class="banner">
            <div class="banner-wrap">
                <div id="carouselBanner" class="carousel slide" bootstrap-carousel interval="9000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_DESKTOP">
								<img src="../images/banners/desktop/en/desktop-1.jpg" usemap="#map1" alt="tablet Image">
								<map name="map1" id="map1">
								    <area alt="" title="" href="/sign-up/paid" shape="poly" coords="1035, 309, 1292, 381" />
								</map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_DESKTOP">
                                <img src="../images/banners/desktop/en/desktop-2.jpg" usemap="#map2" alt="tablet Image">
                                <map name="map2" id="map2">
                                    <area alt="" title="" href="/sign-up/paid" shape="poly" coords="1035, 309, 1292, 381" />
                                </map>
                            </div>
                        </li>
						<!-- /// DO NOT REMOVE, TO BE REINTEGRATED LATER /// -->
                        <!-- li class="item">
                            <div translate="BANNER_3_DESKTOP">
                                <img src="../images/banners/desktop/en/desktop-3.jpg" usemap="#map3" alt="tablet Image">
                                <map name="map3" id="map3">
                                    <area shape="rect" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" coords="244, 270, 411, 335"/>
                                    <area shape="rect" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" coords="69, 272, 240, 335"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_DESKTOP">
                                <img src="../images/banners/desktop/en/desktop-4.jpg" usemap="#map4" alt="tablet Image">
                                <map name="map4" id="map4">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="46, 215, 309, 297"/>
                                </map>
                            </div>
                        </li -->
                    </ul>

                    <ol class="carousel-indicators">
                        <li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselBanner" data-slide-to="1"></li>
                        <!-- /// DO NOT REMOVE, TO BE REINTEGRATED LATER /// -->
					    <!-- li data-target="#carouselBanner" data-slide-to="2"></li>
                        <li data-target="#carouselBanner" data-slide-to="3"></li -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
