<div id="Bnr_Bx" class="usr_Scrns_pnl cntntBxBck mbl">
    <div class='jumbotron'>
        <div class="banner">
            <div class="banner-wrap">
                <div id="carousel-banner" class="carousel slide mbl_bnr_P" bootstrap-carousel interval="4000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-1.jpg" usemap="#Map1" alt="beIN_MobilePort">
                                <map name="Map1P" id="Map1P">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="6, 138, 192, 296"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-2.jpg" usemap="#Map2" alt="Download_MobilePort">
                                <map name="Map2P" id="Map2P">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="5, 216, 357, 294"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-3.jpg" usemap="#Map3" alt="Unbeat_MobilePort">
                                <map name="Map3P" id="Map3P">
                                    <area alt="" title="" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" shape="rect" coords="186, 85, 357, 296"/>
                                    <area alt="" title="" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" shape="rect" coords="7, 89, 182, 294"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-4.jpg" usemap="#Map4" alt="Free7_MobilePort">
                                <map name="Map4P" id="Map4P">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="5, 227, 357, 313"/>
                                </map>
                            </div>
                        </li>
                    </ul>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-banner" data-slide-to="1"></li>
                        <li data-target="#carousel-banner" data-slide-to="2"></li>
                        <li data-target="#carousel-banner" data-slide-to="3"></li>
                    </ol>
                </div>

                <div id="carousel-banner" class="carousel slide mbl_bnr_L" bootstrap-carousel interval="4000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-1.jpg" usemap="#Map1" alt="beIN_MobilePort">
                                <map name="Map1L" id="Map1L">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="16, 198, 635, 332"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-2.jpg" usemap="#Map2" alt="Download_MobilePort">
                                <map name="Map2L" id="Map2L">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="9, 173, 266, 329"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-3.jpg" usemap="#Map3" alt="Unbeat_MobilePort">
                                <map name="Map3L" id="Map3L">
                                    <area alt="" title="" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" shape="rect" coords="320, 185, 527, 330"/>
                                    <area alt="" title="" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" shape="rect" coords="85, 191, 317, 328"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-4.jpg" usemap="#Map4" alt="Free7_MobilePort">
                                <map name="Map4L" id="Map4L">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="397, 204, 636, 335"/>
                                </map>
                            </div>
                        </li>
                    </ul>

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-banner" data-slide-to="1"></li>
                        <li data-target="#carousel-banner" data-slide-to="2"></li>
                        <li data-target="#carousel-banner" data-slide-to="3"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
