<div id="bannerBox" class="banners-panel content-background">
    <div class='jumbotron'>
        <div class="banner">
            <div class="banner-wrap">
                <div id="carouselBanner" class="carousel slide carousel-fade" bootstrap-carousel interval="9000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_TABLET">
                            </div>
                        </li>
                    </ul>
                    <ol class="carousel-indicators">
                        <!--<li data-target="#carouselBanner" data-slide-to="0" class="active"></li>-->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
