<div id="bannerBox" class="banners-panel content-background">
    <div class='jumbotron'>
        <div class="banner">
            <div class="banner-wrap">
                <div id="carouselBanner" class="carousel slide mobile-banner-portrait" bootstrap-carousel interval="4000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_MOBILE_P">
                                <a href="http://www.yipnow.com/en/sweepstakes/">
								    <img src="../images/banners/mobile/en/mobile-portrait-1.jpg" usemap="#map1" alt="beIN_MobilePort">
                                </a>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-2.jpg" usemap="#map2" alt="Download_MobilePort">
                                <map name="map2" id="map2">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="5, 216, 357, 294"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-3.jpg" usemap="#map3" alt="Unbeat_MobilePort">
                                <map name="map3" id="map3">
                                    <area alt="" title="" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" shape="rect" coords="186, 85, 357, 296"/>
                                    <area alt="" title="" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" shape="rect" coords="7, 89, 182, 294"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_MOBILE_P">
                                <img src="../images/banners/mobile/en/mobile-portrait-4.jpg" usemap="#map4" alt="Free7_MobilePort">
                                <map name="map4" id="map4">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="5, 227, 357, 313"/>
                                </map>
                            </div>
                        </li>
                    </ul>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselBanner" data-slide-to="1"></li>
                        <li data-target="#carouselBanner" data-slide-to="2"></li>
                        <li data-target="#carouselBanner" data-slide-to="3"></li>
                    </ol>
                </div>

                <div id="carouselBanner" class="carousel slide mobile-banner-landscape" bootstrap-carousel interval="4000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_MOBILE_L">
                                <a href="http://www.yipnow.com/en/sweepstakes/">
								    <img src="../images/banners/mobile/en/mobile-landscape-1.jpg" usemap="#map1" alt="beIN_MobilePort">
                                </a>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-2.jpg" usemap="#map2" alt="Download_MobilePort">
                                <map name="map2" id="map2">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="9, 173, 266, 329"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-3.jpg" usemap="#map3" alt="Unbeat_MobilePort">
                                <map name="map3" id="map3">
                                    <area alt="" title="" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" shape="rect" coords="320, 185, 527, 330"/>
                                    <area alt="" title="" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" shape="rect" coords="85, 191, 317, 328"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_MOBILE_L">
                                <img src="../images/banners/mobile/en/mobile-landscape-4.jpg" usemap="#map4" alt="Free7_MobilePort">
                                <map name="map4" id="map4">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="397, 204, 636, 335"/>
                                </map>
                            </div>
                        </li>
                    </ul>

                    <ol class="carousel-indicators">
                        <li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselBanner" data-slide-to="1"></li>
                        <li data-target="#carouselBanner" data-slide-to="2"></li>
                        <li data-target="#carouselBanner" data-slide-to="3"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
