<div id="bannerBox" class="banners-panel content-background" banner-resize>
    <div class='jumbotron'>
        <div class="banner">
            <div class="banner-wrap">
                <div id="carouselBanner" class="carousel slide carousel-fade" bootstrap-carousel interval="9000">
                    <ul class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_DESKTOP">
                                <a href="sign-up/paid">
                                    <img src="../images/banners/desktop/en/desktop-1.jpg" alt="beIN_MobilePort">
                                </a>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_DESKTOP">
                                <a href="sign-up/paid">
                                    <img src="../images/banners/desktop/en/desktop-2.jpg" alt="beIN_MobilePort">
                                </a>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_DESKTOP">
                                <a href="sign-up/paid">
                                    <img src="../images/banners/desktop/en/desktop-3.jpg" alt="beIN_MobilePort">
                                </a>
                            </div>
                        </li>
                        <!-- /// DO NOT REMOVE, TO BE REINTEGRATED LATER /// -->
                        <!--li class="item">
                            <div translate="BANNER_4_DESKTOP">
                                <img src="../images/banners/desktop/en/desktop-4.jpg" usemap="#map4" alt="tablet Image">
                                <map name="map4" id="map4">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="46, 215, 309, 297"/>
                                </map>
                            </div>
                        </li -->
                    </ul>

                    <ol class="carousel-indicators">
                        <li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselBanner" data-slide-to="1"></li>
                        <li data-target="#carouselBanner" data-slide-to="2"></li>
                        <!-- /// DO NOT REMOVE, TO BE REINTEGRATED LATER /// -->
                        <!-- li data-target="#carouselBanner" data-slide-to="3"></li -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
