<div class="contentarea">
  <div class="setting-box1">
    <h1><span>CREDIT CARD</span></h1>
    <div class="container">
      <div class="forgot-box">
        <div class="txt-center">PLEASE RE-ENTER YOUR CREDIT CARD DETAILS</div>
        <div class="frm">
          <div class="frm-left">
            <br>CREDIT CARD NUMBER
            <br><input type="text" class="txtbox-error" >
            <span class="error-msg">INVALID CREDIT CARD</span>
          </div>
          <div class="frm-right">
            <br>CVV
            <br><input type="text" class="txtbox1" ></div>
        </div>
        <div class="frm">
          <div class="frm-left">
            EXPIRY DATE
            <br><select class="selectbox"><option>Select</option></select> <select class="selectbox1"><option>Select</option></select>
          </div>
          <div class="frm-right">
            ZIPCODE
            <br><input type="text" class="txtbox1" >
          </div>
        </div>
        <div class="frm-btn"><input type="button" value="Submit" class="btn-submit"></div>
      </div>
    </div>
  </div>
  <div class="btm-bg">&nbsp;</div>
</div>
