<div class="contentarea">
    <div class="setting-box1">
        <h1><span translate="CHANGE_PASSWORD_HEADING">Change password</span></h1>
        <div class="container">
            <div class="forgot-box">
                <form name="form" id="form" ng-submit="changePassword()" novalidate>
                    <span class="label-text" translate="CHANGE_PASSWORD_CURRENT_PASSWORD">Enter current password </span><br>
                    <input autofocus required ng-model="mv.currentPassword" name="currentPassword" type="password" class="txtbox1" >
                    <div class="error-msg" ng-show="form.currentPassword.$dirty && form.currentPassword.$error.required" translate="CHANGE_PASSWORD_CURRENT_PASSWORD_REQUIRED">Enter your password</div>
                    <br><br><span class="label-text" translate="CHANGE_PASSWORD_NEW_PASSWORD">Enter new password </span><br>
                    <input complex-password not-same-as="mv.currentPassword" ng-model="mv.newPassword" name="newPassword" maxlength="20" type="password" autocomplete="off" class="txtbox1" ng-class="{'txtbox-error': form.newPassword.$dirty && form.newPassword.$invalid}" required>
                    <div class="error-msg" ng-show="form.newPassword.$dirty && form.newPassword.$error.required" translate="CHANGE_PASSWORD_NEW_PASSWORD_REQUIRED">Enter NEW password</div>
                    <div class="error-msg" ng-show="form.newPassword.$dirty && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="CHANGE_PASSWORD_NEW_PASSWORD_NOT_COMPLEX">Password needs to be at least 8 characters, contain 1 uppercase & 1 lowercase letter, 1 number & 1 special character</div>
                    <div class="error-msg" ng-show="form.newPassword.$dirty && !form.newPassword.$error.complexity && form.newPassword.$error.notSameAs" translate="CHANGE_PASSWORD_NEW_PASSWORD_SAME">Password same as old password, enter new password</div>
                    <br><br><span class="label-text" translate="CHANGE_PASSWORD_CONFIRM_PASSWORD">Re-enter new password</span> <br>
                    <input required autocomplete="off" same-as="mv.newPassword" ng-model="mv.confirmPassword" name="confirmPassword" type="password" class="txtbox1" ng-class="{'txtbox-error': form.confirmPassword.$dirty && form.confirmPassword.$invalid}">
                    <div class="error-msg" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" translate="CHANGE_PASSWORD_CONFIRM_PASSWORD_REQUIRED">Confirm your password</div>
                    <div class="error-msg" ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$error.required && form.confirmPassword.$error.sameAs" translate="CHANGE_PASSWORD_CONFIRM_PASSWORD_NO_MATCH">Passwords do not match</div>
                    <br><br>
                    <button type="submit" class="btn-submit" translate="CHANGE_PASSWORD_BUTTON">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
