<div class="contentarea">
    <div class="setting-box">
        <h1><span translate="CHANGE_PASSWORD_SUCCESS_HEADING">Congrats!</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <p class="text-center" translate="CHANGE_PASSWORD_SUCCESS_MESSAGE">Your password has been changed successfully.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>