<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="CUSTOMER_SUPPORT_HEADING">Customer Support</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <p class="text-center" translate="CUSTOMER_SUPPORT_MESSAGE">Please contact customer support at</p>
                    <h2 class="txt-center" ng-bind="appConfig.customerCareNumber"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
