<div id="App_Bx" class="usr_Menu_pnl cntntBxBck">
    <div id='leftCntnt'>
        <div id="splash" class="">
            <h2 translate='DOWNLOAD_MOBILE_APP'></h2>
            <h6 translate='DOWNLOAD_PARA'></h6>
        </div>
        <div id="ctaBtns">
            <a id="apple" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4"><img src="images/app-store.png"/></a>
            <a id="android" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2"><img src="images/google-play.png"/></a>
        </div>
    </div>
    <div id='rightCntnt'>
        <img src="images/app-mobile.png"/>
    </div>
</div>
