<div id="downloadBox" class="usr_Menu_pnl content-background">
    <div id="leftContent">
        <div id="splash">
            <h2 translate="DOWNLOAD_MOBILE_APP"></h2>
            <h6 translate="DOWNLOAD_PARA"></h6>
			<ol>
				<li translate="DOWNLOAD_BULLET_1"></li>
				<li translate="DOWNLOAD_BULLET_2"></li>
				<li translate="DOWNLOAD_BULLET_3"></li>
			</ol>
        </div>
        <div id="downloadButtons">
            <a id="apple" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4"><img src="images/app-store.png"/></a>
            <a id="android" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2"><img src="images/google-play.png"/></a>
        </div>
		<div id="finePrint" translate="DOWNLOAD_FINE_PRINT"></div>
    </div>
    <div id='rightContent'>
        <img src="images/app-mobile.png"/>
    </div>
</div>
