<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="EULA_HEADING"></span></h1>

        <div class="container">
            <div class="about-us">

                <div class="about-desc">

                    <div class="align-text" translate="EULA_PARA1"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA2"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA3"></div>
                    <br>

                    <ul class="content-list align-text no-bullets">
                        <li translate="EULA_PARA3_BULLET1"></li>
                        <li translate="EULA_PARA3_BULLET2"></li>
                        <ul class="content-list align-text no-bullets">
                            <li translate="EULA_PARA3_BULLET2_BULLET1"></li>
                            <li translate="EULA_PARA3_BULLET2_BULLET2"></li>
                            <li translate="EULA_PARA3_BULLET2_BULLET3"></li>
                            <li translate="EULA_PARA3_BULLET2_BULLET4"></li>
                            <li translate="EULA_PARA3_BULLET2_BULLET5"></li>
                            <li translate="EULA_PARA3_BULLET2_BULLET6"></li>
                            <li translate="EULA_PARA3_BULLET2_BULLET7"></li>
                        </ul>
                    </ul>
                    <br>

                    <div class="align-text" translate="EULA_PARA4"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA5"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA6"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA7"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA8"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA9"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA10"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA11"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA12"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA13"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA14"></div>
                    <br>

                    <ul class="content-list align-text no-bullets">
                        <li translate="EULA_PARA14_BULLET1"></li>
                        <li translate="EULA_PARA14_BULLET2"></li>
                        <li translate="EULA_PARA14_BULLET3"></li>
                        <li translate="EULA_PARA14_BULLET4"></li>
                        <li translate="EULA_PARA14_BULLET5"></li>
                        <li translate="EULA_PARA14_BULLET6"></li>
                    </ul>
                    <br>

                    <div class="align-text" translate="EULA_PARA15"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA16"></div>
                    <br>

                    <div class="align-text" translate="EULA_PARA17"></div>
                    <br>

                    <div class="align-text" translate="EULA_ADDRESS"></div>
                    <br>


                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
