<div class="content-area">
    <div class="content-box">
        <h1><span translate="FAQ_HEADING"></span></h1>

        <div class="container">
            <div class="paragraph-area">

                <div class="content-text">

                    <div class="numbered-header" translate="FAQ_HEADER1"></div>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION1"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER1"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION2"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER2"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION3"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER3"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION4"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER4"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION5"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER5"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION6"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER6"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION7"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER7"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION8"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER8"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION9"></div>
                    <br>

                    <div class="justify-text"><span translate="FAQ_ANSWER9"></span><span ng-bind="appConfig.customerCareNumber"></span></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION10"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER10"></div>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER2"></div>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION11"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER11"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION12"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER12"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION13"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER13"></div>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER3"></div>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION14"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER14"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION15"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER15_PARA1"></div>
                    <br>
                    <div class="justify-text" translate="FAQ_ANSWER15_PARA2"></div>
                    <br>
                    <ul class="content-list justify-text">
                        <li translate="FAQ_ANSWER15_BULLET1"></li>
                        <li translate="FAQ_ANSWER15_BULLET2"></li>
                    </ul>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER4"></div>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION16"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER16"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION17"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER17"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION18"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER18"></div>
                    <br>
                    <br>

                    <div class="paragraph-header" translate="FAQ_QUESTION18A"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER18A"></div>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER5"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER19"></div>
                    <br>

                    <div class="justify-text" translate="FAQ_ANSWER20"></div>
                    <br>

                    <div class="justify-text"><span translate="FAQ_ANSWER21A"></span> <span ng-bind="appConfig.customerCareNumber"></span><span translate="FAQ_ANSWER21B"></span></div>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>
