<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="FAQ_HEADING">Frequently Asked Questions</span></h1>

        <div class="container">
            <div class="about-us">

                <div class="about-desc">

                    <div class="numbered-header" translate="FAQ_HEADER1">My Subscription</div>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION1">What is YipTV?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER1">YipTV is a revolution in video, and the best thing to happen to your TV in 50 years. We are an OTT multichannel distributor, which means that we bring you lots of TV channels, like your cable company, but we deliver the signal to you over the public internet. You get a crystal clear HD video signal without the hassles of contracts or high bills. Plus you get channels you can’t find anywhere else.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION2">What does it cost and what do I get?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER2">For $14.99 a month you have access to LiveTV and WebTV channels. We add new channels all the time.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION3">What is the difference between LiveTV and WebTV channels?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER3">LiveTV is linear content delivered over the Internet. WebTV is previously recorded content.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION4">How many devices can I watch YipTV on at the same time?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER4">Unlimited.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION5">Is there a contract? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER5">No.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION6">How do I change my password?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER6"><span class="faq-bold-text">Sign In</span> and select the <span class="faq-bold-text">Account</span> tab. Choose <span class="faq-bold-text">Change Password</span>. Once you entered in a new password, you will receive an email confirmation that your password has been changed. Re-log in with your new password.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION7">How do I upgrade my service after the free trial?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER7">Go to <a target="_blank" href="http://www.yiptv.com">www.yiptv.com</a> and click on Join Now and provide us with your info.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION8">What is the Free Preview feature? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER8">You will be able to get a taste of what YipTv is like before you sign up. </div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION9">How do I change my credit card information? </div>
                    <br>

                    <div class="align-text"><span translate="FAQ_ANSWER9">Contact customer support at our toll free number </span> <span ng-bind="appConfig.customerCareNumber"></span></div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION10">Where is YipTV available? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER10">We’re in the United States (all 50 states and Puerto Rico), but we have content and channels from around the world.</div>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER2">YipTV Free Trial and Billing </div>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION11">How long is my Free Trial? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER11">Try for free for 30 days. Instantly watch LiveTV and WebTV  on your computer, laptop, and Android devices.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION12">How does billing work? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER12"><span class="faq-bold-text">Join now</span> for $14.99 and you will be billed once a month on the date that you originally signed up. There are no contracts or cancellation fees.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION13">How do I pay for YipTV? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER13">We accept most major credit cards (Master Card, Visa, Amex, Discover) and we accept Prepaid and Debit cards as well.</div>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER3">Watching YipTV </div>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION14">How do I sign up for YipTV? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER14">Click on <span class="faq-bold-text">Join Now</span> fill in your credentials. You will receive email verification. Once you verify your account you can start Yipping at <a target="_blank" href="http://www.yiptv.com">www.yiptv.com</a>.</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION15">How do I watch YipTV? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER15_PARA1">Watch YipTV on your computer or laptop, by opening an Internet browser and type <a target="_blank" href="http://www.yiptv.com">www.yiptv.com</a> then sign into your account. Select <span class="faq-bold-text">Watch Now</span> and choose the channel you want to watch.</div>
                    <br>
                    <div class="align-text" translate="FAQ_ANSWER15_PARA2">From your mobile devices: </div>
                    <br>
                    <ul class="content-list align-text">
                        <li translate="FAQ_ANSWER15_BULLET1">Android devices - Download the YipTV App from the play store, install it and try now to start viewing YipTV. (Currently not available in a web browser)</li>
                        <li translate="FAQ_ANSWER15_BULLET2">iOS devices – Coming Soon </li>
                    </ul>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER4">Refer a Friend</div>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION16">What happens when I refer a friend?</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER16">Refer your friends and get one month free subscription for each friend you refer. You BOTH get a free month—one free month for you, and one free month for them!</div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION17">How many friends can I refer? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER17">Unlimited! If you have a lot of friends you might never have to pay for TV again. </div>
                    <br>
                    <br>

                    <div class="para-header" translate="FAQ_QUESTION18">How do I refer a friend? </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER18">Just import your contact list or enter your friends’ email addresses. We’ll handle the rest and we’ll make sure that you get credit for the people you send our way.</div>
                    <br>
                    <br>

                    <div class="numbered-header" translate="FAQ_HEADER5">About Support</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER19">You deserve the best. We’re here to make it happen. We have an entire team dedicated to solve your issues fast. </div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER20">Whether it’s a simple question related to the website or you need assistance on troubleshooting any problems you may be experiencing, our knowledgeable staff is here to provide all the help you need.</div>
                    <br>

                    <div class="align-text" translate="FAQ_ANSWER21">Email us or call us toll free at 855-919-4788, Monday – Friday from 10:00am – 8:00pm EST.</div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
