<div id="footerBox" class="usr_Menu_pnl content-background">
    <div class="footer-subscription col-lg-12">
        <h4 class="footer-subscription-text" translate="FOOTER_HEADER_CAPTION"></h4>
        <a id="footerJoinButton" href="/sign-up/paid" class="btn-lg btn-default" translate="FOOTER_JOIN_BUTTON"></a>
        <a id="footerTrialButton" href="/sign-up/free" class="btn-lg btn-primary" translate="FOOTER_TRIAL_BUTTON"></a>
    </div>
	<div id="chnlLinks" >
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt>Sports</dt>
				<dd data-ng-repeat="spC in sportsCtgry"><a href="#" data-ng-click="goToCmsUrl('{{spC.showDescription}}')">{{spC.channelName}}</a></dd>
			</dl>
			<dl>
				<dt>Kids</dt>
				<dd data-ng-repeat="kC in kidsCtgry | limitTo:1" data-ng-click="goToCmsUrl('{{kC.showDescription}}')">{{kC.channelName}}</dd>
			</dl>
			<dl>
				<dt>General</dt>
				<dd data-ng-repeat="gC in generalCtgry" data-ng-click="goToCmsUrl('{{gC.showDescription}}')">{{gC.channelName}}</dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt>News</dt>
				<dd data-ng-repeat="nC in newsCtgry" data-ng-click="goToCmsUrl('{{nC.showDescription}}')">{{nC.channelName}}</dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt>Music</dt>
				<dd data-ng-repeat="mC in musicCtgry" data-ng-click="goToCmsUrl('{{mC.showDescription}}')">{{mC.channelName}}</dd>
			</dl>
			<dl>
				<dt>Educational</dt>
				<dd data-ng-repeat="eduC in newsCtgry" data-ng-click="goToCmsUrl('{{eduC.showDescription}}')">{{eduC.channelName}}</dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt>Lifestyle</dt>
				<dd data-ng-repeat="lC in lifestyleCtgry" data-ng-click="goToCmsUrl('{{lC.showDescription}}')">{{lC.channelName}}</dd>
			</dl>
			<dl>
				<dt>Faith</dt>
				<dd data-ng-repeat="fC in faithCtgry" data-ng-click="goToCmsUrl('{{fC.showDescription}}')">{{fC.channelName}}</dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt>Entertainment</dt>
				<dd data-ng-repeat="entC in entCtgry" data-ng-click="goToCmsUrl('{{entC.showDescription}}')">{{entC.channelName}}</dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<div class="posNlne">
				<img src="images/footer/Facebook.png" alt-"facebook icon">
				<img src="images/footer/Google.png" alt-"facebook icon">
				<img src="images/footer/Linkedin.png" alt-"facebook icon">
				<img src="images/footer/Twitter.png" alt-"facebook icon">
			</div>
			<dl>
				<dt>YipNow</dt>
				<dd>Our First Mobile Operator Joins</dd>
			</dl>
			<dl>
				<dt>Kids</dt>
				<dd>beIN Sports</dd>
			</dl>

		</div>
		
	</div>
    <div class="jumbotron">
        <div id="footerLinks" class="container">
            <ul>
                <li><a href ng-click="goToCmsUrl('CMS_URL_ABOUT_US')" translate="FOOTER_ABOUT_US"></a></li>
                <li><a href="/leadership" translate="FOOTER_LEADERSHIP"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_MAIN')" translate="FOOTER_BLOG"></a></li>
                <li><a href="/contact-us" translate="FOOTER_CONTACT_US"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_FAQS')" translate="FOOTER_FAQ"></a></li>
            </ul>
        </div>
        <div id="legalLinks">
            <ul>
                <li><a href ng-click="goToCmsUrl('CMS_URL_PRIVACY_POLICY')" translate="FOOTER_PRIVACY_POLICY"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_TOUS')" translate="FOOTER_TERMS_OF_USE"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_EULA')" translate="FOOTER_END_USER_LICENSE_AGREEMENT"></a></li>
            </ul>
        </div>
    </div>
</div>
