<div id="footerBox" class="usr_Menu_pnl content-background">
    <div class="footer-subscription col-lg-12">
        <h4 class="footer-subscription-text" translate="FOOTER_HEADER_CAPTION"></h4>
        <a id="footerJoinButton" href="/sign-up/paid" class="btn-lg btn-default" translate="FOOTER_JOIN_BUTTON"></a>
        <a id="footerTrialButton" href="/sign-up/free" class="btn-lg btn-primary" translate="FOOTER_TRIAL_BUTTON"></a>
    </div>
	<div id="chnlLinks" >
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt translate="FOOTER_CHANNEL_SP">Sports</dt>
				<dd data-ng-repeat="spC in sportsCtgry"><a href="#" data-ng-click="goToCmsUrl(spC.showDescription)">{{spC.channelName}}</a></dd>
			</dl>
			<dl>
				<dt translate="FOOTER_CHANNEL_KDS">Kids</dt>
				<dd data-ng-repeat="kC in kidsCtgry | limitTo:1"><a href="#" data-ng-click="goToCmsUrl(kC.showDescription)">{{kC.channelName}}</a></dd>
			</dl>
			<dl>
				<dt translate="FOOTER_CHANNEL_GNRL">General</dt>
				<dd data-ng-repeat="gC in generalCtgry"><a href="#" data-ng-click="goToCmsUrl(gC.showDescription)">{{gC.channelName}}</a></dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt translate="FOOTER_CHANNEL_NEWS">News</dt>
				<dd data-ng-repeat="nC in newsCtgry"><a href="#" data-ng-click="goToCmsUrl(nC.showDescription)">{{nC.channelName}}</a></dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt translate="FOOTER_CHANNEL_MSC">Music</dt>
				<dd data-ng-repeat="mC in musicCtgry"><a href="#" data-ng-click="goToCmsUrl(mC.showDescription)">{{mC.channelName}}</a></dd>
			</dl>
			<dl>
				<dt translate="FOOTER_CHANNEL_EDU">Educational</dt>
				<dd data-ng-repeat="eduC in newsCtgry"><a href="#" data-ng-click="goToCmsUrl(eduC.showDescription)">{{eduC.channelName}}</a></dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt translate="FOOTER_CHANNEL_LS">Lifestyle</dt>
				<dd data-ng-repeat="lC in lifestyleCtgry"><a href="#" data-ng-click="goToCmsUrl(lC.showDescription)">{{lC.channelName}}</a></dd>
			</dl>
			<dl>
				<dt translate="FOOTER_CHANNEL_FTH">Faith</dt>
				<dd data-ng-repeat="fC in faithCtgry"><a href="#" data-ng-click="goToCmsUrl(fC.showDescription)">{{fC.channelName}}</a></dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne">
			<dl>
				<dt translate="FOOTER_CHANNEL_ENT">Entertainment</dt>
				<dd data-ng-repeat="entC in entCtgry"><a href="#" data-ng-click="goToCmsUrl(entC.showDescription)">{{entC.channelName}}</a></dd>
			</dl>
		</div>
		
		<div class="chnlLinks-col posNlne" style="width:20%">
			<div class="posNlne">
				<a href="https://www.facebook.com/pages/Yiptv/670093559720356?fref=ts"><img src="images/footer/Facebook.png" alt-"facebook icon"></a>
				<a href="https://twitter.com/YipTV"><img src="images/footer/Google.png" alt-"facebook icon"></a>
				<a href="http://linkedin.com/company/yiptv"><img src="images/footer/Linkedin.png" alt-"facebook icon"></a>
				<a href="https://plus.google.com/110377468150377213884"><img src="images/footer/Twitter.png" alt-"facebook icon"></a>
			</div>
			<dl>
				<dt>YipNow</dt>
				<dd><a href="#" data-ng-click="goToCmsUrl('FOOTER_MOBILE_OPS')" translate="FOOTER_MOBILE_OPS_TEXT">Our First Mobile Operator Joins</a></dd>
			</dl>
			<dl>
				<p style="color:white">All of us at YipTV are super excited about TruConnect becoming the first mobile operator to bundle our service with… <a href="#" data-ng-click="goToCmsUrl('FOOTER_MOBILE_OPS')">Read more</a></p>
			</dl>

		</div>
		
	</div>
    <div class="jumbotron">
        <div id="footerLinks" class="container">
            <ul>
                <li><a href ng-click="goToCmsUrl('CMS_URL_ABOUT_US')" translate="FOOTER_ABOUT_US"></a></li>
                <li><a href="/leadership" translate="FOOTER_LEADERSHIP"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_MAIN')" translate="FOOTER_BLOG"></a></li>
                <li><a href="/contact-us" translate="FOOTER_CONTACT_US"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_FAQS')" translate="FOOTER_FAQ"></a></li>
            </ul>
        </div>
        <div id="legalLinks">
            <ul>
                <li><a href ng-click="goToCmsUrl('CMS_URL_PRIVACY_POLICY')" translate="FOOTER_PRIVACY_POLICY"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_TOUS')" translate="FOOTER_TERMS_OF_USE"></a></li>
                <li><a href ng-click="goToCmsUrl('CMS_URL_EULA')" translate="FOOTER_END_USER_LICENSE_AGREEMENT"></a></li>
            </ul>
        </div>
    </div>
</div>
