<div id="footerBox" class="usr_Menu_pnl content-background">
    <div class="footer-subscription col-lg-12">
        <h4 class="footer-subscription-text" translate="FOOTER_HEADER_CAPTION"></h4>
        <a id="footerJoinButton" href="/sign-up/paid" class="btn-lg btn-default" translate="FOOTER_JOIN_BUTTON"></a>
        <a id="footerTrialButton" href="/sign-up/free" class="btn-lg btn-primary" translate="FOOTER_TRIAL_BUTTON"></a>
    </div>
    <div class="jumbotron">
        <div id="footerLinks" class="container">
            <ul>
                <li><a href="/about-us" translate="FOOTER_ABOUT_US"></a></li>
                <li><a href="/leadership" translate="FOOTER_LEADERSHIP"></a></li>
                <li><a target="_blank" href="http://www.yipnow.com/" translate="FOOTER_BLOG"></a></li>
                <li><a href="/contact-us" translate="FOOTER_CONTACT_US"></a></li>
                <li><a href="/faq" translate="FOOTER_FAQ"></a></li>
            </ul>
        </div>
        <div id="legalLinks">
            <ul>
                <li><a href="/privacy-policy" translate="FOOTER_PRIVACY_POLICY"></a></li>
                <li><a href="/terms-of-use" translate="FOOTER_TERMS_OF_USE"></a></li>
                <li><a href="/eula" translate="FOOTER_END_USER_LICENSE_AGREEMENT"></a></li>
            </ul>
        </div>
    </div>
</div>
