<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="FORGOT_PASSWORD_HEADING">Forgot Password</span></h1>

        <div class="container">
            <div class="sign-in-box">
                <form name="form" id="form" ng-submit="forgotPassword()" novalidate>
                    <br>
                    <span class="label-text" translate="FORGOT_PASSWORD_EMAIL">Enter your email and we will send a link to reset your password</span><br>
                    <input autofocus type="text" is-email class="txtbox2" maxlength="50" ng-model="mv.email" autocomplete="off" id="email" name="email" required>

                    <div ng-show="form.email.$dirty && form.email.$error.required" class="error-msg" translate="FORGOT_PASSWORD_EMAIL_REQUIRED">Enter your email</div>
                    <div ng-show="form.email.$dirty && !form.email.$error.required && form.email.$error.isEmail" class="error-msg" translate="FORGOT_PASSWORD_EMAIL_INVALID">Enter a valid email</div>
                    <br>

                    <div class="frm-btn">
                        <button ng-disabled="saving" class="btn-submit" type="submit" translate="FORGOT_PASSWORD_BUTTON">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
