<div class="content-area">
    <div class="setting-box">
        <h1><span translate="FORGOT_PASSWORD_SUCCESS_HEADING">Success</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <p class="text-center" translate="FORGOT_PASSWORD_SUCCESS_MESSAGE">Password reset link and instructions have been sent to your email address</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
