<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="FREE_SIGN_UP_SUCCESS_HEADING">Congrats!</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <p class="text-center" translate="FREE_SIGN_UP_SUCCESS_MESSAGE">You are successfully signed up with YipTV. Please click the button or link in the email we have just sent you to verify your account.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
