<div class="content-area">
    <div class="content-box message ">

        <div class="container message-box">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 style="font-weight:bold; font-size:xx-large; text-align:left !important;"><span translate="FREE_SIGN_UP_SUCCESS_HEADING"></span></h2>

                    <h3 style="font-weight:bold; text-align:left" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_1"></h3>

                    <p style="margin-top:0px; text-align:left; color:dimgrey;" class="text-center" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_2"></p>
                    <h4 style="font-weight:bolder; margin-top:30px" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_3"></h4>

                    <p style="margin-top:0px; text-align:left; color:dimgrey;" class="text-center" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_4"></p>

                    <p style="margin-top:0px; text-align:left; color:dimgrey;" class="text-center" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_5"></p>

                    <div id="signUpFreeSubmit" style="width:40%; margin:4% auto 0;"><a href="/sign-in" style="width:100%; height: auto; font-size:x-large; font-weight:bold; color:white; text-transform:uppercase; background-color:#A03269" class="btn btn-default" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_6"></a></div>
                    <p style="margin-top:20px; text-align:left; color:dimgrey;" class="text-center" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_7"></p>

                    <div id="downloadButtons">
                        <a id="android" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2"><img style="margin:10px" src="images/google-play.png"/></a>
                        <a id="apple" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4"><img style="margin:10px" src="images/app-store.png"/></a>
                    </div>
                    <h4 style="font-weight:bolder; margin-top:30px" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_8"></h4>

                    <p style="margin-top:20px; text-align:left; color:dimgrey;" class="text-center" translate="FREE_SIGN_UP_SUCCESS_MESSAGE_9"></p>
                </div>
            </div>
        </div>
    </div>
</div>
