<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div>&nbsp;</div>
    <div class="banner" ng-hide="webSliderLoaded">
        <div class="banner-wrap">
            <div id="carousel-banner" class="carousel slide" bootstrap-carousel interval="5000">
                <ul class="carousel-inner">
                    <li class="item active">
                        <img src="img/banner5.jpg" alt="...">

                        <div class="carousel-caption5">
                            <div class="caption-txt5">
                                <h1 translate="HOME_YIPTV_HAS_BEIN">YipTV has beIN Sports</h1>

                                <h3 translate="HOME_AND_DOZENS">and dozens of other channels</h3>

                                <h2 translate="HOME_PRICE">$14.99/month</h2>
                                <button goto="/sign-up/paid" translate="HOME_JOIN_NOW">Join Now!</button>
                                <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <img src="img/banner3.jpg" alt="...">

                        <div class="carousel-caption3">
                            <div class="caption-txt3">
                                <h1 translate="HOME_UNBEATABLE_PRICE">Unbeatable price.</h1>

                                <h2 translate="HOME_PRICE">$14.99/mo</h2>

                                <h3 translate="HOME_NO_CONTRACTS_EVER">No contracts. Ever.</h3>
                                <button goto="/sign-up/paid" translate="HOME_JOIN_NOW">Join Now!</button>
                                <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <img src="img/banner1.jpg" alt="...">

                        <div class="carousel-caption1">
                            <div class="caption-txt1">
                                <h1 translate="HOME_LOTS_OF_CHANNELS">Lot of Channels,</h1>

                                <h1 translate="HOME_ZERO_CONTRACTS">Zero Contracts,</h1>

                                <h1 translate="HOME_NO_HASSLES">No Hassles.</h1>
                                <button goto="/sign-up/free" translate="HOME_GET_MONTH_FREE">Get a Month FREE!</button>
                                <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <img src="img/banner4.jpg" alt="...">

                        <div class="carousel-caption4">
                            <div class="caption-txt4">
                                <h1 translate="HOME_LOVE_EDM">Love EDM? Get VIP</h1>

                                <h1 translate="HOME_ACCESS_TO_CONTENT">access to content</h1>

                                <h1 translate="HOME_LIKE_LIVE_ELECTRONICA">like live Electronica.</h1>

                                <h2 translate="HOME_YIPTV_HAS_CHANNELS">YipTV has channels that your cable</h2>

                                <h2 translate="HOME_PROVIDER_DOESNT">provider doesn't, like Clubbing TV.</h2>
                                <button goto="/sign-up/free" translate="HOME_GET_MONTH_FREE">Get a Month FREE!</button>
                                <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-banner" data-slide-to="1"></li>
                    <li data-target="#carousel-banner" data-slide-to="2"></li>
                    <li data-target="#carousel-banner" data-slide-to="3"></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="webslider" ng-show="webSliderLoaded">
        <div class="webslider-wrap">
            <div id="webslider-banner" class="carousel slide" bootstrap-carousel on-slide="onWebSliderChange()" interval="5000">
                <ul class="carousel-inner">
                    <li class="item" ng-repeat="slide in webSliders" ng-class="{active: $index === 0}">
                        <img hidefocus="true" alt="..." usemap="#img{{$index+1}}-{{language}}" rwdimgmap width="1350" height="640" ng-src="data:image/jpg;base64,{{slide.image[language]}}">
                        <map ng-repeat="(key, value) in slide.maps" name="img{{$parent.$index+1}}-{{key}}">
                            <area ng-repeat="map in slide.maps[key]" shape="{{map.shape}}" coords="{{map.coords}}" href="javascript:void(0);" ng-click="imageMapClick(map.url)">
                        </map>
                    </li>
                </ul>
                <ol class="carousel-indicators">
                    <li data-target="#webslider-banner" ng-repeat="slide in webSliders" data-slide-to="{{$index}}" ng-class="{active: $index === 0}"></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div class="service-box">
                        <img src="img/img-live-news.png" alt="" border="0">

                        <p translate="HOME_WATCH_LIVE">Watch live news, sports & events from around the world</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div class="service-box">
                        <img src="img/img-tablet.png" alt="" border="0">

                        <p translate="HOME_WATCH_ANY_DEVICE">Watch on your TV, Tablet, Phone PC, Game System and more.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div class="service-box-last">
                        <img src="img/img-contracts.png" alt="" border="0">

                        <p translate="HOME_NO_CONTRACTS">No Contracts, Cancel Any Time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="channels">
        <div class="lg-12 channels-header text-center" translate="HOME_ONE_LOW_MONTHLY">One low monthly price gets you ALL of these channels and more!</div>
        <div class="channels-wrap">
            <img src="img/channels.jpg" alt="" border="0">
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
