<div id="Ftr_Bx" class="usr_Menu_pnl cntntBxBck">
    <div class='pg7_chnls col-lg-12'>
        <h4 class='pg7_title' translate='FOOTER_HEADER_CAPTION'>Watch live news, sports & events from around the world</h4>
        <a style="color:black; font-weight:normal;" href="/sign-up/paid" class='btn-lg btn-default' access-level="accessLevels.anon" translate="INDEX_JOIN_NOW">Join Now</a>
        <a style="color:white; font-weight:normal;" href="/sign-up/free" class='btn-lg btn-primary btn-default' access-level="accessLevels.anon" translate="INDEX_TRY_FREE">Try Free for 7Days</a>
    </div>
    <div id='ftrCntnt' class='jumbotron'>
        <div id="ftrCopy" class='container'>
            <aside class='ftr_left'>
                <article>
                    <h5>show by category</h5>
                    <ul>
                        <li><a href='/'>AZ Clic</a></li>
                        <li><a href='/'>AZ CORAZON</a></li>
                        <li><a href='/'>BeIn Sports</a></li>
                        <li><a href='/'>BeIn Sports ñ</a></li>
                        <li><a href='/'>CANAL AMERICA</a></li>
                        <li><a href='/'>CANAL ANTIESTRES</a></li>
                        <li><a href='/'>Canal Sur</a></li>
                        <li><a href='/'>Canal Tiempo</a></li>
                        <li><a href='/'>Canal Tro</a></li>
                        <li><a href='/'>COSMOVISION</a></li>
                    </ul>
                </article>
            </aside>
            <aside class='ftr_center'>
                <article>
                    <h5>network</h5>
                    <ul>
                        <li><a href='/'>DESTINOS TV</a></li>
                        <li><a href='/'>El Cantinazo</a></li>
                        <li><a href='/'>JBN</a></li>
                        <li><a href='/'>MAYA TV</a></li>
                        <li><a href='/'>MeioNorte</a></li>
                        <li><a href='/'>Mi Gente</a></li>
                        <li><a href='/'>NTN24</a></li>
                        <li><a href='/'>RT ESPAÑOL</a></li>
                        <li><a href='/'>RT NEWS - ENGLISH</a></li>
                        <li><a href='/'>TELE ANTIOQUIA</a></li>

                    </ul>
                </article>
            </aside>
            <aside class='ftr_right'>
                <article>
                    <h5>network</h5>
                    <ul>
                        <li><a href='/'>TELE CARIBE</a></li>
                        <li><a href='/'>TELE MEDELLIN</a></li>
                        <li><a href='/'>TELE PACIFICO</a></li>
                        <li><a href='/'>TELE VID</a></li>
                        <li><a href='/'>TV Quisqueya</a></li>
                        <li><a href='/'>TVC LATINO</a></li>
                        <li><a href='/'>TyC Sports</a></li>
                        <li><a href='/'>Video Rola</a></li>
                        <li><a href='/'>YES</a></li>
                        <li><a href='/'>ZOOM</a></li>
                    </ul>
                </article>
            </aside>

        </div>
        <div id='ftrLinks' class='container'>
            <ul>
                <li><a href="/about-us" translate="INDEX_ABOUT_US">about us</a></li>
                <li><a href="/leadership" translate="INDEX_LEADERSHIP">leadership</a></li>
                <li><a target="_blank" href="http://www.yipnow.com/" translate="INDEX_BLOG">blog</a></li>
                <li><a href="/contact-us" translate="INDEX_CONTACT_US">contact us</a></li>
                <li><a href="/privacy-policy" translate="INDEX_PRIVACY_POLICY">privacy policy</a></li>
                <li><a href="/terms-of-use" translate="INDEX_TERMS_OF_USE">terms of use</a></li>
                <li><a href="/faq" translate="INDEX_FAQ">FAQs</a></li>
            </ul>
        </div>
    </div>
</div>
