<div id="Bnr_Bx" class="usr_Scrns_pnl cntntBxBck tblt" data-ng-controller="homeBannersCtrl">
    <div class='jumbotron'>
        <div class="banner" ng-show="webSliderLoaded">
            <div class="banner-wrap">
                <div id="carousel-banner" class="carousel slide" bootstrap-carousel interval="4000">
                    <ul id="tblt_bnr" class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_TABLET">
                                <img src="../img/tblt/en/tblt_1.jpg" usemap="#Map1" alt="tablet Image">
                                <map name="Map1" id="Map1">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="12, 206, 251, 331"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_TABLET">
                                <img src="../img/tblt/en/tblt_2.jpg" usemap="#Map2" alt="tablet Image">
                                <map name="Map2" id="Map2">
                                    <area alt="" title="" href="sign-up/paid" shape="rect" coords="20, 158, 262, 330"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_TABLET"><img src="../img/tblt/en/tblt_3.jpg" usemap="#Map3" alt="tablet Image">
                                <map name="Map3" id="Map3">
                                    <area alt="" title="" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" shape="poly" coords="196, 161, 362, 333"/>
                                    <area alt="" title="" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" shape="poly" coords="32, 162, 192, 332"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_TABLET"><img src="../img/tblt/en/tblt_4.jpg" usemap="#Map4" alt="tablet Image">
                                <map name="Map4" id="Map4">
                                    <area alt="" title="" href="/sign-up/free" shape="poly" coords="19, 163, 263, 333"/>
                                </map>
                            </div>
                        </li>
                    </ul>

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-banner" data-slide-to="1"></li>
                        <li data-target="#carousel-banner" data-slide-to="2"></li>
                        <li data-target="#carousel-banner" data-slide-to="3"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
