<div class="banner">
    <div class="banner-wrap">
        <div id="carousel-banner" class="carousel slide" bootstrap-carousel interval="500000">
            <ul class="carousel-inner">
                <li class="item active">
                    <img src="img/banner3.jpg" alt="...">

                    <div class="carousel-caption3">
                        <div class="caption-txt3">
                            <h1 translate="HOME_UNBEATABLE_PRICE">Unbeatable price.</h1>

                            <h2 translate="HOME_PRICE">$14.99/mo</h2>

                            <h3 translate="HOME_NO_CONTRACTS_EVER">No contracts. Ever.</h3>
                            <button goto="/sign-up/paid" translate="HOME_JOIN_NOW">Join Now!</button>
                            <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <img src="img/banner1.jpg" alt="...">

                    <div class="carousel-caption1">
                        <div class="caption-txt1">
                            <h1 translate="HOME_LOTS_OF_CHANNELS">Lot of Channels,</h1>

                            <h1 translate="HOME_ZERO_CONTRACTS">Zero Contracts,</h1>

                            <h1 translate="HOME_NO_HASSLES">No Hassles.</h1>
                            <button goto="/sign-up/free" translate="HOME_GET_MONTH_FREE">Get a Month FREE!</button>
                            <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <img src="img/banner2.jpg" alt="...">

                    <div class="carousel-caption2">
                        <div class="caption-txt2">
                            <h1 translate="HOME_START">Start</h1>

                            <h1 translate="HOME_DAYSTREAMING">Daystreaming.</h1>

                            <h2 translate="HOME_LIVE_LOCAL_TV">Live, local television from over 20</h2>

                            <h2 translate="HOME_COUNTRIES_STREAMED">countries streamed direct to your TV</h2>

                            <h2 translate="HOME_OR_MOBILE_DEVICE">or mobile device.</h2>
                            <button goto="/sign-up/free" translate="HOME_GET_MONTH_FREE">Get a Month FREE!</button>
                            <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <img src="img/banner4.jpg" alt="...">

                    <div class="carousel-caption4">
                        <div class="caption-txt4">
                            <h1 translate="HOME_LOVE_EDM">Love EDM? Get VIP</h1>

                            <h1 translate="HOME_ACCESS_TO_CONTENT">access to content</h1>

                            <h1 translate="HOME_LIKE_LIVE_ELECTRONICA">like live Electronica.</h1>

                            <h2 translate="HOME_YIPTV_HAS_CHANNELS">YipTV has channels that your cable</h2>

                            <h2 translate="HOME_PROVIDER_DOESNT">provider doesn't, like Clubbing TV.</h2>
                            <button goto="/sign-up/free" translate="HOME_GET_MONTH_FREE">Get a Month FREE!</button>
                            <p translate="HOME_NO_CONTRACTS_CANCEL_ANYTIME">No contracts - cancel anytime!</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ol class="carousel-indicators">
                <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-banner" data-slide-to="1"></li>
                <li data-target="#carousel-banner" data-slide-to="2"></li>
                <li data-target="#carousel-banner" data-slide-to="3"></li>
            </ol>
        </div>
    </div>
</div>
<div class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <img src="img/img-live-news.png" alt="" border="0">

                    <p translate="HOME_WATCH_LIVE">Watch live news, sports & events from around the world</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <img src="img/img-tablet.png" alt="" border="0">

                    <p translate="HOME_WATCH_ANY_DEVICE">Watch on your TV, Tablet, Phone PC, Game System and more.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box-last">
                    <img src="img/img-contracts.png" alt="" border="0">

                    <p translate="HOME_NO_CONTRACTS">No Contracts, Cancel Any Time</p>
                </div>
            </div>
        </div>
    </div>
</div>
