<div class="banner">
    <div class="banner-wrap">
        <div id="carousel-banner" class="carousel slide" bootstrap-carousel interval="500000">
            <ul class="carousel-inner">
                <li class="item active">
                    <img src="img/banner.jpg" alt="...">

                    <div class="carousel-caption">
                        <img class="guarantee-img1" src="img/guarantee-img.png" alt="">

                        <div class="caption-txt">
                            <h2 class="bdr"><sub>$</sub>14.99 <span class="divide" translate="HOME_PER_MONTH">/ month</span></h2>

                            <h1 translate="HOME_UNLIMITED_CHANNELS">Unlimited Channels</h1>
                            <span class="header-tag"> <a href="/sign-up/paid" translate="HOME_JOIN_REVOLUTION"> >> Join the revolution </a></span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <img src="img/banner2.jpg" alt="...">

                    <div class="carousel-caption">
                        <div class="caption-txt1">
                            <h1 translate="HOME_AGENT_OF_CHANGE">BE AN AGENT OF CHANGE</h1>
                            <img src="img/guarantee-img2.png" alt="">

                            <h2 class="bdr" translate="HOME_REFER_FRIEND">REFER A FRIEND</h2>

                            <h2 translate="HOME_AND_GET">AND GET</h2>
                            <span class="header-tag"> <a href="/sign-up/free" translate="HOME_ONE_MONTH_FREE">>> One Month Free </a></span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <img src="img/banner3.jpg" alt="...">

                    <div class="carousel-caption">
                        <div class="caption-txt3">
                            <h1 translate="HOME_WATCH_ANY_SCREEN">Watch on any screen, anywhere, any time.</h1>

                            <p translate="HOME_NO_CABLE_BOX">No cable box needed. No bulky dish on the roof, YipTV plays your channels through your broadband Internet connection.</p>
                            <span class="header-tag"><a href="/sign-up/paid" translate="HOME_JOIN_REVOLUTION"> >> Join the revolution</a></span>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <img src="img/banner4.jpg" alt="...">

                    <div class="carousel-caption">
                        <div class="caption-txt2">
                            <img src="img/free-trial.png" alt="">

                            <h1 class="bdr" translate="HOME_CHECK_OUT_THE">Check out the</h1>

                            <h2 translate="HOME_REVOLUTION">Revolution</h2>
                            <span class="header-tag"> <a href="/sign-up/free" translate="HOME_TRY_FOR_THIRTY_DAYS">>> Try for 30 days</a> </span>
                        </div>
                    </div>
                </li>
            </ul>
            <ol class="carousel-indicators">
                <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-banner" data-slide-to="1"></li>
                <li data-target="#carousel-banner" data-slide-to="2"></li>
                <li data-target="#carousel-banner" data-slide-to="3"></li>
            </ol>
        </div>
    </div>
</div>
<div class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <img src="img/img-live-news.png" alt="" border="0">

                    <p translate="HOME_WATCH_LIVE">Watch live news, sports & events from around the world</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <img src="img/img-tablet.png" alt="" border="0">

                    <p translate="HOME_WATCH_ANY_DEVICE">Watch on your TV, Tablet, Phone PC, Game System and more.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box-last">
                    <img src="img/img-contracts.png" alt="" border="0">

                    <p translate="HOME_NO_CONTRACTS">No Contracts, Cancel Any Time</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="link-box">
    <div class="shadow">
        <div class="container">
            <div id="carousel-gallery" class="carousel slide" bootstrap-carousel interval="4000">
                <ul class="carousel-inner">
                    <li class="item active">
                        <img src="img/img1.jpg" alt="" border="0">
                        <img src="img/img2.jpg" alt="" border="0">
                        <img src="img/img3.jpg" alt="" border="0">
                        <img src="img/img4.jpg" alt="" border="0">
                        <img src="img/img5.jpg" alt="" border="0">
                        <img src="img/img6.jpg" alt="" border="0">
                        <img src="img/img7.jpg" alt="" border="0">
                        <img src="img/img8.jpg" alt="" border="0">
                    </li>
                    <li class="item">
                        <img src="img/img1.jpg" alt="" border="0">
                        <img src="img/img2.jpg" alt="" border="0">
                        <img src="img/img3.jpg" alt="" border="0">
                        <img src="img/img4.jpg" alt="" border="0">
                        <img src="img/img5.jpg" alt="" border="0">
                        <img src="img/img6.jpg" alt="" border="0">
                        <img src="img/img7.jpg" alt="" border="0">
                        <img src="img/img8.jpg" alt="" border="0">
                    </li>
                    <li class="item">
                        <img src="img/img1.jpg" alt="" border="0">
                        <img src="img/img2.jpg" alt="" border="0">
                        <img src="img/img3.jpg" alt="" border="0">
                        <img src="img/img4.jpg" alt="" border="0">
                        <img src="img/img5.jpg" alt="" border="0">
                        <img src="img/img6.jpg" alt="" border="0">
                        <img src="img/img7.jpg" alt="" border="0">
                        <img src="img/img8.jpg" alt="" border="0">
                    </li>
                </ul>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-gallery" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-gallery" data-slide-to="1"></li>
                    <li data-target="#carousel-gallery" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="testimonial">
    <div class="container">
        <h1 translate="HOME_TESTIMONIALS">Testimonials</h1>

        <div class="testimonial-pad">
            <div id="carousel-testimonial" class="carousel slide" bootstrap-carousel interval="7000">
                <ul class="carousel-inner">
                    <li class="item active">
                        <div class="testi-img"><img src="img/testi-img.png" alt=""></div>
                        <div class="carousel-caption quot-r">
                            <span class="quot-l"></span>

                            <p translate="HOME_TESTIMONIAL_1">1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testi-img"><img src="img/testi-img.png" alt=""></div>
                        <div class="carousel-caption quot-r">
                            <span class="quot-l"></span>

                            <p translate="HOME_TESTIMONIAL_2">2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testi-img"><img src="img/testi-img.png" alt=""></div>
                        <div class="carousel-caption quot-r">
                            <span class="quot-l"></span>

                            <p translate="HOME_TESTIMONIAL_3">3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        </div>
                    </li>
                </ul>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-testimonial" data-slide-to="1"></li>
                    <li data-target="#carousel-testimonial" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
</div>
