<div id="Ntwrks_Bx" class="usr_Menu_pnl mnuShdw cntntBxBck" data-ng-controller="homeNetworksCtrl">
    <div class='pg2_chnls col-lg-12'>
        <h3 class='pg3_title' translate="NETWORKS_AMAZING_NETWORKS">Amazing Network</h3>
        <ul>
            <li data-ng-repeat="ntwrk in usrNtwrks"><img data-ng-src="{{ntwrk.ntwrkID}}" alt="{{ntwrk.ntwrkAlt}}" data-ng-click="itemClicked($index)"/></li>

        </ul>
    </div>
    <div id='droidlogo' class='teasing'></div>
    <div id='tempCntnt'>
        <div id="splash" data-ng-class="($index==selectedIndex) ? '{{usrNtwrkClasses[1].className}}' : '{{usrNtwrkClasses[0].className}}'" data-ng-repeat="ntCntnt in usrNtwrks">
            <span class="ntwrkLogoBig"><img data-ng-src="{{ntCntnt.ntwrkImg}}"></span>

            <div class="ntwrkCntnt">
                <h4>{{ntCntnt.ntwrkNm}}</h4>

                <p translate="{{ntCntnt.ntwrkDesc}}"></p>

                <p translate="{{ntCntnt.ntwrkDesc_1}}"></p>

                <p translate="{{ntCntnt.ntwrkDesc_2}}"></p>

                <p translate="{{ntCntnt.ntwrkDesc_3}}"></p>
            </div>
        </div>
    </div>

</div>
