<div id="App_Bx" class="usr_Menu_pnl cntntBxBck">

    <div id='leftCntnt'>
        <div id="splash" class="">
            <h2 translate='DOWNLOAD_MOBILE_APP'>Download Mobile App</h2>
            <h6 translate='DOWNLOAD_PARA'>Download the mobile app and take YipTV with you wherever you go. All you need is internet access, whether Wi-Fi, 3G, 4G, or LTE. The app is available in the Apple Store and Google Play, allowing you to download it onto your iPhone, iPad or Android device, giving you access to hundreds of channels and thousands of movies wherever you go with just the click of a button!</h6>
        </div>
        <div id="ctaBtns">
            <a id="apple" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4"><img src="img/appstore.png"/></a>
            <a id="android" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2"><img src="img/googleplay.png"/></a>
        </div>
    </div>
    <div id='rightCntnt'>
        <img src="img/app_icon.png"/>
    </div>

</div>
