<div class="content-area">
    <div class="content-box">
        <h1><span translate="LEADERSHIP_HEADING"></span></h1>

        <div class="container">
            <div class="paragraph-area">

                <div class="leadership-description justify-text" translate="LEADERSHIP_DESCRIPTION">
                </div>
                <br>

                <h2 translate="LEADERSHIP_EXECUTIVES_TITLE"></h2> <br>

                <div class="leadership-name" translate="LEADERSHIP_CHAIRMAN_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/tribs.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_CHAIRMAN_DESCRIPTION">

                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_EVP_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/carmen.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_EVP_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name justify-text" translate="LEADERSHIP_CLO_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/chuck.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_CLO_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_CFO_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/mark.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_CFO_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_CIO_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_CIO_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_VPE_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/tom.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_VPE_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_VPBD_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/sekar.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_VPBD_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_VPCA_NAME"></div>
                <br>
                <img class="leadership-image" src="../images/leadership/victor.jpg"/>

                <div class="leadership-description justify-text" translate="LEADERSHIP_VPCA_DESCRIPTION">
                </div>
                <br>
                <br>
                <br>
                <br>

                <h2 translate="LEADERSHIP_DIRECTORS_TITLE"></h2>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA1_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA1_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA2_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA2_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA3_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA3_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA4_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA4_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA5_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA5_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA7_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA7_DESCRIPTION">
                </div>
                <br>
                <br>

                <div class="leadership-name" translate="LEADERSHIP_BA6_NAME"></div>
                <br>

                <div class="leadership-description justify-text" translate="LEADERSHIP_BA6_DESCRIPTION"></div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
