<div class="content-area">
    <div class="content-box">
        <h1><span translate="MEDIA_HEADING"></span></h1>

        <div class="container">
            <div class="content-area">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-text">
                        <p translate="MEDIA_DATE4"></p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 content-text">
                        <a target="_blank" href="http://www.bloomberg.com/video/the-seismic-shifts-in-content-consumption-R6rPwZfxR5~yYJyL4pEdMg.html" translate="MEDIA_TITLE4">The Seismic Shifts in Content Consumption</a>
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-text">
                        <p translate="MEDIA_DATE5"></p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 content-text">
                        <a target="_blank" href="http://www.prnewswire.com/news-releases/yiptv-predicts-continued-tv-innovation-despite-aereo-ruling-264786981.html" translate="MEDIA_TITLE5">YipTV predicts continued TV innovation despite Aereo Ruling</a>
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-text">
                        <p translate="MEDIA_DATE1"></p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 content-text">
                        <a href="/press-release-1" translate="MEDIA_TITLE1"></a>
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-text">
                        <p translate="MEDIA_DATE2"></p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 content-text">
                        <a target="_blank" href="http://blog.tmcnet.com/blog/rich-tehrani/video/will-yiptv-do-to-tv-what-vonage-did-to-voice-calls.html" translate="MEDIA_TITLE2"></a>
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-text">
                        <p translate="MEDIA_DATE3"></p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 content-text">
                        <a target="_blank" href="http://www.telecomstechnews.com/news/2015/mar/12/will-yiptv-do-to-tv-what-vonage-did-to-voice-calls/" translate="MEDIA_TITLE3"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
