<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="MEDIA_HEADING">Media</span></h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="MEDIA_DATE4">June 11, 2014</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a target="_blank" href="http://www.bloomberg.com/video/the-seismic-shifts-in-content-consumption-R6rPwZfxR5~yYJyL4pEdMg.html" translate="MEDIA_TITLE4">The Seismic Shifts in Content Consumption</a>
                </div>
            </div>
            <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="MEDIA_DATE5">June 26, 2014</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a target="_blank" href="http://www.prnewswire.com/news-releases/yiptv-predicts-continued-tv-innovation-despite-aereo-ruling-264786981.html" translate="MEDIA_TITLE5">YipTV predicts continued TV innovation despite Aereo Ruling</a>
                </div>
            </div>
            <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="MEDIA_DATE1">March 11, 2015</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a href="/press-release-1" translate="MEDIA_TITLE1">YipTV Announces Executive Team</a>
                </div>
            </div>
            <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="MEDIA_DATE2">March 11, 2015</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a target="_blank" href="http://blog.tmcnet.com/blog/rich-tehrani/video/will-yiptv-do-to-tv-what-vonage-did-to-voice-calls.html" translate="MEDIA_TITLE2">Will YipTV do to TV what Vonage did to Voice Calls?</a>
                </div>
            </div>
            <div class="visible-xs-block visible-sm-block visible-md-block">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="MEDIA_DATE3">March 12, 2015</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a target="_blank" href="http://www.telecomstechnews.com/news/2015/mar/12/will-yiptv-do-to-tv-what-vonage-did-to-voice-calls/" translate="MEDIA_TITLE3">Will YipTV do to TV what Vonage did to calls?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
