<div class="contentarea">
    <div class="video-shadow">
        <div class="container">
            <div class="title-pad">
                <div class="search-box">
                    <input type="text" >
                    <input type="submit" >
                </div>
                <h1>Channels</h1>
            </div>
            <div class="video-pad">
                <div id="flexslider-video" class="flexslider carousel" flex-slider>
                    <ul class="slides">
                        <li>
                            <img src="img/img1.jpg" alt="" border="0">
                            <img src="img/img2.jpg" alt="" border="0">
                            <img src="img/img3.jpg" alt="" border="0">
                            <img src="img/img1.jpg" alt="" border="0">
                            <img src="img/img2.jpg" alt="" border="0">
                            <img src="img/img5.jpg" alt="" border="0">
                            <img src="img/img6.jpg" alt="" border="0">
                            <img src="img/img4.jpg" alt="" border="0">
                            <img src="img/img5.jpg" alt="" border="0">
                            <img src="img/img6.jpg" alt="" border="0">
                            <img src="img/img9.jpg" alt="" border="0">
                            <img src="img/img7.jpg" alt="" border="0">
                            <img src="img/img8.jpg" alt="" border="0">
                            <img src="img/img9.jpg" alt="" border="0">
                            <img src="img/img7.jpg" alt="" border="0">
                        </li>
                        <li>
                            <img src="img/img1.jpg" alt="" border="0">
                            <img src="img/img2.jpg" alt="" border="0">
                            <img src="img/img3.jpg" alt="" border="0">
                            <img src="img/img4.jpg" alt="" border="0">
                            <img src="img/img5.jpg" alt="" border="0">
                            <img src="img/img6.jpg" alt="" border="0">
                            <img src="img/img7.jpg" alt="" border="0">
                            <img src="img/img8.jpg" alt="" border="0">
                            <img src="img/img9.jpg" alt="" border="0">
                            <img src="img/img1.jpg" alt="" border="0">
                            <img src="img/img2.jpg" alt="" border="0">
                            <img src="img/img3.jpg" alt="" border="0">
                            <img src="img/img4.jpg" alt="" border="0">
                            <img src="img/img5.jpg" alt="" border="0">
                            <img src="img/img6.jpg" alt="" border="0">
                        </li>
                        <li>
                            <img src="img/img1.jpg" alt="" border="0">
                            <img src="img/img2.jpg" alt="" border="0">
                            <img src="img/img3.jpg" alt="" border="0">
                            <img src="img/img4.jpg" alt="" border="0">
                            <img src="img/img5.jpg" alt="" border="0">
                            <img src="img/img6.jpg" alt="" border="0">
                            <img src="img/img7.jpg" alt="" border="0">
                            <img src="img/img8.jpg" alt="" border="0">
                            <img src="img/img9.jpg" alt="" border="0">
                            <img src="img/img1.jpg" alt="" border="0">
                            <img src="img/img2.jpg" alt="" border="0">
                            <img src="img/img3.jpg" alt="" border="0">
                            <img src="img/img4.jpg" alt="" border="0">
                            <img src="img/img5.jpg" alt="" border="0">
                            <img src="img/img6.jpg" alt="" border="0">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
