<div id="networksBox" class="usr_Menu_pnl box-shadow content-background" data-ng-controller="networksCtrl">
    <div class="network-channels col-lg-12">
        <h3 class="networks-title" translate="NETWORKS_AMAZING_NETWORKS"></h3>
        <ul>
            <li data-ng-repeat="network in networks"><img data-ng-src="{{network.networkId}}" alt="{{network.networkAlt}}" data-ng-click="itemClicked($index)"/></li>
        </ul>
    </div>
    <div id="droidLogo" class="teasing"></div>
    <div id="networkDescription">
        <div data-ng-class="($index===selectedIndex) ? '{{networkClasses[1].className}}' : '{{networkClasses[0].className}}'" data-ng-repeat="network in networks">
            <span class="network-big-logo"><img data-ng-src="{{network.networkImage}}"></span>

            <div class="network-content">
                <h4>{{network.networkName}}</h4>

                <p translate="{{network.networkDescription1}}"></p>

                <p translate="{{network.networkDescription2}}"></p>

                <p translate="{{network.networkDescription3}}"></p>

                <p translate="{{network.networkDescription4}}"></p>
            </div>
        </div>
    </div>
</div>
