<div ng-controller="playerCtrl">
    <div class="player-panel" class="clear-both">
        <div id="playerTop" class="player-top">

            <div class="main-player position-div">
                <div id="yiptv-player"></div>
            </div>
            <div class="main-favorites position-div">
                <div class="favorite-channel position-div" ng-repeat="channel in channels | filter:{favorite: true} | limitTo:4" ng-mouseenter="favoriteChannelSelected($index)" ng-mouseleave="favoriteChannelSelected(-1)" ng-click="watchNowById(channel._id);">
                    <div id="favoriteChannelHolderFront" ng-class="($index === selectedFavoriteChannel) ? 'back' : 'front'">
                        <img class="img-responsive" ng-src="{{channel.logo}}"/>
                    </div>
                    <div id="favoriteChannelHolderBack" ng-class="($index === selectedFavoriteChannel) ? 'front' : 'back'">
                        <img class="img-responsive" ng-src="{{channel.logo}}"/>
                        <article>
                            <aside>
                                <img class="img-responsive" ng-src="/images/play-button.png"/>
                            </aside>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div id="playerBottom" class="suggested-channels ease">
            <div id="{{$index}}Promo" class="suggested-channel position-div" ng-class="{'suggested-channel-open':$index === selectedPromo}" ng-mouseenter="promoSelected($index)" ng-mouseleave="promoSelected(-1)" ng-repeat="promo in promos track by $index">

                <div id="channelHolderFront" ng-class="($index === selectedPromo) ? 'back' : 'front'">
                    <img ng-src="{{promo.imageFront}}"/>

                    <div class="channel-label">
                        <span>{{promo.name}}</span>
                    </div>
                </div>
                <div id="channelHolderBack" ng-class="($index === selectedPromo) ? 'front' : 'back'">
                    <img ng-src="{{promo.imageBack}}"/>
                    <article>
                        <aside>
                            <h4>{{promo.name}}</h4>

                            <p>{{promo.description}}</p>
                        </aside>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div id="channelMenuHolder" class="channel-panel">
        <div id="channelPreviewPanel" class="channel-preview" ng-show="isVisible">
            <div ng-repeat="listing in showListings track by $index" ng-click="watchNow(selectedChannel, $index)" compile-html="listing"></div>
            <div id="channelGuideLoading" class="progress" ng-show="loadingProgramGuide">
                <div class="progress-bar progress-bar-slategrey progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
        <div class="channel-list">
            <div class="filter-open-btn" title="{{ 'PLAYER_CHANNEL_FILTER' | translate }}" ng-click="toggleChannelFilter()"></div>
            <ul id="channelList">
                <li id="{{$index}}Channel" ng-repeat="channel in channels" ng-mouseenter="channelHovered($index)" ng-mouseleave="channelHovered(-1)" ng-click="channelClicked($index);">
                    <img title="{{channel.name}}" ng-src="{{channel.logo}}"/>

                    <div id="quickLook" class="quick-look-box" ng-show="$index === hoveredChannel">
                        <channel-hover></channel-hover>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="channelFilterHolder" ng-show="showChannelFilter">
        <div class="filter-close-btn label label-danger" ng-click="toggleChannelFilter()">X</div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8">
                <div class="channel-result">
                    <div><span translate="PLAYER_RESULTS"></span> <span ng-bind="filteredChannels.length"></span> <span translate="PLAYER_CHANNELS_FOUND"></span></div>
                    <ul>
                        <li ng-repeat="channel in filteredChannels">
                            <img title="{{channel.name}}" ng-src="{{channel.logo}}" ng-click="filteredChannelClicked(channel._id)"/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="channel-filters">
                    <div class="channel-filter-categories">
                        <span translate="PLAYER_CATEGORIES"></span>
                        <button class="btn btn-danger btn-xs" style="float:right" ng-click="clearAll()" translate="PLAYER_CLEAR_ALL"></button>
                    </div>
                    <div class="panel-group" id="categories" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingGenre">
                                <div class="panel-title">
                                    <a translate="PLAYER_GENRE" role="button" data-toggle="collapse" data-parent="#categories" href data-target="#collapseGenre" aria-expanded="true" aria-controls="collapseGenre"></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseGenre" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGenre">
                            <div class="panel-body">
                                <div ng-repeat="tag in getTags('Genre')">
                                    <input name="genreList[]" ng-checked="selectedGenres.indexOf(tag) > -1" ng-click="toggleGenreSelection(tag)" value="{{tag}}" type="checkbox"/>{{tag}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingRegion">
                                <div class="panel-title">
                                    <a translate="PLAYER_REGION" role="button" data-toggle="collapse" data-parent="#categories" href data-target="#collapseRegion" aria-expanded="true" aria-controls="collapseRegion"></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseRegion" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRegion">
                            <div class="panel-body">
                                <div ng-repeat="tag in getTags('Region')">
                                    <input name="regionList[]" ng-checked="selectedRegions.indexOf(tag) > -1" ng-click="toggleRegionSelection(tag)" value="{{tag}}" type="checkbox"/>{{tag}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingAudience">
                                <div class="panel-title">
                                    <a translate="PLAYER_AUDIENCE" role="button" data-toggle="collapse" data-parent="#categories" href data-target="#collapseAudience" aria-expanded="true" aria-controls="collapseAudience"></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseAudience" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAudience">
                            <div class="panel-body">
                                <div ng-repeat="tag in getTags('Audience')">
                                    <input name="audienceList[]" ng-checked="selectedAudiences.indexOf(tag) > -1" ng-click="toggleAudienceSelection(tag)" value="{{tag}}" type="checkbox"/>{{tag}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingLanguage">
                                <div class="panel-title">
                                    <a translate="PLAYER_LANGUAGE" role="button" data-toggle="collapse" value="{{tag}}" data-parent="#categories" href data-target="#collapseLanguage" aria-expanded="true" aria-controls="collapseLanguage"></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseLanguage" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingLanguage">
                            <div class="panel-body">
                                <div ng-repeat="tag in getTags('Language')">
                                    <input name="languageList[]" ng-checked="selectedLanguages.indexOf(tag) > -1" ng-click="toggleLanguageSelection(tag)" value="{{tag}}" type="checkbox"/>{{tag}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
