<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="PREFERENCES_HEADING">Preferences</span></h1>

        <div class="container">
            <div class="sign-in-box">
                <form name="form" id="form" ng-submit="updatePreferences()" novalidate>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <span class="label-text" translate="PREFERENCES_PREFERRED_LANGUAGE">Select your preferred language</span><br>

                    <select id="language" name="language" required ng-model="mv.language" class="txtbox2 txtboxdd" ng-class="{'txtbox-error': form.language.$dirty && form.language.$invalid}">
                        <option value="en">English</option>
                        <option value="es">Español</option>
                    </select>
                    <br>
                    <div class="error-msg" ng-show="form.language.$dirty && form.language.$error.required" translate="PREFERENCES_PREFERRED_LANGUAGE_REQUIRED">Select your preferred language</div>
                    <div class="frm-btn">
                        <button ng-disabled="saving" class="btn-submit" type="submit" translate="PREFERENCES_SUBMIT_BUTTON">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
