<div class="content-area">
    <div class="content-box">
        <h1><span translate="PR1_HEADING"></span></h1>

        <div class="container">
            <div class="press-release">
                <div class="press-release-title" translate="PR1_TITLE"></div>
                <br>

                <div class="press-release-sub-title" translate="PR1_SUBTITLE">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA1">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA2">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA3">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA4">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA5">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA6">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA7">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA8">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA9">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA10">
                </div>
                <br>

                <div class="content-text text-center" translate="PR1_PARA11">
                </div>
                <br>

                <div class="content-text justify-text" translate="PR1_PARA12">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
