<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="PR1_HEADING">Press Release</span></h1>

        <div class="container">
            <div class="press-release">
                <div class="pr-title" translate="PR1_TITLE">YipTV Announces Executive Team</div>
                <br>
                <br>

                <div class="pr-sub-title" translate="PR1_SUBTITLE">
                    Experienced Senior Leaders Poised to Transform Personal TV
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA1">
                    <span class="pr-bold">WEST PALM BEACH, Fla. (March 11, 2015)</span> — <a href="/">YipTV</a>, a startup poised to participate in the Internet-enabled revolution of the way TV programs are delivered, announced its executive team as it prepares to launch its new service later this month.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA2">
                    The <a href="/leadership">YipTV executive team</a> is made up of seasoned professionals who have more than 150 years of experience in offering iconic web-based consumer services from companies such as Vonage, IDT and Dialpad. Many of the team members worked together previously at Vonage.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA3">
                    <span class="pr-bold">Michael Tribolet, Chairman, Co-founder and CEO</span> has nearly 25 years of experience building privately and publicly owned companies with cross-border operations. Before YipTV, he served as CEO and managing director of ACN Europe. Prior to ACN, Tribolet was President at Vonage America, where he grew the company to 2.6 million paying customers with revenue increasing from $2 million to $900 million in less than five years. Prior to Vonage, Tribolet was vice president of operations at Dialpad Communications, which was acquired by Yahoo! Before
                    Dialpad, he was chairman and president of Data Products International, where he oversaw the global build-out of Internet telephony services.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA4">
                    <span class="pr-bold">Chuck Gaspari is a co-founder and chief legal officer</span> and has a strong background in strategic business operations, capital sourcing and strategic relationships, encompassing startup development, marketing, sales, mergers and acquisitions, and corporate policies and practices. He founded G&G Sports and Entertainment Group, Inc., and has worked with Motorola, Comcast and teams and clients in the NBA, NHL, PGA, LPGA and Major League Baseball. Gaspari also served as a White House staff assistant to then Vice President George H.W. Bush and as a
                    judicial law clerk for a U.S. Magistrate for the Southern District of Florida.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA5">
                    <span class="pr-bold">Mark Holodnak is chief financial officer</span> and has had an extensive career in corporate financial management, having served as finance manager, controller, treasurer or CFO with a number of companies -- including Oviso Manufacturing, Clear Choice Financial, Inter-Tel Inc. and Vonage. Holodnak was the founding VP Finance and Controller for Vonage before its IPO. At Vonage, he was instrumental in creating the finance department and implementing systems and processes that became the foundation for its exponential growth and eventual IPO.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA6">
                    <span class="pr-bold">Ian Wismann is chief marketing officer</span> and his marketing career has spanned more than two decades at Fortune 100 firms, including Citibank and Chase, and nimble startups, including Vonage and Snackable Media. At Vonage Wismann conceived and executed the online efforts that acquired the majority of the firm’s first million customers. Wismann is a former partner at the advertising agency Ogilvy & Mather. Prior to YipTV, he was head of marketing at advertising monitoring firm Competitrack and was head of ecommerce at the Colonial Penn Life
                    Insurance Company. Wismann currently serves on the Board of Directors for the Bankers Life and Casualty Company of New York, as well as two companies that service people with special needs.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA7">
                    <span class="pr-bold">Carmen Tribolet is a co-founder and executive vice president</span> and has over 15 years of experience in international telecommunications with global service providers, including market and product development; sales; contract negotiations; network design; project management; quality control; productivity improvement and operational efficiency. She formerly served as director of The Americas for Telecom Italia’s Sparkle subsidiary, where she was responsible for overseeing sales and marketing efforts for its international data and Internet protocol
                    services. Prior to Sparkle, Tribolet managed international voice operations during her seven years with IDT Telecom.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA8">
                    <span class="pr-bold">Giancarlo Paolillo is chief information officer</span> and has held positions ranging from CIO at ACN, chief technical officer at both Secure Internet Solutions and X Plus One, head of emerging technologies for Household International (now HSBC), senior VP of engineering and network security for Vonage to vice president for network engineering at Bank of America. At HSBC, he was responsible for the network design and support of over 30 million credit card customers for the company’s e-commerce solutions in Europe and the United States. At Vonage, he
                    scaled the infrastructure and software-development solutions from six points of presence to 36 in under two years, during which its customer base grew from fewer than 100,000 to more than 2 million.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA9">
                    YipTV has raised more than $4 million through contributions from founders and private investors. The seed round funding will be used for hiring, marketing and other operational expenditures related to launching the new YipTV service.
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA10">
                    For more information, please visit <a href="/">https://www.yiptv.com/</a>.
                </div>
                <br>
                <br>

                <div class="pr-para text-center" translate="PR1_PARA11">
                    # # #
                </div>
                <br>
                <br>

                <div class="pr-para align-text" translate="PR1_PARA12">
                    <span class="pr-bold">About YipTV</span> <br>
                    YipTV, Inc., is a privately held company based in West Palm Beach, Fla., that provides low-cost, live and on-demand, personalized television, including domestic and international network channels. Founded in 2012, YipTV is an Over the Top (OTT) television content provider that distributes over 50 channels and programs in multiple languages, letting subscribers watch YipTV on televisions, tablets, computers, smartphones and other Internet-enabled devices. YipTV
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
