<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="PRESS_RELEASE_HEADING">Press Release</span></h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="PRESS_RELEASE_DATE1">March 11, 2015</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a href="/press-release-1" translate="PRESS_RELEASE_TITLE1">YipTV Announces Executive Team</a>
                </div>
            </div>
            <div class="visible-xs-block">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 pr-para">
                    <p translate="PRESS_RELEASE_DATE2">March 11, 2015</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 pr-para">
                    <a target="_blank" href="http://blog.tmcnet.com/blog/rich-tehrani/video/will-yiptv-do-to-tv-what-vonage-did-to-voice-calls.html" translate="PRESS_RELEASE_TITLE2">Will YipTV do to TV what Vonage did to Voice Calls?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
