<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="PRESS_RELEASE_HEADING">Press Release</span></h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3">
                    <p translate="PRESS_RELEASE_DATE1">March 11, 2015</p>
                </div>
                <div class="col-lg-6">
                    <a href="/press-release-1" translate="PRESS_RELEASE_TITLE1">YipTV Announces Executive Team</a>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
