<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="PRIVACY_POLICY_HEADING">Privacy Policy</span></h1>

        <div class="container">
            <div class="about-us">

                <div class="about-desc">

                    <div class="about-text" translate="PRIVACY_POLICY_DATE"></div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA1">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA2">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA3"></div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA4"></div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER1">1. Information We Collect</div>
                    <br>

                    <div class="para-header" translate="PRIVACY_POLICY_PARA_HEADER1">Information from you</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA5"></div>
                    <br>

                    <ul class="content-list align-text">
                        <li translate="PRIVACY_POLICY_PARA5_BULLET1">Register to use the Services and enroll in a membership or refer a friend program.</li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET2">Make a purchase through the Services.</li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET3">Sign-up to receive a newsletter and/or special offers.</li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET4">Participate in user polls or contests.</li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET5">Contact us to make a request or obtain customer support.</li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET6">Otherwise submit information to us through the Services.</li>
                    </ul>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA6"></div>
                    <br>

                    <div class="para-header" translate="PRIVACY_POLICY_PARA_HEADER2">Information We Collect Automatically</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA7">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA8">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA9">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA10">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA11">
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA12">
                    </div>
                    <br>

                    <div class="para-header" translate="PRIVACY_POLICY_PARA_HEADER3">Information from third parties</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA13">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER2">2. Our Use of Your Information</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA14">
                    </div>
                    <br>
                    <ul class="content-list align-text">
                        <li translate="PRIVACY_POLICY_PARA14_BULLET1">Create and maintain your registration or membership;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET2">Understand user preferences to enhance the user experience with the Services;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET3">Perform statistical research and analytics;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET4">Customize and personalize the content and advertising that you see on the Services, including by providing recommendations regarding content or programming that we think will be enjoyable for you;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET5">Respond to and fulfill your requests for products and services;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET6">Monitor your use of the Services;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET7">Perform quality control and troubleshooting, and respond to your requests;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET8">Send you newsletters, as well as messages about new Services features, special offers, promotional announcements, consumer surveys and other correspondence concerning our Services or the services of our business partners;</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET9">Enabling you to resume watching content after you have switched devices; and</li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET10">Determine your location and your Internet service provider.</li>
                    </ul>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA15">You agree that after you no longer subscribe to our Services, we have the right to retain your viewing records for up to one year in order to: (1) prevent fraud; (2) report viewing history for royalty purposes or viewing analysis; and (3) restore your service and viewing history upon future request.
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER3">3. How We Share Your Information</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA15">We may share or make available your personal information with certain third parties. For example, we may share your personal information with:
                    </div>
                    <br>
                    <ul class="content-list align-text">
                        <li translate="PRIVACY_POLICY_PARA15_BULLET1">Affiliates, including affiliated websites under common ownership or control and companies that are part of YIPTV, Inc. If we choose to share information in this fashion, we will require our affiliates to honor this Policy.</li>
                        <li translate="PRIVACY_POLICY_PARA15_BULLET2">Designated service providers, who may assist us in developing, supporting and delivering our products and services and serving our users. For example, we may share your information with services that provide technical assistance, payment services, service and product analytics, fraud protection, credit risk reduction, and other support services on our behalf, and that deliver advertisements in the Services. We take reasonable steps to require these third parties to safeguard personal information and require them to adhere to
                            terms consistent with this Policy.
                        </li>
                        <li translate="PRIVACY_POLICY_PARA15_BULLET3">Unaffiliated third parties, including third parties that (1) own content and technologies used in our products and services to report on and account for use of such content and technologies by our users; or (2) with whom we offer co-branded, joint or customized products or services. We take reasonable steps to require these third parties to safeguard your personal information.</li>
                        <li translate="PRIVACY_POLICY_PARA15_BULLET4">Social networks, through which you can access the Services and/or connect with your account (such as Facebook or Twitter). If you connect to a third party social media service through an icon or link on the Services or otherwise link your accounts, we may share the contents of your post and associated information (such as your user name, the fact that your connection originated from the Services, and other relevant usage and diagnostic information) with such third party. With your one-time consent, we may also send
                            information about the programming and content you watch and your activities on the Services to such third parties. Once such information is shared, the use of your information will be subject to that service's privacy policy and this Policy will not apply.
                        </li>
                        <li translate="PRIVACY_POLICY_PARA15_BULLET5">Other persons or entities, such as:</li>
                        <ul class="content-list align-text">
                            <li translate="PRIVACY_POLICY_PARA15_BULLET6">In connection with the sale, transfer, or other assignment of our business, including with a company that acquires YipTV or all or substantially all of our assets. If we are acquired by another company or if another company acquires some or all of our assets, that company will possess the personal information collected by us and will assume the rights and obligations as described in this Policy;</li>
                            <li translate="PRIVACY_POLICY_PARA15_BULLET7">When we believe in good faith that disclosure, access, use, or preservation is necessary to comply with any applicable law, regulation, legal process or governmental request;</li>
                            <li translate="PRIVACY_POLICY_PARA15_BULLET8">To enforce or apply our policies and agreements;</li>
                            <li translate="PRIVACY_POLICY_PARA15_BULLET9">To protect our rights and property, including to combat identity theft, to investigate billing fraud and to prevent unauthorized reception of our programming or services;</li>
                            <li translate="PRIVACY_POLICY_PARA15_BULLET10">When we have your consent, or</li>
                            <li translate="PRIVACY_POLICY_PARA15_BULLET11">oWhere otherwise permitted by law.</li>
                        </ul>
                    </ul>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA16">In most cases where disclosure of your personal information is being made pursuant to legal process, we will use reasonable efforts to provide you with prior notice of the subpoena or court order so that you have the opportunity to contest in a court proceeding such subpoena or court order.
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA17">Non-personal information. We may anonymize or aggregate any information we collect so that the information does not identify you. For example, we may share aggregate information with advertisers, analytics companies, or content providers about the volume of use on the Services, the specific videos in which users are most interested, and the effectiveness of advertisements viewed on the Services. We may also disclose and otherwise use, on an anonymous or de-identified basis, content ratings, consumption habits,
                        commentary, reviews and other information. You understand and agree that when we share viewing information using a unique identifier that does not reveal who you are, this unique identifier is not considered personal information and you will not assert that it should be treated as personal information. Our use and disclosure of such anonymized, aggregated, and other non-personal information is not subject to any restrictions under this Policy and we may use it and disclose it to others for any purpose without limitation.
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER4">4. Your privacy settings</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA18">Your use of the Services constitutes your explicit consent to our collection, use and disclosure of your information, including your personal information, as provided in this Policy.
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA19">We may, from time to time, use your information to contact you by mail, e-mail or telephone to tell you about products or services that we or third parties may offer. If you do not wish to receive such calls or promotional materials from us, e-mail: <a href="mailto:info@yiptv.com">info@yiptv.com</a> or mail us at YipTV Privacy Policy, c/o YipTV, Inc., 3300 South Dixie Highway, Suite 1-186, West Palm Beach, Florida 33405, or visit the "Email Notifications" page on the Site. If you make these choices, you understand
                        that we will not be able to inform you about any upcoming features, improvements, or promotions regarding our products or services.
                    </div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA20">Please note that you cannot unsubscribe from certain service-related correspondence from us, including messages relating to your account transactions. Regardless of your choices with respect to promotional communications and updates regarding content, we may send you administrative messages, service announcements, terms and conditions of your account, or other similar communications, without offering you the opportunity to opt out of receiving them.
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER5">5. Links to third-party websites</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA21">The Services may contain links to websites or applications operated by third parties, including social networking websites. Since we do not control third-party sites and are not responsible for any information you may provide while on such sites, we encourage you to read the privacy policies on those websites before providing any of your information on such sites.
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER6">6. Security of personal information</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA22">We have implemented reasonable administrative, technical, and physical safeguards to protect your information. However, no system is completely secure or error-free. We do not, and cannot, guarantee the complete security of your information. To help us protect your privacy, you should maintain the secrecy of your email address and the password you may have set up in connection with your participation in the Services.
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER7">7. Accessing and updating your personal information</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA23">You may obtain access to your personal information that you have provided directly to us and correct any errors in such information by visiting the "Account Membership" and "Billing Details" pages of the Site (<a href="http://www.yiptv.com">http://www.YipTV.com</a>).
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER8">8. Children's privacy</div>
                    <br>

                    <div class="align-text" translate="PRIVACY_POLICY_PARA24">You must be 18 years of age or older to become a member of the Services and engage in transactions through the Services, and we do not knowingly collect personal information online from, or market online to, children under 13. If we become aware that a child under 13 has provided us with personal information, we will take steps to remove such information and terminate the child's account.
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
