<div class="content-area">
    <div class="content-box">
        <h1><span translate="PRIVACY_POLICY_HEADING"></span></h1>

        <div class="container">
            <div class="paragraph-area">

                <div class="content-text">

                    <div class="bolder-text" translate="PRIVACY_POLICY_DATE"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA1">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA2">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA3"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA4"></div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER1"></div>
                    <br>

                    <div class="paragraph-header" translate="PRIVACY_POLICY_PARA_HEADER1"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA5"></div>
                    <br>

                    <ul class="content-list justify-text">
                        <li translate="PRIVACY_POLICY_PARA5_BULLET1"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET2"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET3"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET4"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET5"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET6"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET7"></li>
                        <li translate="PRIVACY_POLICY_PARA5_BULLET8"></li>
                    </ul>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA6"></div>
                    <br>

                    <div class="paragraph-header" translate="PRIVACY_POLICY_PARA_HEADER2"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA7">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA8">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA9">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA10">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA11">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA12">
                    </div>
                    <br>

                    <div class="paragraph-header" translate="PRIVACY_POLICY_PARA_HEADER3"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA13">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER2"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA14">
                    </div>
                    <br>
                    <ul class="content-list justify-text">
                        <li translate="PRIVACY_POLICY_PARA14_BULLET1"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET2"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET3"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET4"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET5"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET6"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET7"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET8"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET9"></li>
                        <li translate="PRIVACY_POLICY_PARA14_BULLET10"></li>
                    </ul>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA15">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER3"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA16">
                    </div>
                    <br>
                    <ul class="content-list justify-text">
                        <li translate="PRIVACY_POLICY_PARA16_BULLET1"></li>
                        <li translate="PRIVACY_POLICY_PARA16_BULLET2"></li>
                        <li translate="PRIVACY_POLICY_PARA16_BULLET3"></li>
                        <li translate="PRIVACY_POLICY_PARA16_BULLET4"></li>
                        <li translate="PRIVACY_POLICY_PARA16_BULLET5"></li>
                        <ul class="content-list justify-text">
                            <li translate="PRIVACY_POLICY_PARA16_BULLET6"></li>
                            <li translate="PRIVACY_POLICY_PARA16_BULLET7"></li>
                            <li translate="PRIVACY_POLICY_PARA16_BULLET8"></li>
                            <li translate="PRIVACY_POLICY_PARA16_BULLET9"></li>
                            <li translate="PRIVACY_POLICY_PARA16_BULLET10"></li>
                            <li translate="PRIVACY_POLICY_PARA16_BULLET11"></li>
                        </ul>
                    </ul>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA17">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA18">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER4"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA19">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA20">
                    </div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA21">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER5"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA22">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER6"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA23">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER7"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA24">
                    </div>
                    <br>

                    <div class="numbered-header" translate="PRIVACY_POLICY_NUMBERED_HEADER8"></div>
                    <br>

                    <div class="justify-text" translate="PRIVACY_POLICY_PARA25">
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
