<div class="content-area">
    <div class="content-box">
        <h1><span translate="REACTIVATE_SUBSCRIPTION_HEADING"></span></h1>

        <div class="container message-box" ng-hide="user.type === 'paid' && user.status === 'canceled'">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="text-center"><p><span translate="REACTIVATE_SUBSCRIPTION_ACCESS_ERROR"></span> <span ng-bind="appConfig.customerCareNumber"></span>.</p></div>
                </div>
            </div>
        </div>

        <div class="container" ng-show="user.type === 'paid' && user.status === 'canceled'">
            <div class="form-box">
                <div class="form-container">
                    <div class="full-form">
                        <div class="message"><span translate="REACTIVATE_SUBSCRIPTION_MESSAGE"></span></div>
                    </div>
                </div>

                <form name="form" id="form" ng-submit="reactivateSubscription()" novalidate>
                    <div class="full-form">
                        <span class="message" translate="REACTIVATE_SUBSCRIPTION_BILLING_INFO"></span> <span class="label-text" ng-bind="appConfig.customerCareNumber"></span>.<br>
                    </div>

                    <div class="full-form">
                        <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_CARD_NAME"></span>
                        <br><input autofocus valid-name autocomplete="off" type="text" id="cardName" name="cardName" ng-model="mv.cardName" maxlength="128" required class="text-box" ng-class="{'text-box-error': form.cardName.$dirty && form.cardName.$invalid}">

                        <div class="error-message" ng-show="form.cardName.$dirty && form.cardName.$error.required" translate="REACTIVATE_SUBSCRIPTION_CARD_NAME_REQUIRED"></div>
                        <div class="error-message" ng-show="form.cardName.$dirty && !form.cardName.$error.required && form.cardName.$error.validName" translate="REACTIVATE_SUBSCRIPTION_CARD_NAME_INVALID"></div>
                    </div>

                    <div class="full-form">
                        <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_CARD_NUMBER"></span>
                        <br><input autocomplete="off" type="text" id="cardNumber" name="cardNumber" ng-model="mv.cardNumber" maxlength="19" required class="text-box {{form.cardNumber.$card.type}}" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="{'text-box-error': form.cardNumber.$dirty && form.cardNumber.$invalid}">

                        <div class="error-message" ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required" translate="REACTIVATE_SUBSCRIPTION_CARD_NUMBER_REQUIRED"></div>
                        <div class="error-message" ng-show="form.cardNumber.$dirty && form.cardNumber.$error.card" translate="REACTIVATE_SUBSCRIPTION_CARD_NUMBER_ERROR"></div>
                    </div>
                    <div class="form-container">
                        <div class="half-form">
                            <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_EXPIRY_DATE"></span>
                            <br>
                            <input autocomplete="off" id="expiryDate" maxlength="9" required payments-validate="expiry" payments-format="expiry" name="expiryDate" ng-model="mv.expiryDate" class="text-box" ng-class="{'text-box-error': form.expiryDate.$dirty && form.expiryDate.$invalid}">

                            <div class="error-message" ng-show="form.expiryDate.$dirty && form.expiryDate.$error.required" translate="REACTIVATE_SUBSCRIPTION_EXPIRY_DATE_REQUIRED"></div>
                            <div class="error-message" ng-show="form.expiryDate.$dirty && !form.expiryDate.$error.required && form.expiryDate.$error.expiry" translate="REACTIVATE_SUBSCRIPTION_EXPIRY_DATE_INVALID"></div>
                        </div>
                        <div class="half-form">
                            <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_CVV"></span>
                            <br><input autocomplete="off" type="password" id="cvv" name="cvv" ng-model="mv.cvv" required maxlength="4" class="text-box" payments-validate="cvc" payments-format="cvc" payments-type-model="type" ng-class="{'text-box-error': form.cvv.$dirty && form.cvv.$invalid}">

                            <div class="error-message" ng-show="form.cvv.$dirty && form.cvv.$error.required" translate="REACTIVATE_SUBSCRIPTION_CVV_REQUIRED"></div>
                            <div class="error-message" ng-show="form.cvv.$dirty && !form.cvv.$error.required && (form.cvv.$error.cvc || form.cvv.$invalid)" translate="REACTIVATE_SUBSCRIPTION_CARD_NUMBER_CVV_ERROR"></div>
                        </div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_ADDRESS"></span>
                        <br><input valid-address autocomplete="off" type="text" id="address" name="address" ng-model="mv.address" maxlength="80" required class="text-box" ng-class="{'text-box-error': form.address.$dirty && form.address.$invalid}">

                        <div class="error-message" ng-show="form.address.$dirty && form.address.$error.required" translate="REACTIVATE_SUBSCRIPTION_ADDRESS_REQUIRED"></div>
                        <div class="error-message" ng-show="form.address.$dirty && !form.address.$error.required && form.address.$error.validAddress" translate="REACTIVATE_SUBSCRIPTION_ADDRESS_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_CITY"></span>
                        <br><input valid-address autocomplete="off" type="text" id="city" name="city" maxlength="80" required ng-model="mv.city" class="text-box" ng-class="{'text-box-error': form.city.$dirty && form.city.$invalid}">

                        <div class="error-message" ng-show="form.city.$dirty && form.city.$error.required" translate="REACTIVATE_SUBSCRIPTION_CITY_REQUIRED"></div>
                        <div class="error-message" ng-show="form.city.$dirty && !form.city.$error.required && form.city.$error.validAddress" translate="REACTIVATE_SUBSCRIPTION_CITY_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_STATE"></span>
                        <br>
                        <select id="state" name="state" required ng-model="mv.state" ng-options="state.code as state.name for state in states" class="text-box drop-down-list" ng-class="{'text-box-error': form.state.$dirty && form.state.$invalid}">
                            <option value="" translate="REACTIVATE_SUBSCRIPTION_STATE_SELECT"></option>
                        </select>

                        <div class="error-message" ng-show="form.state.$dirty && form.state.$error.required" translate="REACTIVATE_SUBSCRIPTION_STATE_REQUIRED"></div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="REACTIVATE_SUBSCRIPTION_ZIP_CODE"></span>
                        <br><input autocomplete="off" type="text" id="zipCode" name="zipCode" maxlength="5" required ng-pattern="/^\d{5}$/" ng-model="mv.zipCode" class="text-box" ng-class="{'text-box-error': form.zipCode.$dirty && form.zipCode.$invalid}">

                        <div class="error-message" ng-show="form.zipCode.$dirty && form.zipCode.$error.required" translate="REACTIVATE_SUBSCRIPTION_ZIP_CODE_REQUIRED"></div>
                        <div class="error-message" ng-show="form.zipCode.$dirty && form.zipCode.$error.pattern" translate="REACTIVATE_SUBSCRIPTION_ZIP_CODE_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <button ng-disabled="saving" type="submit" class="submit-button" translate="REACTIVATE_SUBSCRIPTION_SUBMIT_BUTTON"></button>
                    </div>
                    <div class="full-form center-form"><span translate="REACTIVATE_SUBSCRIPTION_PROBLEM"></span><span ng-bind="appConfig.customerCareNumber"></span></div>
                </form>
            </div>
        </div>
    </div>
</div>
