<div class="content-area">
    <div class="setting-box">
        <h1><span translate="RAF_HEADING">Refer A Friend</span></h1>

        <div class="container">
            <div class="sign-in-box">
                <br>
                <span class="label-text" translate="RAF_MESSAGE">Refer your friends and get one month free subscription to YipTV for each friend you refer!</span>
                <br><br><br>

                <form name="form" id="form" novalidate ng-submit="sendRafEmails()">
                    <a href="#" class="btn-import cs_import" translate="RAF_IMPORT_CONTACT_LIST">Import From My Contact List</a>
                    <br><br>
                    <span class="label-text" translate="RAF_OR">or</span>
                    <br><br>
                    <span class="label-text" translate="RAF_ENTER_FRIENDS_EMAIL">Enter friends' email addresses separated by commas </span>
                    <br>
                    <textarea autofocus valid-email-list id="emailList" name="emailList" class="txtbox2 textarea2" ng-model="mv.emailList" value="" required ng-class="{'txtbox-error': form.emailList.$dirty && form.emailList.$invalid}"></textarea>
                    <br>

                    <div ng-show="form.emailList.$dirty && form.emailList.$error.required" class="error-msg" translate=" RAF_EMAIL_LIST_REQUIRED">Enter at least a single email address</div>
                    <div ng-show="form.emailList.$dirty && !form.emailList.$error.required && form.emailList.$error.validEmailList" class="error-msg" translate="RAF_EMAIL_LIST_INVALID">One or more email addresses are invalid</div>
                    <br>
                    <div ng-show="user.email === ''">
                        <span class="label-text" translate="RAF_MY_EMAIL">My Email</span><br>
                        <input name="email" is-email id="email" maxlength="50" autocomplete="off" type="text" class="txtbox2" ng-model="mv.email" required ng-class="{'txtbox-error': form.email.$dirty && form.email.$invalid}"/>

                        <div ng-show="form.email.$dirty && form.email.$error.required" class="error-msg" translate="RAF_EMAIL_REQUIRED">Enter your email</div>
                        <div ng-show="form.email.$dirty && !form.email.$error.required && form.email.$error.isEmail" class="error-msg" translate="RAF_EMAIL_INVALID">Enter a valid email</div>
                        <br>
                    </div>
                    <br>
                    <button class="btn-submit" type="submit" translate="RAF_SEND_INVITE">Send Invite</button>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
<script src="//api.cloudsponge.com/widget/6155963e82b72493baa22224b7869f8579c2f67c.js"></script>
<script>
    var appendInTextarea = true;  // whether to append to existing contacts in the textarea
    var emailSep = ', ';  // email address separator to use in textarea
    function populateTextArea(contacts, source, owner) {
        var email;
        var emails = [];
        var textarea = document.getElementById('emailList');
        if (appendInTextarea && textarea.value.strip().length > 0) {
            emails = textarea.value.split(emailSep);
        }
        for (var i = 0; i < contacts.length; i++) {
            email = contacts[i].selectedEmail();
            if (emails.indexOf(email) < 0) {
                emails.push(email);
            }
        }
        textarea.value = emails.join(emailSep);
        var input = $('#emailList');
        input.trigger('input');
        input.trigger('change');
    }

    window.csPageOptions = {
        mobile_render: true,
        sources: ['gmail', 'linkedin', 'yahoo', 'facebook', 'windowslive', 'aol', 'plaxo', 'outlook', 'addressbook'],
        afterSubmitContacts: populateTextArea
    };
</script>
