<div class="contentarea">
    <div class="setting-box1">
        <h1><span translate="REFER_FRIEND_HEADING">Refer A Friend</span></h1>

        <div class="container">
            <div class="signin-box">
                <form id="form" name="form">
                    <!-- CloudSponge - any link with a class="cs_import" will start the import process -->
                    <p class="text-center"><a class="cs_import btn-import" translat="REFER_FRIEND_IMPORT_EMAIL">Import Emails from Contact List</a></p>
                    <!-- This textarea will be populated with the contacts returned by CloudSponge -->
                    <p class="text-center">OR</p>
                    <span class="label-text">Enter your friends' email address</span>
                    <textarea id="emailList" class="txtbox2 textarea2"></textarea>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
<script>
    window.csPageOptions = {
        domain_key: angular.element(document.querySelector('[ng-controller="mainCtrl"]')).scope().appConfig.cloudSpongeDomainKey,
        textarea_id: 'emailList',
        include: ['email'],
        mobileRender: true

    };
    (function (u) {
        var d = document, s = 'script', a = d.createElement(s), m = d.getElementsByTagName(s)[0];
        a.async = 1;
        a.src = u;
        m.parentNode.insertBefore(a, m);
    })('//api.cloudsponge.com/address_books.js');
</script>
