<div class="contentarea">
    <div class="setting-box1">
        <h1><span>Refer A Friend</span></h1>

        <div class="container">
            <div class="signin-box">
                <form name="form" id="form" ng-submit="importContacts()" novalidate>
                    <!-- CloudSponge - any link with a class="cs_import" will start the import process -->
                    <p class="text-center"><a id="importCloudSponge" class="cs_import btn-import" >Import Emails from Contact List</a></p>
                    <!-- This textarea will be populated with the contacts returned by CloudSponge -->
                    <p class="text-center">OR</p>
                    <p class="text-center"><span class="label-text">Enter your friends' email address</span></p>
                    <textarea id="emailList" class="txtbox2 textarea2"></textarea>
                    <button ng-disabled="saving" type="submit" class="btn-submit">
                        Send Invite</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
<script>
    window.csPageOptions = {
        domain_key: angular.element(document.querySelector('[ng-controller="mainCtrl"]')).scope().appConfig.cloudSpongeDomainKey,
        textarea_id: 'emailList',
        include: ['email'],
        mobile_render: true,
        sources: ['gmail', 'yahoo', 'facebook', 'linkedin', 'windowslive', 'aol', 'plaxo', 'outlook', 'addressbook']
    };
    (function (u) {
        var d = document, s = 'script', a = d.createElement(s), m = d.getElementsByTagName(s)[0];
        a.async = 1;
        a.src = u;
        m.parentNode.insertBefore(a, m);
    })('//api.cloudsponge.com/address_books.js');
</script>
