<div class="content-area">
    <div class="content-box">
        <h1><span translate="RESET_PASSWORD_HEADING"></span></h1>

        <div class="container" ng-show="showPage">
            <div class="form-box" ng-hide="codeError || userError">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <form name="form" id="form" ng-submit="resetPassword()" novalidate>
                    <span class="label-text" translate="RESET_PASSWORD_NEW_PASSWORD"></span><br>
                    <input autofocus focus-watch="showPage" focus-value="true" required complex-password ng-model="mv.newPassword" id="newPassword" name="newPassword" maxlength="20" type="password" autocomplete="off" class="text-box" ng-class="{'text-box-error': form.newPassword.$dirty && form.newPassword.$invalid}">

                    <div class="error-message" ng-show="form.newPassword.$dirty && form.newPassword.$error.required" translate="RESET_PASSWORD_NEW_PASSWORD_REQUIRED"></div>
                    <div class="error-message" ng-show="form.newPassword.$dirty && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="RESET_PASSWORD_NEW_PASSWORD_NOT_COMPLEX"></div>
                    <div>
                        <ul class="passwordStrength" password-strength="newPassword"></ul>
                    </div>
                    <br><br><span class="label-text" translate="RESET_PASSWORD_CONFIRM_PASSWORD"></span><br>
                    <input required autocomplete="off" same-as="mv.newPassword" id="confirmPassword" name="confirmPassword" ng-model="mv.confirmPassword" maxlength="20" type="password" class="text-box" ng-class="{'text-box-error': form.confirmPassword.$dirty && form.confirmPassword.$invalid}">

                    <div class="error-message" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" translate="RESET_PASSWORD_CONFIRM_PASSWORD_REQUIRED"></div>
                    <div class="error-message" ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$error.required && form.confirmPassword.$error.sameAs" translate="RESET_PASSWORD_CONFIRM_PASSWORD_NO_MATCH"></div>
                    <br><br><br>

                    <button type="submit" ng-disabled="saving" class="submit-button" translate="RESET_PASSWORD_BUTTON"></button>
                </form>
            </div>
            <div ng-show="codeError">
                <div class="message-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="text-center" translate="RESET_PASSWORD_CODE_ERROR"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="userError">
                <div class="message-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="text-center">{{ "RESET_PASSWORD_USER_ERROR" | translate }} {{appConfig.customerCareNumber}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
