<div class="contentarea">
    <div class="setting-box1">
        <h1><span translate="RESET_PASSWORD_HEADING">Reset Password</span></h1>

        <div class="container">
            <div class="forgot-box" ng-hide="codeError">
                <form name="form" id="form" ng-submit="resetPassword()" novalidate>
                    <span class="label-text" translate="RESET_PASSWORD_NEW_PASSWORD">New Password</span><br>
                    <input autofocus required complex-password ng-model="mv.newPassword" id="newPassword" name="newPassword" maxlength="20" type="password" autocomplete="off" class="txtbox1" ng-class="{'txtbox-error': form.newPassword.$dirty && form.newPassword.$invalid}">

                    <div class="error-msg" ng-show="form.newPassword.$dirty && form.newPassword.$error.required" translate="RESET_PASSWORD_NEW_PASSWORD_REQUIRED">Enter your password</div>
                    <div class="error-msg" ng-show="form.newPassword.$dirty && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="RESET_PASSWORD_NEW_PASSWORD_NOT_COMPLEX">Password needs to be at least 8 characters, contain 1 uppercase & 1 lowercase letter, 1 number & 1 special character</div>
                    <br><br><span class="label-text" translate="RESET_PASSWORD_CONFIRM_PASSWORD">Confirm Password</span><br>
                    <input required autocomplete="off" same-as="mv.newPassword" id="confirmPassword" name="confirmPassword" ng-model="mv.confirmPassword" maxlength="20" type="password" class="txtbox1" ng-class="{'txtbox-error': form.confirmPassword.$dirty && form.confirmPassword.$invalid}">

                    <div class="error-msg" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" translate="RESET_PASSWORD_CONFIRM_PASSWORD_REQUIRED">Confirm your password</div>
                    <div class="error-msg" ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$error.required && form.confirmPassword.$error.sameAs" translate="RESET_PASSWORD_CONFIRM_PASSWORD_NO_MATCH">Passwords do not match</div>
                    <br>

                    <div class="frm-btn">
                        <button type="submit" ng-disabled="saving" class="btn-submit" translate="RESET_PASSWORD_BUTTON">Submit</button>
                    </div>
                </form>
            </div>
            <div class="forgot-box" ng-show="codeError">
                <div class="marketing">
                    <div class="row">
                        <div class="col-lg-12 col-md-12  col-sm-12">
                            <p class="text-center" translate="RESET_PASSWORD_USER_ERROR">The reset password link has expired and is no longer valid</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
