<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="RESEND_VERIFICATION_SUCCESS_HEADING">Verification Link Sent</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="text-center" translate="RESEND_VERIFICATION_SUCCESS_MESSAGE">We have sent you the account verification link. Please check your email.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
