<div class="contentarea">
  <div class="setting-box">
    <h1><span>SETTINGS</span></h1>
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 col-md-4  col-sm-4">
          <a href="#" title="Change credit card" class="credit-card">Change credit card</a>
        </div>
        <div class="col-lg-4 col-md-4  col-sm-4">
          <a href="#" title="Change user password" class="user-password">Change user password</a>
        </div>
        <div class="col-lg-4 col-md-4  col-sm-4">
          <a href="#" title="Cancel subscription" class="subscription">Cancel subscription</a>
        </div>
      </div>
    </div>
  </div>
  <div class="btm-bg">&nbsp;</div>
</div>
