<div id="showsBox" class="shows-panel content-background" data-ng-controller="showsCtrl">
    <div class="show-channels box-shadow jumbotron">
        <div class="shows-container container">
            <div class="category-title"><span class="category-line-left"></span><span class="category-name" translate="SHOWS_TITLE_SPORTS"></span><span class="category-line-right"></span></div>
            <div class="shows-category">
                <div class="panel panel-default col-md-2 panel-closed" data-ng-class="{'panel-open':$index == selectedIndexSports}" data-ng-click="itemClickedSports($index)" data-ng-repeat="show in sports">
                    <div class="show-panel" data-ng-class="($index===selectedIndexSports) ? 'back' : 'front'">
                        <div class="panel-body"><img data-ng-src="{{show.banner}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.title}}"></dt>
                                <dd translate="{{show.channelDescription}}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="show-panel" data-ng-class="($index===selectedIndexSports) ? 'front' : 'back'">
                        <div class="panel-body"><img class="back-image" data-ng-src="{{show.channel}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.title}}"></dt>
                                <dd translate="{{show.description}}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-title"><span class="category-line-left"></span><span class="category-name" translate="SHOWS_TITLE_NEWS"></span><span class="category-line-right"></span></div>
            <div class="shows-category">
                <div class="panel panel-default col-md-2 panel-closed" data-ng-class="{'panel-open':$index === selectedIndexNews}" data-ng-click="itemClickedNews($index)" data-ng-repeat="show in news">
                    <div class="show-panel" data-ng-class="($index===selectedIndexNews) ? 'back' : 'front'">
                        <div class="panel-body"><img data-ng-src="{{show.banner}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.title}}"></dt>
                                <dd translate="{{show.channelDescription}}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="show-panel" data-ng-class="($index===selectedIndexNews) ? 'front' : 'back'">
                        <div class="panel-body"><img class="back-image" data-ng-src="{{show.channel}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.title}}"></dt>
                                <dd translate="{{show.description}}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-title"><span class="category-line-left"></span><span class="category-name" translate="SHOWS_TITLE_ENTERTAINMENT"></span><span class="category-line-right"></span></div>
            <div class="shows-category">
                <div class="panel panel-default col-md-2 panel-closed" data-ng-class="{'panel-open':$index===selectedIndexEntertainment}" data-ng-click="itemClickedEntertainment($index)" data-ng-repeat="show in entertainment">
                    <div class="show-panel" data-ng-class="($index===selectedIndexEntertainment) ? 'back' : 'front'">
                        <div class="panel-body"><img data-ng-src="{{show.banner}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.title}}"></dt>
                                <dd translate="{{show.channelDescription}}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="show-panel" data-ng-class="($index===selectedIndexEntertainment) ? 'front' : 'back'">
                        <div class="panel-body"><img class="back-image" data-ng-src="{{show.channel}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.title}}"></dt>
                                <dd translate="{{show.description}}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
