<div id="Shws_Bx" class="usr_Guide_pnl cntntBxBck" data-ng-controller='showsCtrl'>
    <div class='pg2_popchnls mnuShdw jumbotron'>
        <div class='pg2_shws container'>
            <div class="catTitle"><span class="catLine_l"></span><span class="catName" translate="SHOWS_TITLE_SPORTS">international sports</span><span class="catLine_r"></span></div>
            <div class="shwsCtgry">
                <div class="{{showClasses[2].className}} {{showClasses[3].className}} {{showClasses[4].className}} {{showClasses[0].className}}" data-ng-class="{'{{showClasses[1].className}}':$index == selectedIndex1}" data-ng-click="itemClicked1($index)" data-ng-repeat="show in shows1">
                    <div class="shwPanel" data-ng-class="($index==selectedIndex1) ? '{{showClasses[6].className}}' : '{{showClasses[5].className}}'">
                        <div class='panel-body'><img data-ng-src='{{show.showBanner}}'/></div>
                        <div class='panel-footer'>
                            <dl>
                                <dt>{{show.showTitle}}</dt>
                                <dd>{{show.showDescriptionContent}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="shwPanel" data-ng-class="($index==selectedIndex1) ? '{{showClasses[5].className}}' : '{{showClasses[6].className}}'">
                        <div class='panel-body'><img class="bckImg" data-ng-src='{{show.channelId}}'/></div>
                        <div class='panel-footer'>
                            <dl>
                                <dt>{{show.showTitle}}</dt>
                                <dd>{{show.showDescription}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catTitle"><span class="catLine_l"></span><span class="catName" translate="SHOWS_TITLE_NEWS">Latin American and Global News</span><span class="catLine_r"></span></div>
            <div class="shwsCtgry">
                <div class="{{showClasses[2].className}} {{showClasses[3].className}} {{showClasses[4].className}} {{showClasses[0].className}}" data-ng-class="{'{{showClasses[1].className}}':$index == selectedIndex2}" data-ng-click="itemClicked2($index)" data-ng-repeat="show in shows2">
                    <div class="shwPanel" data-ng-class="($index==selectedIndex2) ? '{{showClasses[6].className}}' : '{{showClasses[5].className}}'">
                        <div class='panel-body'><img data-ng-src='{{show.showBanner}}'/></div>
                        <div class='panel-footer'>
                            <dl>
                                <dt>{{show.showTitle}}</dt>
                                <dd>{{show.showDescriptionContent}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="shwPanel" data-ng-class="($index==selectedIndex2) ? '{{showClasses[5].className}}' : '{{showClasses[6].className}}'">
                        <div class='panel-body'><img class="bckImg" data-ng-src='{{show.channelId}}'/></div>
                        <div class='panel-footer'>
                            <dl>
                                <dt>{{show.showTitle}}</dt>
                                <dd>{{show.showDescription}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catTitle"><span class="catLine_l"></span><span class="catName" translate="SHOWS_TITLE_ENTERTAINMENT">entertainment</span><span class="catLine_r"></span></div>
            <div class="shwsCtgry">
                <div class="{{showClasses[2].className}} {{showClasses[3].className}} {{showClasses[4].className}} {{showClasses[0].className}}" data-ng-class="{'{{showClasses[1].className}}':$index == selectedIndex3}" data-ng-click="itemClicked3($index)" data-ng-repeat="show in shows3">
                    <div class="shwPanel" data-ng-class="($index==selectedIndex3) ? '{{showClasses[6].className}}' : '{{showClasses[5].className}}'">
                        <div class='panel-body'><img data-ng-src='{{show.showBanner}}'/></div>
                        <div class='panel-footer'>
                            <dl>
                                <dt>{{show.showTitle}}</dt>
                                <dd>{{show.showDescriptionContent}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="shwPanel" data-ng-class="($index==selectedIndex3) ? '{{showClasses[5].className}}' : '{{showClasses[6].className}}'">
                        <div class='panel-body'><img class="bckImg" data-ng-src='{{show.channelId}}'/></div>
                        <div class='panel-footer'>
                            <dl>
                                <dt>{{show.showTitle}}</dt>
                                <dd>{{show.showDescriptionContent}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
