<div id="showsBox" class="shows-panel content-background" data-ng-controller="showsCtrl">
    <div class="show-channels box-shadow jumbotron">
        <div class="shows-container container">
            <div class="category-title"><span class="category-line-left"></span><span class="category-name" translate="SHOWS_TITLE_SPORTS"></span><span class="category-line-right"></span></div>
            <div class="shows-category">
                <div class="{{showClasses[2].className}} {{showClasses[3].className}} {{showClasses[4].className}} {{showClasses[0].className}}" data-ng-class="{'{{showClasses[1].className}}':$index == selectedIndex1}" data-ng-click="itemClicked1($index)" data-ng-repeat="show in shows1">
                    <div class="show-panel" data-ng-class="($index===selectedIndex1) ? '{{showClasses[6].className}}' : '{{showClasses[5].className}}'">
                        <div class="panel-body"><img data-ng-src="{{show.showBanner}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.showTitle}}"></dt>
                                <dd translate="{{show.showDescriptionContent}}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="show-panel" data-ng-class="($index===selectedIndex1) ? '{{showClasses[5].className}}' : '{{showClasses[6].className}}'">
                        <div class="panel-body"><img class="back-image" data-ng-src="{{show.channelId}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.showTitle}}"></dt>
                                <dd translate="{{show.showDescription}}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-title"><span class="category-line-left"></span><span class="category-name" translate="SHOWS_TITLE_NEWS"></span><span class="category-line-right"></span></div>
            <div class="shows-category">
                <div class="{{showClasses[2].className}} {{showClasses[3].className}} {{showClasses[4].className}} {{showClasses[0].className}}" data-ng-class="{'{{showClasses[1].className}}':$index === selectedIndex2}" data-ng-click="itemClicked2($index)" data-ng-repeat="show in shows2">
                    <div class="show-panel" data-ng-class="($index===selectedIndex2) ? '{{showClasses[6].className}}' : '{{showClasses[5].className}}'">
                        <div class="panel-body"><img data-ng-src="{{show.showBanner}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.showTitle}}"></dt>
                                <dd translate="{{show.showDescriptionContent}}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="show-panel" data-ng-class="($index===selectedIndex2) ? '{{showClasses[5].className}}' : '{{showClasses[6].className}}'">
                        <div class="panel-body"><img class="back-image" data-ng-src="{{show.channelId}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.showTitle}}"></dt>
                                <dd translate="{{show.showDescription}}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-title"><span class="category-line-left"></span><span class="category-name" translate="SHOWS_TITLE_ENTERTAINMENT"></span><span class="category-line-right"></span></div>
            <div class="shows-category">
                <div class="{{showClasses[2].className}} {{showClasses[3].className}} {{showClasses[4].className}} {{showClasses[0].className}}" data-ng-class="{'{{showClasses[1].className}}':$index===selectedIndex3}" data-ng-click="itemClicked3($index)" data-ng-repeat="show in shows3">
                    <div class="show-panel" data-ng-class="($index===selectedIndex3) ? '{{showClasses[6].className}}' : '{{showClasses[5].className}}'">
                        <div class="panel-body"><img data-ng-src="{{show.showBanner}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.showTitle}}"></dt>
                                <dd translate="{{show.showDescriptionContent}}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="show-panel" data-ng-class="($index===selectedIndex3) ? '{{showClasses[5].className}}' : '{{showClasses[6].className}}'">
                        <div class="panel-body"><img class="back-image" data-ng-src="{{show.channelId}}"/></div>
                        <div class="panel-footer">
                            <dl>
                                <dt translate="{{show.showTitle}}"></dt>
                                <dd translate="{{show.showDescription}}"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
