<div class="contentarea">
    <div class="setting-box">
        <h1><span>SIGN UP SUCCESS</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">
                    <p class="text-center">Congrats! You are successfully signed up with YipTV. Please click the button or link in the email we have just sent you to verify your account.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
