<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box">
        <h1><span translate="SIGN_UP_SUCCESS_LOGIN_HEADING">Congrats!</span></h1>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="text-center" translate="SIGN_UP_SUCCESS_LOGIN_MESSAGE">You are successfully signed up with YipTV. You can now <a href="/sign-in">Sign In.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
