<!-- Content Area -->
<div class="contentarea">
  <div class="setting-box1">
    <h1><span>SIGN IN</span></h1>
    <div class="container">
      <div class="forgot-box">
        EMAIL <br>
        <input type="text" class="txtbox-error" >
        <span class="error-msg">ENTERED EMAIL IS INVALID</span>
        <br><br>PASSWORD <br>
        <input type="text" class="txtbox2" >
        <br><div class="chkbox"><input type="checkbox" name="1" class="styled" /> REMEMBER ME </div>
        <br><br>
        <input type="button" value="Sign In" class="btn-submit">
        <br><br><div class="btm-link"><a href="forgot-password.html" class="forgot">FORGOT PASSWORD?</a> <span>|</span> NOT REGISTERED YET? <a href="sign-up.html">SIGN UP</a></div>
      </div>
    </div>
  </div>
  <div class="btm-bg">&nbsp;</div>
</div>
<!-- /.Content Area -->
