<div class="contentarea">
    <div class="setting-box1">
        <h1><span class="heading" translate="SIGN_IN_HEADING">Sign In</span></h1>

        <div class="container">
            <div class="forgot-box">
                <form name="form" id="form" ng-submit="signIn()" novalidate>
                    <span class="label" translate="SIGN_IN_EMAIL">Email</span><br>
                    <input name="email" id="email" maxlength="50" autocomplete="off" type="email" class="txtbox2" ng-model="user.email" required ng-class="{'txtbox-error': form.email.$dirty && form.email.$invalid}" />
                    <span ng-show="form.email.$dirty && form.email.$error.email" class="error-msg" translate="SIGN_IN_EMAIL_INVALID">Enter a valid email</span>
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="error-msg" translate="SIGN_IN_EMAIL_REQUIRED">Enter your email</span>
                    <br><br>
                    <span class="label" translate="SIGN_IN_PASSWORD">Password</span><br>
                    <input name="password" id="password" maxlength="20" autocomplete="off" type="password" class="txtbox2" ng-model="user.password" required ng-class="{'txtbox-error': form.password.$dirty && form.password.$invalid}"/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="error-msg" translate="SIGN_IN_PASSWORD_REQUIRED">Enter your email</span>
                    <br>
                    <!--<div class="chkbox"><input type="checkbox" name="1" class="styled"/> REMEMBER ME</div>-->
                    <br><br>
                    <button type="submit" translate="SIGN_IN_SUBMIT_BUTTON" class="btn-submit">
                        Sign In</button>
                    <br><br>
                    <div class="btm-link">
                        <span class="not-registered" translate="SIGN_IN_FORGOT_PASSWORD">Forgot Password?</span>
                        <a href="/forgot-password" translate="SIGN_IN_RESET_PASSWORD">Reset Password</a>
                        <span>|</span><span class="not-registered" translate="SIGN_IN_NOT_REGISTERED">Not Registered Yet?</span>
                        <a href="/sign-up" translate="SIGN_IN_SIGN_UP">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
