<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="about-box">
        <h1><span translate="TOUS_HEADING">TERMS OF USE/SERVICE ("TOUS")</span></h1>

        <div class="container">
            <div class="about-us">

                <div class="about-desc">

                    <div class="about-text" translate="TOUS_DATE"></div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER1"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA1">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA2">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER2"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA3">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER3"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA4">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA5">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA6">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA7">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA8">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA9">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA10">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA11">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA12">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA13">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA14">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA15">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER4"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA16">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA17">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA18">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA19">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA20">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA21">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA22">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER5"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA23">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER6"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA24">
                    </div>
                    <br>

                    <ul class="content-list align-text">
                        <li translate="TOUS_PARA24_BULLET1"></li>
                        <li translate="TOUS_PARA24_BULLET2"></li>
                        <li translate="TOUS_PARA24_BULLET3"></li>
                        <li translate="TOUS_PARA24_BULLET4"></li>
                        <li translate="TOUS_PARA24_BULLET5"></li>
                        <li translate="TOUS_PARA24_BULLET6"></li>
                        <li translate="TOUS_PARA24_BULLET7"></li>
                        <li translate="TOUS_PARA24_BULLET8"></li>
                        <li translate="TOUS_PARA24_BULLET9"></li>
                        <li translate="TOUS_PARA24_BULLET10"></li>
                        <li translate="TOUS_PARA24_BULLET11"></li>
                        <li translate="TOUS_PARA24_BULLET12"></li>
                        <li translate="TOUS_PARA24_BULLET13"></li>
                        <li translate="TOUS_PARA24_BULLET14"></li>
                        <li translate="TOUS_PARA24_BULLET15"></li>
                        <li translate="TOUS_PARA24_BULLET16"></li>
                        <li translate="TOUS_PARA24_BULLET17"></li>
                        <li translate="TOUS_PARA24_BULLET18"></li>
                        <li translate="TOUS_PARA24_BULLET19"></li>
                    </ul>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER7"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA25">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER8"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA26">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA27">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA28">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER9"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA29">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA30">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA31">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA32">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER10"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA33">
                    </div>
                    <br>

                    <div class="tous-address" translate="TOUS_ADDRESS">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA34">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER11"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA35">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA36">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA37">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA38">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA39">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA40">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA41">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA42">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA43">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA44">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA45">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER12"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA46">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA47">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA48">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA49">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA50">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA51">
                    </div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA52">
                    </div>
                    <br>

                    <div class="tous-main-header" translate="TOUS_HEADER13"></div>
                    <br>

                    <div class="align-text" translate="TOUS_PARA53">
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="btm-bg">&nbsp;</div>
</div>
