<header access-level="accessLevels.user">
    <div id="headerBrand">
        <span><a href="/"><img src="images/logo.png" alt=""/></a></span>

        <div class="right-menu">
            <div class="menu-button">
                <a href="#" ng-click="changeLanguage()" translate="INDEX_OTHER_LANGUAGE" class="ng-scope"></a></div>
            <div class="menu-button">
                <a href="#" ng-click="signOut()" access-level="accessLevels.user" translate="INDEX_SIGN_OUT"></a>
            </div>
            <div class="event-data"><span><marquee ng-bind="app.eventData"></marquee></span></div>

        </div>
        <div class="menu-header">
            <div class="menu-sub-header position-div">
                <span class="menu-user-name" ng-bind="user.firstName"></span>

                <div class="header-time position-div" current-time></div>
                <div class="header-event position-div btn-info" translate="USER_HOME_EVENT"></div>
            </div>
        </div>
    </div>

    <nav id="navBar">
        <div class="menu">
            <div id="headerButtons" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" data-toggle="collapse" data-target="#profileDropDown" data-parent="#dropDowns" aria-expanded="false" aria-controls="profileDropDown">
                    <input type="radio" name="options" id="optionProfile" autocomplete="off"><span translate="USER_HOME_PROFILE"></span>
                </label>
                <label class="btn btn-primary" data-toggle="collapse" data-target="#billingDropDown" data-parent="#dropDowns" aria-expanded="false" aria-controls="billingDropDown">
                    <input type="radio" name="options" id="optionBilling" autocomplete="off"><span translate="USER_HOME_BILLING"></span>
                </label>
            </div>
            <div id="dropDowns">
                <div class="panel">
                    <div class="collapse" id="profileDropDown">
                        <div class="well" data-toggle="buttons">
                            <button id="preferencesButton" class="btn btn-default" data-parent="#buttonDropDowns" data-toggle="collapse" data-target="#preferencesDropDown" aria-expanded="false" aria-controls="preferencesDropDown" translate="USER_HOME_PREFERENCES"></button>
                            <button id="userInfoButton" class="btn btn-default" data-parent="#buttonDropDowns" data-toggle="collapse" data-target="#userInfoDropDown" aria-expanded="false" aria-controls="userInfoDropDown" translate="USER_HOME_USER_INFO"></button>
                            <button id="changePasswordButton" class="btn btn-default" data-parent="#buttonDropDowns" data-toggle="collapse" data-target="#changePasswordDropDown" aria-expanded="false" aria-controls="changePasswordDropDown" translate="USER_HOME_CHANGE_PASSWORD"></button>
                        </div>
                        <div id="buttonDropDowns">
                            <div class="panel">
                                <div class="collapse" id="preferencesDropDown">
                                    <div class="well" id="preferencesContent" ng-include="'views/preferences.html'"></div>
                                </div>
                                <div class="collapse" id="userInfoDropDown">
                                    <div class="well" id="userInfoContent" ng-include="'views/user-info.html'"></div>
                                </div>
                                <div class="collapse" id="changePasswordDropDown">
                                    <div class="well" id="changePasswordContent" ng-include src="'views/change-password.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="billingDropDown">
                        <div id="upgradeDropDown" class="well">
                            <div id="upgradeContent" ng-include="'views/upgrade-subscription.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="scrns" class="ease scrnsMaximized" ng-include="'views/home-scrns.html'"></div>
<div id="chnls" ng-include="'views/home-chnls.html'"></div>
<div id="guide" ng-include="'views/home-guide.html'"></div>
