<div id="Bnr_Bx" class="usr_Scrns_pnl cntntBxBck pc" data-ng-controller="usrBnrsCntrlr" resize notifier="notifyServiceOnChage(params)" >
    <div class='jumbotron'>
        <div class="banner" ng-show="webSliderLoaded">
            <div class="banner-wrap">
                <div id="carousel-banner" class="carousel slide" bootstrap-carousel interval="4000">
					<span>height: {{windowHeight}} - width: {{windowWidth}}</span>
                    <ul id="mbl_bnr_P" class="carousel-inner">
                        <li class="item active">
                            <div translate="BANNER_1_DESKTOP">
                                <img src="../img/pc/en/dsktp_1.jpg" usemap="#Map1" alt="tablet Image"/>
                                <map name="Map1" id="Map1">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="21, 279, 305, 349"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_2_DESKTOP">
                                <img src="../img/pc/en/dsktp_2.jpg" usemap="#Map2" alt="tablet Image">
                                <map name="Map2" id="Map2">
                                    <area alt="" title="" href="/sign-up/paid" shape="rect" coords="42, 229, 316, 413"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_3_DESKTOP"><img src="../img/pc/en/dsktp_3.jpg" usemap="#Map3" alt="tablet Image">
                                <map name="Map3" id="Map3">
                                    <area shape="rect" href="https://itunes.apple.com/us/app/yiptv/id972197370?mt=8&ign-mpt=uo%3D4" coords="244, 270, 411, 335"/>
                                    <area shape="rect" href="https://play.google.com/store/apps/details?id=com.yiptv.android.client2" coords="69, 272, 240, 335"/>
                                </map>
                            </div>
                        </li>
                        <li class="item">
                            <div translate="BANNER_4_DESKTOP"><img src="../img/pc/en/dsktp_4.jpg" usemap="#Map4" alt="tablet Image">
                                <map name="Map4" id="Map4">
                                    <area alt="" title="" href="/sign-up/free" shape="rect" coords="46, 215, 309, 297"/>
                                </map>
                            </div>
                        </li>
                    </ul>

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-banner" data-slide-to="1"></li>
                        <li data-target="#carousel-banner" data-slide-to="2"></li>
                        <li data-target="#carousel-banner" data-slide-to="3"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
