<div class="content-area">
    <div class="user-home-box">
        <div class="user-home-wrap">
            <img src="img/banner4.jpg" alt="...">

            <div class="caption">
                <div style="position:relative;margin: 0 auto">
                    <button ng-click="openAio()" type="button" translate="USER_HOME_WATCH_NOW">Watch Now</button>
                    <br>
                    <button goto="/account" type="button" translate="USER_HOME_ACCOUNT">Account</button>
                    <br>
                    <button goto="/refer-a-friend" type="button" translate="USER_HOME_REFER_FRIEND">Refer a Friend</button>
                    <br>
                    <button goto="/contact-us" type="button" translate="USER_HOME_CONTACT_US">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</div>
