<div class="content-area">
    <div class="content-box">
        <h1><span translate="USER_DETAILS_HEADING"></span></h1>

        <div class="container">
            <div class="form-box">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <form name="form" id="form" ng-submit="getUserDetails()" novalidate>
                    <span class="label-text" translate="USER_DETAILS_EMAIL"></span><br>
                    <input autofocus name="email" is-email id="email" maxlength="50" autocomplete="off" type="text" class="text-box" ng-model="mv.email" required ng-class="{'text-box-error': form.email.$dirty && form.email.$invalid}"/>

                    <div ng-show="form.email.$dirty && form.email.$error.required" class="error-message" translate="USER_DETAILS_EMAIL_REQUIRED"></div>
                    <div ng-show="form.email.$dirty && !form.email.$error.required && form.email.$error.isEmail" class="error-message" translate="USER_DETAILS_EMAIL_INVALID"></div>
                    <br><br>
                    <button ng-disabled="saving" type="submit" translate="USER_DETAILS_SUBMIT_BUTTON" class="submit-button"></button>
                    <br><br>
                </form>
                <div class="full-form center-text" ng-show="showDetails">
                    <div class="header-label" translate="USER_DETAILS_FIRST_NAME"></div>
                    <div class="value-label" ng-bind="user.firstName"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_LAST_NAME"></div>
                    <div class="value-label" ng-bind="user.lastName"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_EMAIL"></div>
                    <div class="value-label" ng-bind="user.email"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_TELEPHONE"></div>
                    <div class="value-label" ng-bind="user.telephone"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_CREATED_AT"></div>
                    <div class="value-label" ng-bind="user.createdAt | date:'medium'"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_STATUS"></div>
                    <div class="value-label" ng-bind="user.status"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_TYPE"></div>
                    <div class="value-label" ng-bind="user.account.type"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_AIO_ACCOUNT_ID"></div>
                    <div class="value-label" ng-bind="user.account.aioAccountId"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_FREESIDE_CUSTOMER_NUMBER"></div>
                    <div class="value-label" ng-bind="user.account.freeSideCustomerNumber"></div>
                    <br>
                    <div class="header-label" translate="USER_DETAILS_REFERRAL_CODE"></div>
                    <div class="value-label" ng-bind="user.account.referredBy"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
