<div class="content-area">
    <div class="user-home-box">
        <div class="user-home-wrap">
            <img src="images/background.jpg" alt="...">

            <div class="caption">
                <div id="userHomeBox">
                    <button ng-click="openAio()" type="button" translate="USER_HOME_WATCH_NOW">Watch Now</button>
                    <br>
                    <button goto="/account" type="button" translate="USER_HOME_ACCOUNT"></button>
                    <br>
                    <button goto="/refer-a-friend" type="button" translate="USER_HOME_REFER_FRIEND"></button>
                    <br>
                    <button goto="/contact-us" type="button" translate="USER_HOME_CONTACT_US"></button>
                </div>
            </div>
        </div>
    </div>
</div>
