<div class="content-area" ng-controller="userInfoCtrl">
    <div class="content-box">
        <div class="container dropdown-width">
            <div class="form-box">

                <form name="form" id="form" ng-submit="updateUserProfile()" novalidate>
                    <div class="form-container">

                        <div class="half-form">
                            <span class="label-text" translate="SIGN_UP_FIRST_NAME"></span>
                            <br><input autofocus valid-name autocomplete="off" id="firstName" maxlength="20" name="firstName" ng-model="mv.firstName" type="text" class="text-box" required ng-class="{'text-box-error': form.firstName.$dirty && form.firstName.$invalid}">

                            <div class="error-message" ng-show="form.firstName.$dirty && form.firstName.$error.required" translate="SIGN_UP_FIRST_NAME_REQUIRED"></div>
                            <div class="error-message" ng-show="form.firstName.$dirty && !form.firstName.$error.required && form.firstName.$error.validName" translate="SIGN_UP_FIRST_NAME_INVALID"></div>
                        </div>
                        <div class="half-form">
                            <span class="label-text" translate="SIGN_UP_LAST_NAME"></span>
                            <br><input valid-name autocomplete="off" maxlength="20" type="text" id="lastName" name="lastName" ng-model="mv.lastName" class="text-box" required ng-class="{'text-box-error': form.lastName.$dirty && form.lastName.$invalid}">

                            <div class="error-message" ng-show="form.lastName.$dirty && form.lastName.$error.required" translate="SIGN_UP_LAST_NAME_REQUIRED">Enter your last name</div>
                            <div class="error-message" ng-show="form.lastName.$dirty && !form.lastName.$error.required && form.lastName.$error.validName" translate="SIGN_UP_LAST_NAME_INVALID"></div>
                        </div>
                    </div>
                    <div class="full-form">
                        <span class="label-text" translate="SIGN_UP_TELEPHONE"></span><br>
                        <input autocomplete="off" type="text" maxlength="12" required is-us-phone-number id="telephone" name="telephone" ng-model="mv.telephone" class="text-box" ng-class="{'text-box-error': form.telephone.$dirty && form.telephone.$invalid}">

                        <div class="error-message" ng-show="form.telephone.$dirty && form.telephone.$error.required" translate="SIGN_UP_TELEPHONE_REQUIRED"></div>
                        <div class="error-message" ng-show="form.telephone.$dirty && !form.telephone.$error.required && form.telephone.$error.isUsPhoneNumber" translate="SIGN_UP_TELEPHONE_INVALID"></div>
                    </div>
                    <div class="full-form">
                        <button ng-disabled="saving" type="submit" class="submit-button sign-up-button" translate="SIGN_UP_SUBMIT_BUTTON"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
