<div id="Abt_Bx" class="usr_Menu_pnl mnuShdw cntntBxBck">
    <div class='pg5_chnls col-lg-12'>
        <h3 class='pg5_title' translate="ABOUT_US_ABOUT_HEADER1">About YipTV</h3>
    </div>
    <div id='abtCntnt' class='jumbotron'>
        <div id="abtCopy" class='container'>
            <aside class='abt_left'>
                <article>
                    <p translate="ABOUT_US_PARA1">
                        YipTV is unlike anything else because our Internet TV is focused on providing you with international programs that your family and friends back home are watching now! Why should you be limited to old, poor-quality web clips? YipTV save you money and keeps you current with what’s going on back in your home country and around the globe.
                    </p>

                    <p translate="ABOUT_US_PARA2">
                        Now you can watch LIVE TV from around the world here in the U.S. With our LIVE TV stream you get TV programs you can’t find anywhere else. Stop paying extra for Spanish channels. With YipTV, you get more for less. Today, we offer Spanish TV shows that include news, sports and entertainment. The best part is that we’re adding new channels every month. Very soon, we will expand to include LIVE TV from other regions of the world and in other languages. With YipTV, you can watch LIVE TV online on your smartphone, tablet, PC or Internet-connected TV.
                    </p>

                    <p translate="ABOUT_US_PARA3">
                        What’s the best part about YipTV? Getting LIVE TV from around the world at home or on the go for one, low monthly price with no contracts, fees or credit checks or hardware installations.
                    </p>
                </article>
            </aside>

            <aside class='abt_right'>
                <article>
                    <h4 translate="ABOUT_US_ABOUT_HEADER3">Where to watch YipTV</h4>

                    <p translate="ABOUT_US_PARA5">
                        Do you want LIVE TV coverage of your favorite international soccer teams throughout the entire competition? How about important late breaking news from your hometown? With YipTV you can! Watch LIVE sports, LIVE entertainment, comedy shows, lifestyle channels, movies and more. YipTV brings LIVE TV right to you in high digital video quality so it’s like you are right there, in on the action!
                    </p>

                </article>
                <article>
                    <h4 translate="ABOUT_US_ABOUT_HEADER4">How YipTV works</h4>

                    <p translate="ABOUT_US_PARA6">
                        YipTV uses satellite signals and the Internet to stream our digital, high quality LIVE TV from all around the world directly to viewers in the U.S. YipTV plus the Internet makes it possible to watch shows from your hometown just like if you were there, with family and friends. Watch wherever there’s Internet – on a smartphone, tablet, PC and on internet-connected TVs.

                        <br/>
                        All you need to get started is a YipTV subscription and access to the Internet. YipTV’s Live TV stream works with a broadband connection or Wi-Fi, 3G, 4G or LTE connection. With the free YipTV app and your Internet connection, you are on your way to an exclusive LIVE Internet TV experience like no other. You can even pause LIVE TV and miss nothing because YipTV is doing the streaming!

                    </p>
                </article>
            </aside>
        </div>
    </div>
</div>
