<div class="content-area">
    <div class="top-bg">&nbsp;</div>
    <div class="setting-box" ng-hide="showPassword">
        <h1><span>{{heading | translate}}</span></h1>

        <div class="container marketing" >
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p ng-hide="error" class="text-center">{{message | translate}}</p>

                    <p ng-show="error" class="text-center">{{message | translate}} {{appConfig.customerCareNumber}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-box" ng-show="showPassword">
        <div class="setting-box">
            <h1><span translate="VERIFY_USER_SET_PASSWORD_HEADING">Set Password</span></h1>

            <div class="container">
                <div class="sign-in-box">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <form name="form" id="form" ng-submit="setPasswordAndVerifyUser()" novalidate>
                        <span class="label-text" translate="VERIFY_USER_NEW_PASSWORD">New Password</span><br>
                        <input autofocus focus-watch="showPassword" focus-value="true" required complex-password ng-model="mv.newPassword" id="newPassword" name="newPassword" maxlength="20" type="password" autocomplete="off" class="txtbox1" ng-class="{'txtbox-error': form.newPassword.$dirty && form.newPassword.$invalid}">

                        <div class="error-msg" ng-show="form.newPassword.$dirty && form.newPassword.$error.required" translate="VERIFY_USER_NEW_PASSWORD_REQUIRED">Enter your password</div>
                        <div class="error-msg" ng-show="form.newPassword.$dirty && !form.newPassword.$error.required && form.newPassword.$error.complexity" translate="VERIFY_USER_NEW_PASSWORD_NOT_COMPLEX">Password needs to be at least 8 characters, contain 1 uppercase & 1 lowercase letter, 1 number & 1 special character</div>
                        <br><br><span class="label-text" translate="VERIFY_USER_CONFIRM_PASSWORD">Confirm Password</span><br>
                        <input required autocomplete="off" same-as="mv.newPassword" id="confirmPassword" name="confirmPassword" ng-model="mv.confirmPassword" maxlength="20" type="password" class="txtbox1" ng-class="{'txtbox-error': form.confirmPassword.$dirty && form.confirmPassword.$invalid}">

                        <div class="error-msg" ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" translate="VERIFY_USER_CONFIRM_PASSWORD_REQUIRED">Confirm your password</div>
                        <div class="error-msg" ng-show="form.confirmPassword.$dirty && !form.confirmPassword.$error.required && form.confirmPassword.$error.sameAs" translate="VERIFY_USER_CONFIRM_PASSWORD_NO_MATCH">Passwords do not match</div>
                        <br><br><br>

                        <button type="submit" ng-disabled="saving" class="btn-submit" translate="VERIFY_USER_BUTTON">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="btm-bg">&nbsp;</div>
</div>