<!-- Content Area -->
<div class="contentarea">
  <div class="setting-box1">
    <h1><span>RESET PASSWORD</span></h1>
    <div class="container">
      <div class="forgot-box">
        ENTER NEW PASSWORD <br>
        <input type="text" class="txtbox1" >
        <br>RE-ENTER NEW PASSWORD <br>
        <input type="text" class="txtbox1" >
        <br>
        <input type="button" value="Submit" class="btn-submit">
      </div>
    </div>
  </div>
  <div class="btm-bg">&nbsp;</div>
</div>
<!-- /.Content Area -->
