<!-- Content Area -->
<div class="contentarea">
  <div class="setting-box1">
    <h1><span>SIGN UP</span></h1>
    <div class="container">
      <div class="signup-box">
        <div class="frm">
          <div class="frm-left1">
            FIRST NAME
            <br><input type="text" class="txtbox2" >
          </div>
          <div class="frm-right1">
            LAST NAME
            <br><input type="text" class="txtbox1" ></div>
        </div>
        <div class="frm-btn">EMAIL <br>
          <input type="text" class="txtbox-error" >
          <span class="error-msg">ENTERED EMAIL IS INVALID</span></div>
        <div class="frm-btn">PASSWORD <br>
          <input type="text" class="txtbox2" ></div>
        <div class="frm">
          <div class="frm-left">
            CREDIT CARD NUMBER
            <br><input type="text" class="txtbox2" >
          </div>
          <div class="frm-right">
            CVV
            <br><input type="text" class="txtbox1" ></div>
        </div>
        <div class="frm">
          <div class="frm-left">
            EXPIRY DATE
            <br><select class="selectbox"><option>Select</option></select> <select class="selectbox1"><option>Select</option></select>
          </div>
          <div class="frm-right">
            ZIPCODE
            <br><input type="text" class="txtbox1" >
          </div>
        </div>
        <div class="frm-btn btm-link">BY CLICKING <a href="sign-up.html">"SIGN UP"</a> BELOW, YOU ARE AGREEING TO THE YIPTV<br><a href="#">TERMS AND CONDITIONS</a> AND <a href="#">PRIVACY POLICY</a> </div>
        <div class="frm-btn">
          <input type="button" value="Sign UP" class="btn-submit">
        </div>
        <div class="frm-btn btm-link">ALREADY HAVE AN ACCOUNT ? <a href="sign-in.html">SIGN IN</a></div>
      </div>
    </div>
  </div>
  <div class="btm-bg">&nbsp;</div>
</div>
<!-- /.Content Area -->
