<!doctype html>
<html ng-app="app" ng-controller="mainCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="fragment" content="!"/>
    <meta name="description" content="Watch over 60+ Spanish & USA TV shows and channels in a variety of genres such as news, sports, lifestyle, and entertainment. No Contracts or cable needed.">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="keywords" content="YipTV,TV,Online TV,IP TV">
    <base href="/">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="apple-touch-icon.png" rel="apple-touch-icon" type="image/png"/>
    <style>
        .ng-hide {
            display: none !important;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/app.css -->
    <link rel="stylesheet" href="styles/app.css"/>
    <!-- endbuild -->
    <title>YipTV - Watch Live Internet TV & Spanish Channels Online</title>
</head>
<body id="topOfPage">
<!--[if lt IE 9]>
<p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.</p>
<![endif]-->
<div access-level="accessLevels.anon">
    <header id="desktopHeader">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div>
                <div class="nav-picture">
                    <img class="img-responsive" src="images/logo.png" alt="">
                </div>
                <div class="top-nav-div">
                    <div class="container">
                        <div class="topright">
                            <ul class="hidden-xs">
                                <li>
                                    <a class="number-contact" translate="INDEX_CONTACT_NUMBER"></a>
                                </li>
                                <li>
                                    <a href="#" ng-click="changeLanguage()" translate="INDEX_OTHER_LANGUAGE" class="ng-scope"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom-nav-div">
                    <div class="navbar-header">
                        <div class="collapsed-menu-left">
                            <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" href="/sign-up/premium">1$ Premium</a>
                        </div>
                        <div class="collapsed-menu-right">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" href="https://www.yiptv.com/live-tv/index.php/es/" hreflang="es">Español</a>
                        </div>
                    </div>
                    <div class="container">
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav hidden-xs">
                                <li>
                                    <a href="https://www.yiptv.com/live-tv/index.php/en/tv-channels/">Channels</a>
                                </li>
                                <li>
                                    <a href="https://www.yiptv.com/live-tv/index.php/en/how-to-watch/">How to Watch</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right hidden-xs">
                                <li>
                                    <a href="/sign-in">Login/Watch Now</a>
                                </li>
                                <li class="premium-button-purple">
                                    <a href="/sign-up/premium">1$ Premium</a>
                                </li>
                            </ul>
                            <ul class="coll-menu visible-xs">
                                <li>
                                    <a href="/sign-up/free">Join Free</a>
                                </li>
                                <li>
                                    <a href="/sign-up/premium">Join Premium for $1</a>
                                </li>
                                <li>
                                    <a href="https://www.yiptv.com/live-tv/index.php/en/tv-channels/">Channels</a>
                                </li>
                                <li>
                                    <a>FAQs</a>
                                </li>
                                <li>
                                    <a translate="INDEX_CONTACT_NUMBER"></a>
                                </li>
                                <li>
                                    <a href="/sign-in">Watch Now!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>
<div id="topBox" ng-view autoscroll="true"></div>
<footer class="top-shadow" access-level="accessLevels.anon">
    <span id="socialMedia" translate="INDEX_SOCIAL_MEDIA"></span>
    <span id="copyright" translate="INDEX_COPYRIGHT"></span>
</footer>
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.min.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<script src="scripts/external/jwplayer.js"></script>
<script src="scripts/external/jwplayer.html5.js"></script>
<script type="text/javascript">jwplayer.key = "G2xm275XRmGz+cFVwR3m/6RneCY9v7e4zZEnvg==";</script>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-webstorage/angular-webstorage.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/async/dist/async.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics-google-analytics/lib/angulartics-google-analytics.js"></script>
<script src="bower_components/angulartics-google-tag-manager/lib/angulartics-google-tag-manager.js"></script>
<script src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/scripts.js -->
<script src="scripts/external/angular-pageslide-directive.js"></script>
<script src="scripts/external/angular-payments.js"></script>
<script src="scripts/config/app.js"></script>
<script src="scripts/config/routing.js"></script>
<script src="scripts/config/config.js"></script>
<script src="scripts/config/routes.js"></script>
<script src="scripts/directives/access-level.js"></script>
<script src="scripts/directives/valid-name.js"></script>
<script src="scripts/directives/is-email.js"></script>
<script src="scripts/directives/is-email-or-us-phone.js"></script>
<script src="scripts/directives/valid-address.js"></script>
<script src="scripts/directives/is-us-phone-number.js"></script>
<script src="scripts/directives/valid-email-list.js"></script>
<script src="scripts/directives/is-sign-up-allowed.js"></script>
<script src="scripts/directives/complex-password.js"></script>
<script src="scripts/directives/password-strength.js"></script>
<script src="scripts/directives/same-as.js"></script>
<script src="scripts/directives/not-same-as.js"></script>
<script src="scripts/directives/goto.js"></script>
<script src="scripts/directives/channel-logo.js"></script>
<script src="scripts/directives/current-time.js"></script>
<script src="scripts/directives/pip-screen.js"></script>
<script src="scripts/directives/combine-horizontal-scrolls.js"></script>
<script src="scripts/translate/en.js"></script>
<script src="scripts/translate/es.js"></script>
<script src="scripts/config/translate.js"></script>
<script src="scripts/services/app-service.js"></script>
<script src="scripts/services/user-service.js"></script>
<script src="scripts/services/logger-service.js"></script>
<script src="scripts/services/token-service.js"></script>
<script src="scripts/services/browser-service.js"></script>
<script src="scripts/services/media-service.js"></script>
<script src="scripts/services/player-service.js"></script>
<script src="scripts/controllers/main-controller.js"></script>
<script src="scripts/controllers/home-controller.js"></script>
<script src="scripts/controllers/modal-controller.js"></script>
<script src="scripts/controllers/sign-up-controller.js"></script>
<script src="scripts/controllers/free-sign-up-controller.js"></script>
<script src="scripts/controllers/complimentary-sign-up-controller.js"></script>
<script src="scripts/controllers/sign-in-controller.js"></script>
<script src="scripts/controllers/upgrade-subscription-controller.js"></script>
<script src="scripts/controllers/forgot-password-controller.js"></script>
<script src="scripts/controllers/reset-password-controller.js"></script>
<script src="scripts/controllers/user-home-controller.js"></script>
<script src="scripts/controllers/preferences-controller.js"></script>
<script src="scripts/controllers/change-credit-card-controller.js"></script>
<script src="scripts/controllers/common-controller.js"></script>
<script src="scripts/controllers/contact-us-controller.js"></script>
<script src="scripts/controllers/verify-user-controller.js"></script>
<script src="scripts/controllers/change-password-controller.js"></script>
<script src="scripts/controllers/resend-verification-controller.js"></script>
<script src="scripts/controllers/refer-a-friend-controller.js"></script>
<script src="scripts/controllers/user-info-controller.js"></script>
<script src="scripts/controllers/invite-controller.js"></script>
<script src="scripts/controllers/pin-verification-controller.js"></script>
<script src="scripts/controllers/sign-up-verification-controller.js"></script>
<script src="scripts/controllers/free-sign-up-success-controller.js"></script>
<script src="scripts/controllers/sign-up-success-controller.js"></script>
<script src="scripts/controllers/player-controller.js"></script>
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<script type="text/ng-template" id="modalWindow">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="modalTitle"></h3>
    </div>
    <div class="modal-body" ng-bind="modalBody">
    </div>
    <div class="modal-footer">
        <button ng-show="showOkButton" class="submit-button modal-button" ng-click="ok()" translate="INDEX_OK_BUTTON"></button>
        <button ng-show="showYesButton" class="submit-button modal-button" ng-click="yes()" translate="INDEX_YES_BUTTON"></button>
        <button ng-show="showNoButton" class="submit-button modal-button" ng-click="no()" translate="INDEX_NO_BUTTON"></button>
    </div>
</script>
<!-- GTM -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MKGQRV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-MKGQRV');</script>
<!-- GTM -->
</body>
</html>
